openapi: 3.0.1
info:
  version: 1.0.0
  title: Segurança
servers:
  - url: 'https://login.sandbox.bankly.com.br'
paths:
  /connect/token:
    post:
      summary: Obtenha um token de acesso
      description: |
        <div class="bkly-ref-description">
          <p>Obtenha um token de acesso para a api desejada.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
        </div>
      operationId: PostAuth
      tags:
        - Token de acesso
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthForm'
      responses:
        '200':
          description: Token de acesso gerado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
              examples:
                authResponse:
                  value:
                    access_token: '{{JWT}}'
                    expires_in: 3600
                    token_type: Bearer
                    scope: '{{requested scope}}'
                  summary: Exemplo de sucesso 
        '400':
          description: Há algum problema com a sua requisição.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                authError:
                  value: 
                    error: "invalid_credentials"
                  summary: Exemplo de erro
  /totp:
    post:
      tags:
        - Totp
      operationId: CreateTotpAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: x-bkly-user-id
          in: header
          description: Número do documento do usuário final (11 dígitos para CPF e 14 para
            CNPJ).
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTotpRequest"
      responses:
        "201":
          description: Recurso criado com sucesso.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTotpResponse"
        "400":
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "500":
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        "503":
          description: O serviço está temporariamente indisponível.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
      security:
        - Bearer: []
    patch:
      tags:
        - Totp
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: x-bkly-user-id
          in: header
          description: Número do documento do usuário final (11 dígitos para CPF e 14 para
            CNPJ).
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateTotpRequest"
      responses:
        "200":
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateTotpResponse"
        "400":
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "500":
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        "503":
          description: O serviço está temporariamente indisponível.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
      security:
        - Bearer: []

components:
  schemas:
    AuthForm:
      type: object
      required:
        - grant_type
        - client_id
        - client_secret
      properties:
        grant_type:
          type: string
          default: client_credentials
          description: |
            Método pelo qual suas aplicações podem obter tokens de acesso. 
            Default: **_client_credentials_**
        client_id:
          type: string
          description: |
            O identificador publico de sua aplicação no formato (uuid v4). 
        client_secret:
          type: string
          description: >
            O segredo conhecido por sua aplicação e pelo servidor de
            autorização. 
        scope:
          type: string
          description: |
            Escopo da api que deseja acessar. 
            Consulte a [lista de scope](https://docs.bankly.com.br/docs/scopes)
    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
          description: |
            Token de acesso no formato JWT (Json Web Token).
        expires_in:
          type: string
          description: >
            Tempo de vida do token em segundos. 
            Evite solicitar novos tokens de acesso, antes do tempo de expiração.
            Default: **_3600_**
        token_type:
          type: string
          description: |
            Tipo do token retornado. 
            Default: **_Bearer_**
        scope:
          type: string
          description: |
            Escopo informado na solicitação do token de acesso.          
    Context:
      enum:
        - Pix
      type: string
    CreateTotpRequest:
      required:
        - context
        - data
        - operation
      type: object
      properties:
        userId:
          type: string
          nullable: true
          readOnly: true
        context:
          $ref: "#/components/schemas/Context"
        operation:
          $ref: "#/components/schemas/Operation"
        data: {}
      additionalProperties: false
    CreateTotpResponse:
      type: object
      properties:
        hash:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
      additionalProperties: false
    Operation:
      enum:
        - Portability
        - Ownership
        - RegisterEntry
      type: string
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
      additionalProperties: {}
    ValidateTotpRequest:
      required:
        - code
        - hash
      type: object
      properties:
        code:
          maxLength: 6
          minLength: 1
          type: string
        hash:
          minLength: 1
          type: string
        userId:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    ValidateTotpResponse:
      type: object
      properties:
        hash:
          type: string
          nullable: true
        expirationInSeconds:
          type: integer
          format: int32
      additionalProperties: false
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
