openapi: 3.0.1
info:
  version: 1.0.0
  title: Webhooks
  description: Registre, atualize, exclua e consulte webhooks de eventos.
servers:
  - url: 'https://api-mtls.sandbox.bankly.com.br'
paths:
  /webhooks/configurations:
    post:
      tags:
        - Configurações dos webhooks
      summary: Registro de um novo webhook
      description: |
        <div class="bkly-ref-description">
          <p>Registre um novo webhook para um evento Bankly.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: webhook.write</span>
        </div>  
      operationId: RegisterWebhookAsync
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      requestBody:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookRegistrationRequest"
      responses:
        '201':
          description: Recurso criado com sucesso.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
            Location:
              description: Localização do recurso recém-criado ou em análise.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HookResponseSuccessResponse"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
    
    get:
      tags:
        - Configurações dos webhooks
      summary: Consulta de todas as configurações de webhooks
      description: |
        <div class="bkly-ref-description">
          <p>Consulte todas as configurações registradas para os webhooks.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: webhook.read</span>
        </div>  
      operationId: SearchWebhookAsync
      parameters:
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/WebhookStatus"
        - name: page
          in: query
          schema:
            minimum: 1
            type: integer
            format: int32
        - name: pageSize
          in: query
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSearchResponse"  
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  
  /webhooks/configurations/{id}:
    get:
      tags:
        - Configurações dos webhooks
      summary: Consulta de configurações de webhook específico
      description: |
        <div class="bkly-ref-description">
          <p>Realize a consulta das configurações de um webhook específico.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: webhook.read</span>
        </div>  
      operationId: GetWebhookAsync
      parameters:
        - name: id
          description: Valor do ID do webhook. Ele pode ser obtido na consulta de todas as configurações de webhooks.
          in: path
          required: true
          schema:
            minLength: 1
            type: string
            format: uuid
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        '200':
          description: Recurso encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HookResponseSuccessResponse"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
    
    patch:
      tags:
          - Configurações dos webhooks
      summary: Alteração da configuração
      description: |
        <div class="bkly-ref-description">
          <p>Altere a chave pública, a chave privada e/ou a URI do endpoint dde um webhook configurado pelo parceiro.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: webhook.write</span>
        </div>  
      operationId: UpdateWebhookAsync
      parameters:
        - name: id
          in: path
          description: Valor do ID do webhook. Ele pode ser obtido na consulta de todas as configurações de webhooks.
          required: true
          schema: 
            type: string
            format: uuid
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdateRequest"
      responses:
        '200':
          description: Requisição foi processada com sucesso.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HookResponseSuccessResponse"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
    
    delete: 
      tags:
        - Configurações dos webhooks
      summary: Exclusão de configuração
      description: |
        <div class="bkly-ref-description">
          <p>Realize a exclusão de uma configuração de webhook quando necessário.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: webhook.delete</span>
        </div>  
      operationId: DeleteWebhookAsync
      parameters:
        - name: id
          in: path
          required: true
          schema:
            minLength: 1
            type: string
            format: uuid
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        '204':
          description: A requisição foi processada com sucesso, mas não há conteúdo
            a ser retornado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  
  /webhooks/processed-messages:
    get:
      tags:
        - Mensagens
      summary: Consulta de mensagens enviadas
      description: |
        <div class="bkly-ref-description">
          <p>Consulte todas as mensagens processadas por um webhook Bankly em um determinado período.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: webhook.read</span>
        </div>  
      operationId: SearchProcessedMessageAsync
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: state
          in: query
          schema:
            $ref: "#/components/schemas/ProcessedMessageState"
        - name: eventName
          in: query
          schema:
            type: string
            nullable: true
        - name: context
          in: query
          schema:
            type: string
            nullable: true
        - name: page
          in: query
          schema:
            minimum: 1
            type: integer
            format: int32
        - name: pageSize
          in: query
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        '200':
          description: Recurso encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessedMessageSearchResponse"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  
  /webhooks/processed-messages/{idempotencyKey}:
    post:
      tags:
      - Mensagens
      summary: Reprocessamento de mensagens
      description: | 
        <div class="bkly-ref-description">
          <p>Reenvie uma mensagem processada a partir de sua chave de idempotência.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope:  webhook.read</span>
        </div>
      operationId: ResendProcessedMessageAsync
      parameters:
      - name: idempotencyKey
        in: path
        required: true
        schema:
          minLength: 1
          type: string
          format: uuid
          description:  Chave de idempotência, utilizada para evitar a duplicidade de transações.
      - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
      - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      
      responses:
        '202':
          description: Recurso encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessedMessageSearchResponse"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '500':
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
  
  /webhooks/configurations/{id}/disable:
    patch:
      tags:
        -  Configurações dos webhooks
      summary: Desabilitar uma configuração
      description: |
       <div class="bkly-ref-description">
          <p>Desabilite a configuração de um webhook vinculado a um evento Bankly quando necessário.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: webhook.write</span>
        </div>  
      operationId: DisableWebhookAsync
      parameters:
        - name: id
          in: path
          required: true
          schema:
            minLength: 1
            type: string
            format: uuid
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        '204':
          description: A requisição foi processada com sucesso, mas não há conteúdo a ser retornado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  
  /webhooks/configurations/{id}/enable:
    patch:
      tags:
        -  Configurações dos webhooks
      summary: Habilitar uma configuração
      description: |
        <div class="bkly-ref-description">
          <p>Habilite a configuração de um webhook vinculado a um evento Bankly.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: webhook.write</span>
        </div>  
      operationId: EnableWebhookAsync
      parameters:
        - name: id
          in: path
          required: true
          schema:
            minLength: 1
            type: string
            format: uuid
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
      responses:
        '204':
          description: Requisição foi processada com sucesso, mas não há conteúdo
            a ser retornado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'

components:
  schemas:
    HookResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        context:
          type: string
          nullable: true
        eventName:
          type: string
          nullable: true
        uri:
          type: string
          nullable: true
        publicKey:
          type: string
          nullable: true
      additionalProperties: false 

    HookResponseSuccessResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/HookResponse"
        links:
          type: array
          items:
            $ref: "#/components/schemas/Link"
          nullable: true
          readOnly: true
        meta:
          type: object
          additionalProperties:
            type: object
            additionalProperties: false
          nullable: true
      additionalProperties: false  
     
    Link:
      type: object
      properties:
        url:
          type: string
          nullable: true
        rel:
          type: string
          nullable: true
        method:
          type: string
          nullable: true
      additionalProperties: false  
     
    ProcessedMessageSearchResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProcessedMessageSearchResponseItem"
          nullable: true
          readOnly: true
        links:
          type: array
          items:
            $ref: "#/components/schemas/Link"
          nullable: true
          readOnly: true
        meta:
          type: object
          additionalProperties:
            type: object
            additionalProperties: false
          nullable: true
      additionalProperties: false   
    
    ProcessedMessageSearchResponseItem:
      type: object
      properties:
        idempotencyKey:
          type: string
          format: uuid
          description:  Chave de idempotência, utilizada para evitar a duplicidade de transações.
        state:
          $ref: "#/components/schemas/ProcessedMessageState"
        destination:
          type: string
          nullable: true
          description: URI de destino da mensagem.
        sentDate:
          type: string
          format: date-time
          description: Data de envio da mensagem.
        eventName:
          type: string
          nullable: true
          description: Nome do evento.
        retryCount:
          type: integer
          format: int32
          description: Número de tentativas de reenvio.
        elapsedEventCapture:
          type: string
          format: date-span
          description: Tempo de captura do evento.
        elapsedHttpCall:
          type: string
          format: date-span
          description: Tempo de execução da chamada Http.
        context:
          type: string
          nullable: true
          description: Contexto em que os eventos foram enviados. 
      additionalProperties: false
    
    ProcessedMessageState:
      enum:
        - Success
        - Failed
        - Hold
      type: string
    
    WebhookRegistrationRequest:
      required:
        - context
        - eventName
        - name
        - privateKey
        - publicKey
        - uri
      type: object
      properties:
        name:
          description: Nome que o assinante deseja dar para identificar o evento. Esse nome é da escolha do parceiro.
          maxLength: 50
          minLength: 1
          type: string
        context:
          description: Nome do contexto em que o evento está sendo criado. Por exemplo, Ted.
          maxLength: 50
          minLength: 1
          type: string
        eventName:
          description: Nome do evento que está sendo assinado. Por exemplo, PIX_CASH_IN_WAS_CLEARED.
          maxLength: 150
          minLength: 1
          type: string
        uri:
          description: URI de sua API para o recebimento dos eventos.
          maxLength: 500
          minLength: 1
          type: string
        publicKey:
          description: Chave aleatória gerada pelo parceiro e que será enviada pelo Bankly nos cabeçalhos dos eventos de webhook.
          maxLength: 60
          minLength: 1
          type: string
        privateKey:
          description: Chave aleatória gerada pelo parceiro em base64, que somente o Bankly e o dono da chave conhecem.
          maxLength: 2000
          minLength: 1
          type: string
      additionalProperties: false

    WebhookSearchItemResponse:
      type: object
      properties:
        id:
          description: Valor em UUID v4 que identifica o webhook criado. Esse valor será requerido para realizar outras ações relativas às configurações do webhook.
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        eventName:
          type: string
          nullable: true
        context:
          type: string
          nullable: true
        uri:
          type: string
          nullable: true
        publicKey:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
          nullable: true
        status:
          $ref: "#/components/schemas/WebhookStatus"
      additionalProperties: false

    WebhookSearchResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WebhookSearchItemResponse"
          nullable: true
          readOnly: true
    
    WebhookStatus:
      enum:
        - Disabled
        - Enabled
      type: string
    
    WebhookUpdateRequest:
      required:
        - privateKey
        - publicKey
        - uri
      type: object
      properties:
        uri:
          description: URI de sua API para o recebimento dos eventos.
          maxLength: 500
          minLength: 1
          type: string
        publicKey:
          description: Chave enviada nos cabeçalhos dos eventos de webhook.
          maxLength: 60
          minLength: 1
          type: string
        privateKey:
          description: Chave em base64 que somente o Bankly e o dono da chave conhecem.
          maxLength: 2000
          minLength: 1
          type: string
      additionalProperties: false 