openapi: 3.0.1
info:
  version: 1.0.0
  title: Criptomoedas
servers:
  - url: 'https://api-mtls.sandbox.bankly.com.br'
paths:
  /cryptos/prices:
    get:
      tags:
        - Operações com criptomoedas 
      summary: Cotação de criptomoedas
      description: |
        <div class="bkly-ref-description">
          <p>Realize a cotação do valor para compra e venda de criptomoeda.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
           <span class="bkly-ref-scope-tag">scope: crypto.read</span>
        </div>
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Currency'
      responses:
        '200':
          description: Recurso encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceResponseObject'             
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'  
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '405':
          description: Recurso acessado com método não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '406': 
          $ref: 'http://localhost:3320/commons/components#/components/responses/406'
        '415':
          description: Formato de payload não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '429':
          description: A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string 
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
      security:
        - Bearer: []
  
  /cryptos/graphs:
    get:
      tags:
        - Operações com criptomoedas  
      summary: Cotação de criptomoedas por período 
      description: |
        <div class="bkly-ref-description">
          <p>Realize a cotação de criptomoedas de um período específico.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
          <span class="bkly-ref-scope-tag">scope: crypto.read</span>
        </div>
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Currency'
        - $ref: '#/components/parameters/Period'  
      responses:
        '200':
          description: Recurso encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphResponseObject'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'  
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '405':
          description: Recurso acessado com método não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '406': 
          $ref: 'http://localhost:3320/commons/components#/components/responses/406'
        '415':
          description: Formato de payload não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '429':
          description: A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string 
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500' 
      security:
        - Bearer: []

  /cryptos/orders:
    post:
      tags:
        - Operações com criptomoedas  
      summary: Criação de ordem de compra e venda de criptomoedas
      description: |
        <div class="bkly-ref-description">
          <p>Crie uma ordem de compra ou venda de criptomoedas.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
          <span class="bkly-ref-scope-tag">scope: crypto.create</span>
        </div>
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Idempotency-Key'         
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrder'
      responses:
        '200':
          description: Recurso criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse' 
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'  
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '405':
          description: Recurso acessado com método não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '406': 
          $ref: 'http://localhost:3320/commons/components#/components/responses/406'
        '415':
          description: Formato de payload não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '429':
          description: A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string 
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500' 
      security:
        - Bearer: []

  /cryptos/orders/{orderId}/executions:
    post:
      tags:
        - Operações com criptomoedas  
      summary: Execução de ordem de compra e venda de criptomoedas 
      description: |
        <div class="bkly-ref-description">
          <p>Realize a execução da ordem de compra ou venda de criptomoedas para efetivar uma dessas operações.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
          <span class="bkly-ref-scope-tag">scope: crypto.create</span>
        </div>
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Idempotency-Key'
        - name: orderId
          in: path
          required: true
          description: Valor retornado no campo <code>entityId</code> do endpoint de Criação de ordem de compra e venda de criptomoedas.
          schema:
            type: string  
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderExecutions'
      responses:
        '200':
          description: Recurso criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionsResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'  
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '405':
          description: Recurso acessado com método não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '406': 
          $ref: 'http://localhost:3320/commons/components#/components/responses/406'
        '415':
          description: Formato de payload não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '429':
          description: A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string 
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'     
      security:
        - Bearer: []

components:
  schemas:
    CreateOrder:
      type: object
      properties:
        account:
          type: string
          description: Número da conta de pagamento do cliente.
        typeOrder:
          type: string
          description: "Tipo de ordem (compra ou venda)."
          enum:
            - BUY
            - SELL
      required:
        - "account"
        - "typeOrder"
      
    CreateOrderExecutions:
      type: object
      properties:
        totalAmount:
          type: number 
          description: Valor total de compra ou venda das criptomoedas.
        amount:
          type: number
          description: Valor de compra ou venda das criptomoedas sem taxa.
        amountCrypto:
          type: number
          description: Valor em criptomoeda. 
        tax:
          type: number
          description: Valor da taxa aplicada à operação.
      required:
        - "totalAmount"
        - "amount"
        - "amountCrypto"
        - "tax"

    ExecutionsResponse:
      type: object
      properties:
        entityId:
          type: string
          nullable: true
          description: Identificador da transação informado no campo <code>orderId</code>.
        currency:
          type: string
          nullable: true
          description: Código da criptomoeda.
        typeOrder:
          type: string
          nullable: true
          description: Tipo de ordem (compra ou venda).
        account:
          type: string
          description: Número da conta de pagamento do cliente.
        createdAt:
          type: string
          nullable: true
          description: "Data de criação da execução da ordem de compra ou venda (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
        executedAt:
          type: string
          nullable: true
          description: "Data em que a ordem foi executada (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
        expiratedAt:
          type: string
          nullable: true
          description: "Data de expiração da execução da ordem (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
        companyKey:
          type: string
          nullable: true
          description: Chave que identifica o parceiro dentro do Bankly.
        price:
          type: number
          nullable: true
          description: Preço da criptomoeda.
        amountCrypto:
          type: number
          description: Valor em criptomoeda. 
        tax:
          type: number
          description: Valor da taxa aplicada à operação.
        amount:
          type: number
          description: Valor de compra ou venda das criptomoedas sem a taxa.
        status:
          type: string
          description: Situação da ordem de execução de compra ou venda.
          $ref: "#/components/schemas/Status"        
        percentageTax:
          type: number
          description: Percentual de taxa aplicada. 
       
    GraphResponseObject:
      type: object
      properties:
        createdAt:
          type: string
          nullable: true
          description: "Data de criação da consulta (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
        price:
          type: number
          nullable: true
          description: Preço da criptomoeda.

    OrderResponse:
      type: object
      properties: 
        entityId:
          type: string
          nullable: true
          description: Identificador da transação que deve ser informado no campo <code>orderId</code> do endpoint de execução de ordem de compra e venda.
        typeOrder:
          type: string
          nullable: true
          description: Tipo de ordem (compra ou venda).
        account:
          type: string
          nullable: true
          description: Número da conta de pagamento do cliente.
        price:
          type: number
          nullable: true
          description: Preço atual da criptomoeda.
        createdAt:
          type: string
          nullable: true
          description: "Data e horário de criação da ordem (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
        expiratedAt:
          type: string
          nullable: true
          description: "Data e horário de expiração da ordem (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
        balanceCrypto:
          type: number 
          nullable: true
          description: Saldo que o cliente possui em criptomoedas. 
        referenceTax:
          description: Taxa de referência aplicada sobre o valor da operação. 
          $ref: "#/components/schemas/ReferenceTax" 
        orderLimit:
          type: object
          description: Valor mínimo de compra e venda de criptomoedas. 
          properties:
            buy: 
              $ref: "#/components/schemas/OrderLimitBuySell" 
            sell:
              $ref: "#/components/schemas/OrderLimitBuySell"
        totalAlowed:
          type: number 
          nullable: true
          description: Valor da criptomoeda multiplicada pelo valor do <code>balanceCrypto</code>.
      additionalProperties: false
    
    OrderLimitBuySell:
      type: object
      properties:
        min: 
          type: number
          description: Valor mínimo para a transação.
        max: 
          type: number
          description: Valor máximo para a transação.

    PriceResponseObject:
      type: object
      properties:
        finalPrice:
          type: number
          nullable: true
          description: Preço final da criptomoeda.
        currency:
          type: string
          nullable: true
          description: Código da criptomoeda.
      additionalProperties: false
    
    ReferenceTax:
      type: array
      items:
        type: object
        properties:
            minValue:
              type: number
              description: Valor mínimo para que a taxa de referência seja aplicada.
            maxValue: 
              type: number 
              description: Valor máximo para que a taxa de referência seja aplicada.
            tax: 
              type: number 
              description: Taxa aplicada sobre o valor da operação.

    Status:
      enum: 
        - CREATED
        - PENDING
        - EXECUTED
        - COMPLETED
        - CANCELED
        - ERROR
        - WORKING
    
  parameters:
    Currency:
      name: currency
      in: query
      description: "Informe o código da criptomoeda a ser consultada. Exemplo: BTC para bitcoin."
      required: true
      schema:
        type: string 

    Period:
      name: period
      in: query
      description: "Informe o período que deseja exibir."
      required: true
      schema: 
        enum:
          - DAY
          - WEEK
          - MONTH
          - YEAR 
        type: string
      
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
