openapi: 3.0.1
info:
  version: 1.0.0
  title: Criptomoedas
servers:
  - url: 'https://api-mtls.sandbox.bankly.com.br'
paths:
  /crypto/prices:
    get:
      tags:
        - Operações com criptomoedas 
      summary: Cotação de criptomoedas
      description: |
        <div class="bkly-ref-description">
          <p>Realize a cotação do valor para compra e venda de criptomoeda.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
           <span class="bkly-ref-scope-tag">scope: crypto.read</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Atualmente, só é possível operar com bitcoins (BTC)."
        }
        [/block]
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion2'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - $ref: '#/components/parameters/Market'
      responses: 
        "200":
          description: "Recurso encontrado."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceResponseDto"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'  
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '405':
          description: Recurso acessado com método não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '406': 
          $ref: 'http://localhost:3320/commons/components#/components/responses/406'
        '408':
          description: O servidor não recebeu uma mensagem de solicitação completa dentro do tempo em que estava preparado para aguardar.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '409':
          description: A solicitação não pôde ser concluída devido a um conflito com o estado atual do recurso de destino.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '415':
          description: Formato de payload não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '429':
          description: A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string 
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  
  /crypto/graphs/prices:
    get:
      tags:
        - Operações com criptomoedas  
      summary: Gráfico da cotação de criptomoedas por período
      description: |
        <div class="bkly-ref-description">
          <p>Realize a cotação de criptomoedas de um período específico.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
          <span class="bkly-ref-scope-tag">scope: crypto.read</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Atualmente, só é possível operar com bitcoins (BTC)."
        }
        [/block]
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion2'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - $ref: '#/components/parameters/Market'
        - $ref: '#/components/parameters/Type'
      responses: 
        "200":
          description: "Recurso encontrado."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GraphResponseDto"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'  
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '405':
          description: Recurso acessado com método não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '406': 
          $ref: 'http://localhost:3320/commons/components#/components/responses/406'
        '408':
          description: O servidor não recebeu uma mensagem de solicitação completa dentro do tempo em que estava preparado para aguardar.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '409':
          description: A solicitação não pôde ser concluída devido a um conflito com o estado atual do recurso de destino.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '415':
          description: Formato de payload não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '429':
          description: A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string 
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500' 
  
  /crypto/orders:
    post:
      tags:
        - Operações com criptomoedas  
      summary: Criação de ordem de compra e venda de criptomoedas
      description: |
        <div class="bkly-ref-description">
          <p>Crie uma ordem de compra ou venda de criptomoedas.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
          <span class="bkly-ref-scope-tag">scope: crypto.create</span>
        </div>
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion2'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderIntentionBodyDto"
      responses: 
        "200":
          description: Solicitação aceita com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderIntentionResponseDto"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'  
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '405':
          description: Recurso acessado com método não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '406': 
          $ref: 'http://localhost:3320/commons/components#/components/responses/406'
        '408':
          description: O servidor não recebeu uma mensagem de solicitação completa dentro do tempo em que estava preparado para aguardar.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '409':
          description: A solicitação não pôde ser concluída devido a um conflito com o estado atual do recurso de destino.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '415':
          description: Formato de payload não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '429':
          description: A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string 
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500' 
      
  /crypto/orders/{order_authentication_code}:
    post:
      tags:
        - Operações com criptomoedas  
      summary: Execução de ordem de compra e venda de criptomoedas 
      description: |
        <div class="bkly-ref-description">
          <p>Realize a execução da ordem de compra ou venda de criptomoedas para efetivar uma dessas operações.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
          <span class="bkly-ref-scope-tag">scope: crypto.create</span>
        </div>
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion2'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Idempotency-Key'
        - name: order_authentication_code
          # TODO: codigo recebido no outro endpoint
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderExecutionBodyDto"
      responses: 
        "200":
          description: "Solicitação aceita com sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderExecutionResponseDto"
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'  
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '405':
          description: Recurso acessado com método não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '406': 
          $ref: 'http://localhost:3320/commons/components#/components/responses/406'
        '408':
          description: O servidor não recebeu uma mensagem de solicitação completa dentro do tempo em que estava preparado para aguardar.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '409':
          description: A solicitação não pôde ser concluída devido a um conflito com o estado atual do recurso de destino.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '415':
          description: Formato de payload não suportado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '429':
          description: A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string 
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'     

components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  
  parameters:
    Market:
      name: market
      required: true
      in: query
      schema:
        description: O mercado, o qual é constituído da sigla da criptomoeda com a sigla do real. 
        enum:
          - BTC:BRL
        type: string
    
    Type:
      name: type
      in: query
      description: Informe o período que deseja exibir. Esse campo é <i>case sensitive</i> e a primeira letra do valor deve ser informado em letra maiúscula.
      required: true
      schema: 
        enum:
          - Daily
          - Weekly
          - Monthly
          - Annually
        type: string
  
  schemas:
    PocketValueObject:
      type: object
      properties:
        number:
          type: string
          example: "22651349000001BTC"
          description: Número da conta pocket de pagamento do cliente, sendo os três últimos dígitos o código da criptomoeda.
      required:
        - number

    OrderIntentionBodyDataDto:
      type: object
      properties:
        pocket:
          description: Objeto que contém informações sobre a conta pocket utilizada para a operação.
          $ref: "#/components/schemas/PocketValueObject"
        market:
          type: string
          description: O mercado, o qual é constituído da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
        type:
          type: string
          description: Tipo de ordem (compra ou venda).
          enum:
            - PURCHASE
            - SELL
      required:
        - pocket
        - market
        - type

    OrderIntentionBodyDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a criação de ordem de compra e venda de criptomoedas.
          $ref: "#/components/schemas/OrderIntentionBodyDataDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
      required:
        - data

    AccountValueObject:
      type: object
      properties:
        branch:
          type: string
          description: Número da agência bancária.
        number:
          type: string
          description: Número da conta bancária.
      required:
        - branch
        - number

    PocketDto:
      type: object
      properties:
        number:
          type: string
          example: "22651349000001BTC"
          description: Número da conta pocket de pagamento do cliente, sendo os três últimos dígitos o código da criptomoeda.
        account:
          description: Objeto que contém informações sobre a conta do usuário.
          $ref: "#/components/schemas/AccountValueObject"
      required:
        - number
        - account

    PriceValueObject:
      type: object
      properties:
        value:
          type: number
          nullable: true
          description: Preço final da criptomoeda.
        currency:
          type: string
          nullable: true
          description: Código da moeda com base na ISO-4217.
      required:
        - value
        - currency
      additionalProperties: false

    LimitValueObject:
      type: object
      properties:
        min:
          type: number
          example: "1.0"
          description: Limite mínimo para esta operação.
        max:
          type: number
          example: "50000.00"
          description: Limite máximo para esta operação.
      required:
        - min
        - max

    LimitOrderDto:
      type: object
      properties:
        purchase:
          description: Limites sobre a operação do tipo compra.
          $ref: "#/components/schemas/LimitValueObject"
        sell:
          description: Limites sobre a operação do tipo venda.
          $ref: "#/components/schemas/LimitValueObject"
      required:
        - purchase
        - sell

    OrderIntentionDto:
      type: object
      properties:
        authenticationCode:
          type: string
          description: Identificador da transação que deve ser informado no campo <code>order_authentication_code</code> do endpoint de execução de ordem de compra e venda.
          example: 60c66bce-0127-4e07-a35d-d14d31e4126a
        type:
          type: string
          description: Tipo de ordem (compra ou venda).
          enum:
            - PURCHASE
            - SELL
        pocket:
          description: Objeto que contém informações sobre a conta pocket do usuário utilizada para esta operação.
          $ref: "#/components/schemas/PocketDto"
        price:
          description: Objeto contendo informações sobre o preço da criptomoeda.
          $ref: "#/components/schemas/PriceValueObject"
        status:
          type: string
          description: Situação da ordem de execução de compra ou venda.
          enum:
            - CREATED
            - EXECUTED
            - CANCELED
            - EXPIRED
            - IN_PROCESS
            - ERROR
        createdAt:
          format: date-time
          type: string
          description: "Data de criação da execução da ordem de compra ou venda (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
        expiresIn:
          format: date-time
          type: string
          description: "Data de expiração da execução da ordem (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
        limits:
          $ref: "#/components/schemas/LimitOrderDto"

    LinkValueObject:
      type: object
      properties:
        url:
          type: string
          example: cryptos/orders/{{authentication_code}}
        rel:
          type: string
          example: execute_order
        method:
          type: string
          example: POST
      required:
        - url
        - rel
        - method
    
    OrderIntentionResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a criação de ordem de compra e venda de criptomoedas.
          $ref: "#/components/schemas/OrderIntentionDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
        links:
          type: array
          description: Links de próximos estados válidos da entidade/recurso.
          items:
            $ref: "#/components/schemas/LinkValueObject"

    AmountValueObject:
      type: object
      properties:
        value:
          type: number
          description: Valor de compra ou venda das criptomoedas sem taxa.
        currency:
          type: string
          description: Código da moeda com base na ISO-4217.
      required:
        - value
        - currency

    FeeValueObject:
      type: object
      properties:
        value:
          description: Valor da taxa.
          type: number
        currency:
          description: Código da moeda com base na ISO-4217.
          type: string
        priority:
          description: Booleano que indica se a cobrança ao parceiro será realizada na liquidação ou após.
          type: boolean
      required:
        - value
        - currency
        - priority

    DataOrderExecutionDto:
      type: object
      properties:
        amount:
          description: Valor de compra ou venda das criptomoedas sem taxa.
          $ref: "#/components/schemas/AmountValueObject"
        fee:
          description: Valor da taxa da compra ou venda das criptomoedas.
          $ref: "#/components/schemas/FeeValueObject"
      required:
        - amount
        - fee

    OrderExecutionBodyDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a execução de ordem de compra e venda de criptomoedas
          $ref: "#/components/schemas/DataOrderExecutionDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
      required:
        - data

    QuoteValueObject:
      type: object
      properties:
        value:
          description: Valor da operação, em criptomoeda.
          type: number
        currency:
          description: Código da criptomoeda.
          type: string
      required:
        - value
        - currency

    OrderExecutionDto:
      type: object
      properties:
        authenticationCode:
          type: string
          example: 60c66bce-0127-4e07-a35d-d14d31e4126a
          description: Identificador da transação que deve ser informado no campo <code>order_authentication_code</code> do endpoint de execução de ordem de compra e venda.
        type:
          type: string
          description: Tipo de ordem (compra ou venda).
          enum:
            - PURCHASE
            - SELL
        market:
          type: string
          description: O mercado, o qual é constituído da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
        status:
          type: string
          description: Situação da ordem de execução de compra ou venda.
          enum:
            - CREATED
            - EXECUTED
            - CANCELED
            - EXPIRED
            - IN_PROCESS
            - ERROR
        pocket:
          description: Objeto que contém informações sobre a conta pocket do usuário utilizada para esta operação.
          $ref: "#/components/schemas/PocketDto"
        price:
          description: Objeto que contém informações sobre o preço da criptomoeda.
          $ref: "#/components/schemas/PriceValueObject"
        amount:
          $ref: "#/components/schemas/AmountValueObject"
        fee:
          $ref: "#/components/schemas/FeeValueObject"
        quote:
          $ref: "#/components/schemas/QuoteValueObject"
        createdAt:
          description: "Data de criação da execução da ordem de compra ou venda (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
          format: date-time
          type: string
        expiresIn:
          description: "Data de expiração da execução da ordem (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
          format: date-time
          type: string
        limits:
          $ref: "#/components/schemas/LimitOrderDto"

    OrderExecutionResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a execução de ordem de compra e venda de criptomoedas.
          $ref: "#/components/schemas/OrderExecutionDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
        links:
          type: array
          description: Links de próximos estados válidos da entidade/recurso.
          items:
            $ref: "#/components/schemas/LinkValueObject"

    PriceDto:
      type: object
      properties:
        market:
          description: O mercado, o qual é constituído da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
          type: string
        ask:
          description: Valor de compra da criptomoeda.
          $ref: "#/components/schemas/PriceValueObject"
        bid:
          description: Valor da venda da criptomoeda.
          $ref: "#/components/schemas/PriceValueObject"
        timestamp:
          description: "Momento da consulta (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
          type: string

    PriceResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a cotação de criptomoedas.
          $ref: "#/components/schemas/PriceDto"

    GraphPointValueObject:
      type: object
      properties:
        price:
          $ref: "#/components/schemas/PriceValueObject"
          description: Preço da criptomoeda.
        timestamp:
          type: string
          nullable: true
          description: "Momento da cotação (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
      required:
        - price
        - timestamp

    GraphDto:
      type: object
      properties:
        market:
          type: string
          description: O mercado, o qual é constituído da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
        points:
          type: array
          items:
            $ref: "#/components/schemas/GraphPointValueObject"
    
    GraphResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre o gráfico da cotação de criptomoedas por período.
          $ref: "#/components/schemas/GraphDto"

x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl