openapi: 3.0.1
info:
  version: 1.0.0
  title: Criptomoedas
servers:
  - url: 'https://api-mtls.sandbox.bankly.com.br'
paths:
  /crypto/orders:
    post:
      tags:
        - Operações com criptomoedas  
      summary: Criação de ordem de compra e venda de criptomoedas
      description: |
        <div class="bkly-ref-description">
          <p>Crie uma ordem de compra ou venda de criptomoedas.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
          <span class="bkly-ref-scope-tag">scope: crypto.create</span>
        </div>
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion2'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderIntentionBodyDto"
      responses: 
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderIntentionResponseDto"

  /crypto/orders/{order_authentication_code}:
    post:
      tags:
        - Operações com criptomoedas  
      summary: Execução de ordem de compra e venda de criptomoedas 
      description: |
        <div class="bkly-ref-description">
          <p>Realize a execução da ordem de compra ou venda de criptomoedas para efetivar uma dessas operações.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
          <span class="bkly-ref-scope-tag">scope: crypto.create</span>
        </div>
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion2'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - name: order_authentication_code
          # TODO: codigo recebido no outro endpoint
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderExecutionBodyDto"
      responses: 
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderExecutionResponseDto"
     
  /crypto/prices:
    get:
      tags:
        - Operações com criptomoedas 
      summary: Cotação de criptomoedas
      description: |
        <div class="bkly-ref-description">
          <p>Realize a cotação do valor para compra e venda de criptomoeda.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
           <span class="bkly-ref-scope-tag">scope: crypto.read</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Atualmente, só é possível operar com bitcoins (BTC)."
        }
        [/block]
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion2'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - $ref: '#/components/parameters/Market'
      responses: 
        "200":
          description: "Recurso encontrado."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceResponseDto"
  
  /crypto/graphs/prices:
    get:
      tags:
        - Operações com criptomoedas  
      summary: Gráfico da cotação de criptomoedas por período
      description: |
        <div class="bkly-ref-description">
          <p>Realize a cotação de criptomoedas de um período específico.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
          <span class="bkly-ref-scope-tag">scope: crypto.read</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Atualmente, só é possível operar com bitcoins (BTC)."
        }
        [/block]
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion2'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - $ref: '#/components/parameters/Market'
        - $ref: '#/components/parameters/Period'
      responses: 
        "200":
          description: "Recurso encontrado."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GraphResponseDto"

components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  
  parameters:
    Market:
      name: market
      required: true
      in: query
      schema:
        description: O mercado é constituido da sigla da criptomoeda com a sigla do real. 
        enum:
          - BTC:BRL
        type: string
    
    Period:
      name: period
      in: query
      description: Informe o período que deseja exibir. Esse campo é <i>case sensitive</i> e o valor deve ser informado em letras maiúsculas.
      required: true
      schema: 
        enum:
          - Daily
          - Weekly
          - Monthly
          - Annually
        type: string
  
  schemas:
    PocketValueObject:
      type: object
      properties:
        number:
          type: string
          example: "22651349000001BTC"
          # TODO: é isso mesmo? obrigatorio uso de conta pocket, se não tiver a conta vai criar (vai gerar um numero)
          description: Número da conta pocket de pagamento do cliente.
      required:
        - number

    OrderIntentionBodyDataDto:
      type: object
      properties:
        pocket:
          $ref: "#/components/schemas/PocketValueObject"
        market:
          type: string
          description: O mercado é constituido da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
        type:
          type: string
          description: Tipo de ordem (compra ou venda).
          enum:
            - PURCHASE
            - SELL
      required:
        - pocket
        - market
        - type

    OrderIntentionBodyDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a criação de ordem de compra e venda de criptomoedas.
          $ref: "#/components/schemas/OrderIntentionBodyDataDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
      required:
        - data

    # TODO:
    AccountValueObject:
      type: object
      properties:
        branch:
          type: string
          example: "0001"
        number:
          type: string
          example: "226513"
      required:
        - branch
        - number
    PocketDto:
      type: object
      properties:
        number:
          type: string
          example: "22651349000001"
          description: Número da conta de pagamento do cliente.
        # TODO:
        account:
          $ref: "#/components/schemas/AccountValueObject"
      required:
        - number
        - account

    PriceValueObject:
      type: object
      properties:
        value:
          type: number
          nullable: true
          description: Preço final da criptomoeda.
        currency:
          type: string
          nullable: true
          description: Código da criptomoeda.
      required:
        - value
        - currency
      additionalProperties: false

    LimitValueObject:
      type: object
      properties:
        min:
          type: number
          example: "1.0"
          description: Limite mínimo para esta operação.
        max:
          type: number
          example: "50000.00"
          description: Limite máximo para esta operação.
      required:
        - min
        - max

    LimitOrderDto:
      type: object
      properties:
        purchase:
          description: Limites sobre a operação do tipo compra.
          $ref: "#/components/schemas/LimitValueObject"
        sell:
          description: Limites sobre a operação do tipo venda.
          $ref: "#/components/schemas/LimitValueObject"
      required:
        - purchase
        - sell

    OrderIntentionDto:
      type: object
      properties:
        authenticationCode:
          type: string
          description: Identificador da transação que deve ser informado no campo <code>order_authentication_code</code> do endpoint de execução de ordem de compra e venda.
          example: 60c66bce-0127-4e07-a35d-d14d31e4126a
        type:
          type: string
          description: Tipo de ordem (compra ou venda).
          enum:
            - PURCHASE
            - SELL
        pocket:
        # TODO:
          $ref: "#/components/schemas/PocketDto"
        price:
          description: Objeto contendo informações sobre o preço da criptomoeda.
          $ref: "#/components/schemas/PriceValueObject"
        status:
          type: string
          description: Situação da ordem de execução de compra ou venda.
          enum:
            - CREATED
            - EXECUTED
            - CANCELED
            - EXPIRED
            - IN_PROCESS
            - ERROR
        createdAt:
          format: date-time
          type: string
          description: "Data de criação da execução da ordem de compra ou venda (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
        expiresIn:
          format: date-time
          type: string
          description: "Data de expiração da execução da ordem (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
        limits:
          $ref: "#/components/schemas/LimitOrderDto"
      required:
        - authenticationCode
        - type
        - pocket
        - price
        - status
        - createdAt
        - expiresIn
        - limits

    LinkValueObject:
      type: object
      properties:
        url:
          type: string
          example: cryptos/orders/{{authentication_code}}
        rel:
          type: string
          example: execute_order
        method:
          type: string
          example: POST
      required:
        - url
        - rel
        - method
    
    # TODO: Descrever objeto
    OrderIntentionResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a criação de ordem de compra e venda de criptomoedas.
          $ref: "#/components/schemas/OrderIntentionDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
        links:
          type: array
          description: Links de próximos estados válidos da entidade/recurso.
          items:
            $ref: "#/components/schemas/LinkValueObject"
      required:
        - data

    AmountValueObject:
      type: object
      properties:
        value:
          type: number
          # TODO: Validar texto: "Preço final da criptomoeda."
          description: Valor de compra ou venda das criptomoedas sem taxa.
        currency:
          type: string
          # TODO: Em real
          description: .
      required:
        - value
        - currency

    # TODO: Preencher objeto?
    FeeValueObject:
      type: object
      properties:
        value:
          # TODO:
          description: Valor da taxa.
          type: number
        currency:
          # TODO: em real
          type: string
        priority:
          # TODO: se vai cobrar do parceiro no ato ou se vai ser cobrada depois
          type: boolean
      required:
        - value
        - currency
        - priority

    DataOrderExecutionDto:
      type: object
      properties:
        amount:
          description: Valor de compra ou venda das criptomoedas sem taxa.
          $ref: "#/components/schemas/AmountValueObject"
        fee:
          description: Valor da taxa da compra ou venda das criptomoedas.
          $ref: "#/components/schemas/FeeValueObject"
      required:
        - amount
        - fee

    OrderExecutionBodyDto:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/DataOrderExecutionDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
      required:
        - data

    QuoteValueObject:
      type: object
      properties:
        value:
          # TODO: valor em cripto da operação
          type: number
        currency:
          # TODO: cota em cripto
          type: string
      required:
        - value
        - currency

    # TODO: Colocar o request pra usar este
    OrderExecutionDtoForRequest: 
      type: object
      properties:
        amount:
          $ref: "#/components/schemas/AmountValueObject"
        fee:
          $ref: "#/components/schemas/FeeValueObject"

    OrderExecutionDto:
      type: object
      properties:
        authenticationCode:
          type: string
          example: 60c66bce-0127-4e07-a35d-d14d31e4126a
          description: Identificador da transação que deve ser informado no campo <code>order_authentication_code</code> do endpoint de execução de ordem de compra e venda.
        type:
          type: string
          description: Tipo de ordem (compra ou venda).
          enum:
            - PURCHASE
            - SELL
        market:
          type: string
          description: O mercado é constituido da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
        status:
          type: string
          description: Situação da ordem de execução de compra ou venda.
          enum:
            - CREATED
            - EXECUTED
            - CANCELED
            - EXPIRED
            - IN_PROCESS
            - ERROR
        pocket:
          $ref: "#/components/schemas/PocketDto"
        price:
          $ref: "#/components/schemas/PriceValueObject"
        amount:
          $ref: "#/components/schemas/AmountValueObject"
        fee:
          $ref: "#/components/schemas/FeeValueObject"
        quote:
          $ref: "#/components/schemas/QuoteValueObject"
        createdAt:
          description: "Data de criação da execução da ordem de compra ou venda (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
          format: date-time
          type: string
        expiresIn:
          description: "Data de expiração da execução da ordem (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
          format: date-time
          type: string
        limits:
          $ref: "#/components/schemas/LimitOrderDto"
      required:
        - type
        - market
        - status
        - pocket
        - price
        - amount
        - fee
        - quote
        - createdAt
        - expiresIn
        - limits

    OrderExecutionResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a execução de ordem de compra e venda de criptomoedas.
          $ref: "#/components/schemas/OrderExecutionDto"
        metadata:
          description: Dicionário de metadados que trará dados adicionais da requisição.
          additionalProperties: true
          type: object
        links:
          type: array
          description: Links de próximos estados válidos da entidade/recurso.
          items:
            $ref: "#/components/schemas/LinkValueObject"
      required:
        - data

    # TODO: Completar este objeto
    PriceDto:
      type: object
      properties:
        market:
          description: O mercado é constituido da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
          type: string
        ask:
          $ref: "#/components/schemas/PriceValueObject"
        bid:
          $ref: "#/components/schemas/PriceValueObject"
        timestamp:
          type: string
      required:
        - market
        - ask
        - bid
        - timestamp

    # TODO: Completar este objeto
    PriceResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre a cotação de criptomoedas.
          $ref: "#/components/schemas/PriceDto"
      required:
        - data

    GraphPointValueObject:
      type: object
      properties:
        price:
          $ref: "#/components/schemas/PriceValueObject"
          description: Preço da criptomoeda.
        timestamp:
          type: string
          nullable: true
          # TODO: Validar a descrição
          description: "Data de criação da consulta (formato: YYYY-MM-DDTHH:mm:SS.MMMZ)."
      required:
        - price
        - timestamp

    # TODO: Preencher este objeto
    GraphDto:
      type: object
      properties:
        market:
          type: string
          description: O mercado é constituido da sigla da criptomoeda com a sigla do real. 
          enum:
            - BTC:BRL
        points:
          type: array
          items:
            $ref: "#/components/schemas/GraphPointValueObject"
      required:
        - market
        - points
    
    # TODO: Preencher esse objeto
    GraphResponseDto:
      type: object
      properties:
        data:
          description: Objeto que contém informações sobre o gráfico da cotação de criptomoedas por período.
          $ref: "#/components/schemas/GraphDto"
      required:
        - data

x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
