openapi: 3.0.1
info:
  title: Gestão de cobrança
  description: Gerencie as cobranças vinculadas à conta do seu cliente. Consulte também
    nossa [documentação](https://bankly.readme.io/v1.0/docs/) para mais detalhes sobre os fluxos de negócio.
  version: '1.0'
servers:
  - url: https://api-mtls.sandbox.bankly.com.br
paths:
  /recurrencies:
    post:
      tags:
        - Recorrência de cobrança
      summary: Agendamento de recorrência
      description: |
        <div class="bkly-ref-description">
          <p>Realize o agendamento de uma cobrança recorrente de acordo com as necessidades de seu cliente.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: recurrency.write</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Agendamento de recorrência](/docs/agendamento-de-recorrencia)."
        }
        [/block]
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id-Optional"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleRecurrencyRequest'
      responses:
        '201':
          description: A solicitação foi aceita e o agendamento de recorrência de cobrança foi criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResult'
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '406':
          $ref: "http://localhost:3320/commons/components#/components/responses/406"

  /recurrencies/{recurrencyId}:
    patch:
      tags:
        - Recorrência de cobrança
      summary: Atualização de recorrência
      description: |
        <div class="bkly-ref-description">
          <p>Atualize uma cobrança recorrente agendada previamente.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: recurrency.update</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Atualização de recorrência](/docs/atualizacao-de-recorrencia)."
        }
        [/block]        
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id-Optional"
        - name: recurrencyId
          in: path
          description: Identificador único da recorrência que deverá ser atualizada. Informe o valor do campo <code>recurrencyId</code> retornado no endpoint de agendamento de recorrência.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleRecurrencyCommandUpdate'
          text/json:
            schema:
              $ref: '#/components/schemas/ScheduleRecurrencyCommandUpdate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ScheduleRecurrencyCommandUpdate'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BaseResult'
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResult'
            text/json:
              schema:
                $ref: '#/components/schemas/BaseResult'
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '406':
          $ref: "http://localhost:3320/commons/components#/components/responses/406"
              
    delete:
      tags:
        - Recorrência de cobrança
      summary: Cancelamento de recorrência
      description: |
        <div class="bkly-ref-description">
          <p>Realize o cancelamento de uma cobrança recorrente. Isso implicará a interrupção de todas as futuras cobranças recorrentes associadas à transação.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: recurrency.delete</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Cancelamento de recorrência](/docs/cancelamento-de-cobranca)."
        }
        [/block]        
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id-Optional"
        - name: recurrencyId
          in: path
          description: Identificador único da recorrência que deverá ser atualizada. Informe o valor do campo <code>recurrencyId</code> retornado no endpoint de agendamento de recorrência.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recorrência de cobrança cancelada com sucesso.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BaseResult'
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResult'
            text/json:
              schema:
                $ref: '#/components/schemas/BaseResult'
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '404':
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
    
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    RecurrencyId:
      name: recurrencyId
      in: path
      required: true
      schema:
        type: string
        description: Id da recorrência que será cancelada.       
  schemas:
    ScheduleRecurrencyRequest:
      type: object
      required:
        - hiringDate
        - billingType
        - recurrency
        - product
      properties:
        hiringDate:
          type: string
          format: date
          example: "2024-04-01"
          description: Data da contratação do produto que deverá ser cobrado de forma recorrente.
        billingType:
          type: string
          nullable: true
          description: Tipo de cobrança. Preencha este campo com "" ou com null.
        recurrency:
          $ref: '#/components/schemas/RecurrencyDto'
        user:
          $ref: '#/components/schemas/User'
        product:
          $ref: '#/components/schemas/Product'
      additionalProperties: false
    
    RecurrencyDto:
      type: object
      description: Objeto que contém informações para o registro da Recorrência.
      required:
        - mustChargeOnHiringDate
        - frequency
        - quantity
        - amount
        - chargeOptions
      properties:
        postDate:
          type: integer
          format: int32
          nullable: true
          description: Dia em que deverá ser realizada a postagem de recorrência na fatura. Caso este campo não seja preenchido, será considerada a data informada em <code>hiringDate</code>.
        mustChargeOnHiringDate:
          type: boolean
          description: Indica se a cobrança deverá ser realizada no mesmo dia da contratação, sendo TRUE para sim e FALSE para não. Caso este campo seja preenchido com TRUE, o valor informado no campo <code>postDate</code> será desconsiderado.
        frequency:
          type: string
          description: Frequência em que a recorrência deverá ocorrer.
          enum:
            - ANNUALY
            - MONTHLY
            - WEEKLY
        quantity:
          type: integer
          format: int32
          description: Quantidade de cobranças da recorrência. Este campo deverá indicar quantas vezes a cobrança será realizada dentro da frequência informada.
        amount:
          description: Objeto que deverá conter informações sobre o valor da cobrança recorrente.
          $ref: '#/components/schemas/AmountDto'
        discount:
          description: "Objeto que deverá conter informações sobre o desconto aplicado na cobrança, caso exista. <b>Importante</b>: se este objeto for enviado, seus subcampos devem ser preenchidos obrigatoriamente."
          $ref: '#/components/schemas/AmountDto'
          nullable: true
        chargeOptions:
          description: Objeto que deverá conter informações sobre o formato de cobrança.
          $ref: '#/components/schemas/ChargeOptions'
      additionalProperties: false
    
    AmountDto:
      type: object
      required:
        - value
        - currency
      properties:
        value:
          type: number
          format: double
          description: Valor da cobrança recorrente.
        currency:
          type: string
          example: "BRL"
          description: Código da moeda com base na ISO 3361.
      additionalProperties: false
    
    ChargeOptions:
      type: object
      required:
        - forceLimit
        - blockedAccount
      properties:
        forceLimit:
          type: boolean
          description: ndica se a cobrança recorrente deverá ocorrer para cartão sem limite. 
        blockedAccount:
          type: boolean
          description:  Indica se a cobrança recorrente deverá ocorrer para contas bloqueadas. 
      additionalProperties: false
   
    User:
      type: object
      required:
        - documentNumber
      properties:
        documentNumber:
          $ref: '#/components/schemas/DocumentNumber'
        contract:
          $ref: '#/components/schemas/Contract'
      additionalProperties: false
    
    DocumentNumber:
      type: object
      description: Objeto que deverá conter informações sobre o documento do titular.
      required:
        - value
        - type
      properties:
        value:
          type: string
          description: Número do documento.
        type:
          type: string
          description: Tipo de documento.
          enum:
            - CPF
            - CNPJ
      additionalProperties: false
    
    Contract:
      type: object
      description: Objeto que deverá conter informações sobre o contrato de crédito do titular do cartão.
      required:
        - id
        - type
      properties:
        id:
          type: string
          description: Identificador único do contrato.
        type:
          type: string
          description: Tipo de contrato.
      additionalProperties: false
    
    Product:
      type: object
      description: Objeto que deverá conter informações sobre o produto que será cobrado de forma recorrente.
      required:
        - id
        - type
        - description
        - transactionType
      properties:
        id:
          type: string
          description: Identificador único do contrato do produto.
        type:
          type: string
          description:  Tipo de produto que será cobrado.
        description:
          type: string
          description: Descrição do produto. Essa mensagem será apresentada na postagem da cobrança.
        transactionType:
          type: string
          description: Código da transação.
      additionalProperties: false   

    BaseResult:
      type: object
      properties:
        value:
          type: object
          properties:
            code:
              type: string
              description: Código personalizado da mensagem de sucesso.
            message:
              type: string
              description: Descrição do código de sucesso.
            recurrencyId:
              type: string
              description: Identificador único da recorrência agendada.
            productType:
              type: string
              description: Descrição do produto enviado na requisição.
          additionalProperties: false
    
    ScheduleRecurrencyCommandUpdate:   
      type: object
      required:
        - recurrencyId
        - billingType
        - recurrency
        - user
      properties:
        recurrencyId:
          type: string
          description: Identificador único da recorrência que deverá ser atualizada. Informe o valor do campo recurrencyId retornado no endpoint de agendamento de recorrência. 
        billingType:
          type: string
          description: Tipo de cobrança. Preencha este campo com "" ou com null.
          nullable: true
        recurrency:
          $ref: '#/components/schemas/RecurrencyUpdate'
        user:
          $ref: '#/components/schemas/User'        
      additionalProperties: false  
    
    RecurrencyUpdate:
      type: object
      properties:
        postDate:
          type: integer
          format: int32
          description: Dia em que deverá ser realizada a postagem de recorrência na fatura.
          nullable: true        
        amount:
          $ref: '#/components/schemas/AmountDto'
          required:
            - "recurrency.amount is required"
        discount:
          $ref: '#/components/schemas/AmountDto'
          nullable: true
        chargeOptions:
          $ref: '#/components/schemas/ChargeOptions'
          required:
            - "recurrency.chargeOptions is required"
      additionalProperties: false  

    User:
      type: object
      required:
        - documentNumber
        - contract
      properties:
        documentNumber:
          $ref: '#/components/schemas/DocumentNumber'
        contract:
          $ref: '#/components/schemas/Contract'
      additionalProperties: false