openapi: 3.0.1
info:
  title: Gestão de boletos
  description: Depósitos e cobranças via boleto em poucos minutos.
  version: '1.0'
servers:
  - url: https://api.sandbox.bankly.com.br
paths:
  /bankslip:
    post:
      tags:
        - Emissão de boleto
      summary: Solicitação de emissão de boletos
      description: |
        <div class="bkly-ref-description">
          <p>Emita boletos de depósito ou cobrança.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: boleto.create</span>
        </div>  
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Em caso de emissão de boleto de cobrança, é obrigatório preencher as informações do pagador. Confira a documentação [Emissão de boleto](https://docs.bankly.com.br/docs/emissao-de-boleto) para mais informações."
        }
        [/block]
        <blockquote class="callout callout_warn" theme="🚧">
        <h3 class="callout-heading false">
        <span class="callout-icon">🚧</span>
        <p>Atenção</p></h3><p>Em caso de emissão de boleto de cobrança, é obrigatório preencher as informações do pagador. Confira a documentação <a href="https://docs.bankly.com.br/docs/emissao-de-boleto" target="_blank" rel="noopener noreferrer">Emissão de boleto</a> para mais informações.</p>
        </blockquote>

       
      operationId: Create
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateBankslipRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBankslipRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateBankslipRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateBankslipRequest'
      responses:
        '202':
          description: A requisição foi aceita e está sendo processada.
          headers:
            x-bankly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
            Location:
              description: Localização do recurso recém-criado ou em análise.
              schema:
                type: string
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreateBankslipResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBankslipResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateBankslipResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'

        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'
        
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
            
      security:
        - Bearer: []
  /bankslip/branch/{branch}/number/{number}/{authenticationCode}:
    get:
      tags:
        - Emissão de boleto
      summary: Consulta por authenticationCode
      description: |
        <div class="bkly-ref-description">
          <p>Realize a consulta de dados por authenticationCode e obtenha todos os detalhes sobre o boleto pesquisado.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: boleto.read</span>
        </div>  
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação <a href="https://docs.bankly.com.br/docs/consulta-boleto-por-authenticationcode" target="_blank" rel="noopener noreferrer">Consulta por authenticationCode</a>."
        }
        [/block]

      operationId: GetByAuthenticationCode
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - name: branch
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
        - name: authenticationCode
          in: path
          required: true
          description: Identificador único do boleto.
          schema:
            type: string
      responses:
        '200':
          description: Recurso encontrado.
          headers:
            x-bankly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetBankslipByAuthenticationCodeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetBankslipByAuthenticationCodeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetBankslipByAuthenticationCodeResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
      security:
        - Bearer: []
  /bankslip/{authenticationCode}/pdf:
    get:
      tags:
        - Emissão de boleto
      summary: Impressão do boleto
      description: |
        <div class="bkly-ref-description">
          <p>Realize a impressão em PDF do boleto emitido. </p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
        </div> 
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Para que seja possível solicitar a geração do PDF, o status do boleto deve ser <b>Registered</b>. Confira a documentação <a href="https://docs.bankly.com.br/docs/emissao-de-boleto" target="_blank" rel="noopener noreferrer">Emissão de boleto</a> para mais informações."
        }
        [/block]
      operationId: GetPDF
      parameters:
        - name: authenticationCode
          in: path
          description: Identificador único do boleto.
          required: true
          schema:
            minLength: 1
            type: string
            format: uuid
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
      responses:
        '200':
          description: PDF para download disponibilizado com sucesso.
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
      security:
        - Bearer: []
          
  /bankslip/searchstatus/{date}:
    get:
      tags:
        - Emissão de boleto
      summary: Consulta de boletos por data
      description: |
        <div class="bkly-ref-description">
          <p>Consulte todos os boletos emitidos que sofreram alteração de status em uma data específica.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: boleto.read</span>
        </div> 
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação <a href="https://docs.bankly.com.br/docs/consulta-boleto-por-data" target="_blank" rel="noopener noreferrer">Consulta por data</a>."
        }
        [/block]
      operationId: SearchStatus
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - name: date
          in: path
          required: true
          description: Informe a data a ser consultada no formato yyyy-MM-dd.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Recurso encontrado.
          headers:
            x-bankly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SearchResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'  
      security:
        - Bearer: []
  /bankslip/cancel:
    delete:
      tags:
        - Cancelamento de boleto
      summary: Solicitação de cancelamento de boleto
      description: |
        <div class="bkly-ref-description">
          <p>Realize o cancelamento de um boleto a qualquer momento após o seu registro, desde que ele <b>não</b> tenha sido pago.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: boleto.delete</span>
        </div> 
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação <a href="https://docs.bankly.com.br/docs/cancelamento-boleto" target="_blank" rel="noopener noreferrer">Cancelamento</a>."
        }
        [/block]
      operationId: SettlementCancellation
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SettlementBankslipCancellationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SettlementBankslipCancellationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SettlementBankslipCancellationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SettlementBankslipCancellationRequest'
      responses:
        '200':
          description: A requisição de cancelamento foi aceita e está sendo processada.
          headers:
            x-bankly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
      
      security:
        - Bearer: []
  /bankslip/settlementpayment:
    post:
      tags:
        - Baixa efetiva
      summary: Simulação de pagamento de boleto
      description: |
        <div class="bkly-ref-description">
          <p>Realize simulações de pagamentos de boletos.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: boleto.create</span>
        </div> 
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação <a href="https://docs.bankly.com.br/docs/pagamentos-de-boletos" target="_blank" rel="noopener noreferrer">Pagamentos</a>."
        }
        [/block]
      operationId: SettlementPayment
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SettlementBankslipPaymentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SettlementBankslipPaymentRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SettlementBankslipPaymentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SettlementBankslipPaymentRequest'
      responses:
        '200':
          description: A requisição foi aceita e está sendo processada.
          headers:
            x-bankly-correlation-id:
              description: Id de correlação da operação requisitada.
              schema:
                type: string
        
        '400':
          description: Há algum problema com a sua requisição. Verifique se os valores dos campos enviados estão corretos e se o boleto possui um status válido para pagamento.
          headers:
            x-bankly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string

        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'
      
      security:
        - Bearer: []

components:
  schemas:
    
    Account:
      type: object
      properties:
        number:
          type: string
          description: Número da conta.
          nullable: true
        branch:
          type: string
          description: Agência da conta.
          nullable: true
      additionalProperties: false
      
    AccountOnly:
      type: object
      properties:
        number:
          type: string
          description: Número da conta.
          nullable: true
      additionalProperties: false
    
    BankslipType:
      description: Caso este campo não seja especificado, nosso sistema gerará um boleto de depósito (Deposit) e irá desconsiderar as informações do pagador. 
      enum:
        - Deposit
        - Levy
      type: string
    
    Address:
      type: object
      properties:
        addressLine:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        zipCode:
          type: string
          nullable: true
      additionalProperties: false
    
    Person:
      type: object
      properties:
        document:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        tradeName:
          type: string
          nullable: true
        address:
          $ref: '#/components/schemas/Address'
      additionalProperties: false

    PersonEmissao:
      description: Os dados do pagador são de preenchimento obrigatório em caso de emissão de boleto de cobrança.
      type: object
      properties:
        document:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        tradeName:
          type: string
          nullable: true
        address:
          $ref: '#/components/schemas/Address'
      additionalProperties: false

    CreateBankslipRequest:
      required:
        - amount
        - account
        - documentNumber
        - dueDate
      type: object
      properties:
        alias:
          type: string
          description: Identificador externo do boleto.
          nullable: true
        account:
          $ref: '#/components/schemas/Account'
        documentNumber:
          type: string
          description: CPF ou CNPJ do emissor.
          nullable: true
        amount:
          maximum: 92233720368547760
          exclusiveMaximum: true
          minimum: 0
          exclusiveMinimum: true
          minLength: 1
          type: number
          description: Valor do boleto.
          format: double
        dueDate:
          type: string
          description: Data de vencimento no formato yyyy-MM-dd.
          format: date-time
        type:
          $ref: '#/components/schemas/BankslipType'
        payer:
          $ref: '#/components/schemas/PersonEmissao'
      additionalProperties: false
    
    CreateBankslipResponse:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/Account'
        authenticationCode:
          description: Identificador único do boleto.
          type: string
          format: uuid
      additionalProperties: false
    
    GetBankslipByAuthenticationCodeRequest:
      required:
        - authenticationCode
      type: object
      properties:
        account:
          $ref: '#/components/schemas/Account'
        authenticationCode:
          minLength: 1
          type: string
          description: Identificador único do boleto.
          format: uuid
      additionalProperties: false
    
    BankslipStatus:
      enum:
        - Processed
        - Registered
        - MarkedConciliation
        - Conciliation
        - Settled
        - CancelledByRecipient
        - CancelledByDeadLine
      type: string
    
    PriceValue:
      type: object
      properties:
        currency:
          type: string
          nullable: true
          readOnly: true
        value:
          type: number
          format: double
      additionalProperties: false
    
    PaymentChannelType:
      description: Nome do canal de pagamento.
      enum:
        - Agency
        - SelfServiceTerminal
        - InternetBanking
        - CorrespondentBanking
        - CallCenter
        - EletronicFile
        - DDA
      type: string
    
    Payments:
      type: object
      properties:
        id:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        paymentChannel:
          $ref: '#/components/schemas/PaymentChannelType'
        paidOutDate:
          type: string
          format: date-time
          description: Data de pagamento do boleto.
      additionalProperties: false
    
    GetBankslipByAuthenticationCodeResponse:
      type: object
      properties:
        authenticationCode:
          type: string
          format: uuid
          description: Identificador único do boleto.
        updatedAt:
          type: string
          format: date-time
          description: Data de atualização do status do boleto. 
        ourNumber:
          type: string
          nullable: true
          description: Valor que relaciona o boleto ao seu emissor.
        digitable:
          type: string
          nullable: true
          description: Linha digitável para pagamento do boleto. 
        status:
          $ref: '#/components/schemas/BankslipStatus'
        account:
          $ref: '#/components/schemas/AccountOnly'
        document:
          type: string
          nullable: true
          description: Código de identificação do boleto.
        amount:
          $ref: '#/components/schemas/PriceValue'
        dueDate:
          type: string
          format: date-time
          description: Data de vencimento do boleto.
        emissionDate:
          type: string
          format: date-time
          description: Data de emissão do boleto.
        type:
          $ref: '#/components/schemas/BankslipType'
        payer:
          $ref: '#/components/schemas/Person'
        recipientFinal:
          $ref: '#/components/schemas/Person'
        recipientOrigin:
          $ref: '#/components/schemas/Person'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payments'
          nullable: true
      additionalProperties: false
    
    GetBankslipByBarcodeResponse:
      type: object
      properties:
        authenticationCode:
          type: string
          format: uuid
        updatedAt:
          type: string
          format: date-time
        ourNumber:
          type: string
          nullable: true
        digitable:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/BankslipStatus'
        account:
          $ref: '#/components/schemas/Account'
        document:
          type: string
          nullable: true
        amount:
          $ref: '#/components/schemas/PriceValue'
        dueDate:
          type: string
          format: date-time
        emissionDate:
          type: string
          format: date-time
        type:
          $ref: '#/components/schemas/BankslipType'
        payer:
          $ref: '#/components/schemas/Person'
        recipientFinal:
          $ref: '#/components/schemas/Person'
        recipientOrigin:
          $ref: '#/components/schemas/Person'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payments'
          nullable: true
      additionalProperties: false
    
    GeneratePDFRequest:
      required:
        - authenticationCode
      type: object
      properties:
        authenticationCode:
          minLength: 1
          type: string
          description: Identificador único do boleto.
          format: uuid
      additionalProperties: false
    
    SearchRequest:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/Account'
        status:
          $ref: '#/components/schemas/BankslipStatus'
        pageSize:
          type: integer
          format: int32
        pageToken:
          type: string
          nullable: true
      additionalProperties: false
    
    SearchItemResponse:
      type: object
      properties:
        authenticationCode:
          type: string
          description: Identificador único do boleto.
          nullable: true
        status:
          $ref: '#/components/schemas/BankslipStatus'       
        updatedAt:
          type: string
          description: Data em que o boleto sofreu alterção.
          format: date-time
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payments'
          nullable: true
      additionalProperties: false
    
    SearchResponse:
      type: object
      properties:
        nextPageToken:
          type: string
          nullable: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/SearchItemResponse'
          nullable: true
      additionalProperties: false
    
    SettlementBankslipCancellationRequest:
      required:
        - authenticationCode
        - account
      type: object
      properties:
        authenticationCode:
          minLength: 1
          type: string
          description: Identificador único do boleto.
          format: uuid
        account:
          $ref: '#/components/schemas/Account'
      additionalProperties: false
    
    SettlementBankslipPaymentRequest:
      required:
        - authenticationCode
        - account
      type: object
      properties:
        authenticationCode:
          minLength: 1
          type: string
          description: Identificador único do boleto.
          format: uuid
        account:
          $ref: '#/components/schemas/Account'
      additionalProperties: false
  
  securitySchemes:
    Bearer:
      type: http
      description: Inclua o token de autorização do tipo Bearer.
      scheme: bearer
      bearerFormat: JWT
      
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
