openapi: 3.0.1
info:
  title: Gestão de cobrança
  description: API destinada ao gerenciamento de cobranças. 
  version: '1.0'
servers:
  - url: https://api-mtls.sandbox.bankly.com.br
paths:
  /fee:
    post:
      tags:
        - Criação 
      summary: Criação de tarifa
      description: |
        <div class="bkly-ref-description">
          <p>Crie tarifas para as transações realizadas com os produtos que você oferece aos seus clientes.</p> 
          <span class="bkly-ref-small-beta-tag">beta</span> 
          <span class="bkly-ref-scope-tag">scope: fee.create</span>
        </div>  
        
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
      
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createFeeCommand'
      responses:
        '202':
          description: Recurso criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFeeCommand'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
      security:
        - Bearer: []

  /fee/branches/{bankBranch}/accounts/{accountNumber}/authenticationcode/{authenticationCode}:
      get:
        tags:
        - Consulta 
        summary: Consulta de tarifas
        description: |
          <div class="bkly-ref-description">
            <p>Realize a consulta das tarifas aplicadas aos produtos de uma determinada conta.</p> 
            <span class="bkly-ref-small-beta-tag">beta</span> 
            <span class="bkly-ref-scope-tag">scope: fee.read</span>
          </div>  
        parameters:
          - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
          - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
          - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
          - name: authenticationCode
            in: path
            required: true
            description: Valor retornado no response de criação da tarifa.
            schema:
              type: string
              format: uuid
          - name: bankBranch
            in: path
            required: true
            schema:
              type: string
          - name: accountNumber
            in: path
            required: true
            schema:
              type: string

        responses:
          '200':
            description: Recurso encontrado. 
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/responseFeeCommand'
          '400':
            $ref: 'http://localhost:3320/commons/components#/components/responses/400'
          '403':
            $ref: 'http://localhost:3320/commons/components#/components/responses/403'
              
        security:
          - Bearer: []

  /recurrencies:
    post:
      tags:
        - Recorrência de cobrança
      summary: Agendamento de recorrência
      description: |
        <div class="bkly-ref-description">
          <p>Crie uma cobrança recorrente de acordo com as necessidades de seu cliente.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: recurrency.write</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Agendamento de recorrência](/docs/agendamento-de-recorrencia)."
        }
        [/block]
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id-Optional"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleRecurrencyRequest'
      responses:
        '202':
          description: A solicitação foi aceita e o agendamento de recorrência de cobrança foi criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResult'
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '406':
          $ref: "http://localhost:3320/commons/components#/components/responses/406"


components:
  parameters:
    RecurrencyId:
      name: recurrencyId
      in: path
      required: true
      schema:
        type: string
        description: Id da recorrência.

  schemas:
    account:
      type: object
      required:
        - branch
        - number
      properties:
        branch:
          type: string
          nullable: true
        number:
          type: string
          nullable: true
      additionalProperties: false

    accountSimple:
      type: string

    createFeeCommand:
      type: object
      required:
        - transactionId
        - transactionType
        - amount
        - description
        - recipient
        - payer
        - createdAt
        - updatedAt
      properties:
        transactionId:
          type: string
          format: uuid
          nullable: true 
          description: Informe um GUID. Esse campo não obrigatório para cobranças do tipo (transactionType) OTHER.
        transactionType:
          $ref: '#/components/schemas/transactionType'
        amount:
          type: number
          format: double
          description: Valor da tarifa em BRL. 
        description:
          type: string
          nullable: true
          description: Descrição da tarifa.
        recipient:
          $ref: '#/components/schemas/recipient'
        payer:
          $ref: '#/components/schemas/payer'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: Data de atualização da tarifa (no dia da criação da tarifa, esse campo envia o mesmo valor que o campo <code>createdAt</code>).
      additionalProperties: false

    payer:
      type: object
      required:
        - account
        - documentNumber
      properties:
        account:
          $ref: '#/components/schemas/account'
        documentNumber:
          type: string
          nullable: true
      additionalProperties: false
    
    payerResponse:
      type: object
      properties:
        branch:
         type: string
        account:
          type: string      
      additionalProperties: false

    recipient:
      type: object
      required:
        - account
        - documentNumber
      properties:
        account:
          $ref: '#/components/schemas/account'
        documentNumber:
          type: string
          nullable: true
      additionalProperties: false

    responseFeeCommand:
      type: object
      properties:
        authenticationCode: 
          type: string
          description: Código identificador.
        transactionType:
          $ref: '#/components/schemas/transactionType'        
        amount:
          type: number
          format: double
          description: Valor da tarifa em BRL.         
        status:
          type: string
          enum:
            - CREATED
            - CANCELED
            - DONE
            - UNDONE
        description:
          type: string
          nullable: true
          description: Descrição da tarifa.     
        accountNumber: 
          $ref: '#/components/schemas/accountSimple'
        payer:
          $ref: '#/components/schemas/payerResponse'
 
    transactionType:
      enum:
        - TED
        - OTHER
      type: string

    ScheduleRecurrencyRequest:
      type: object
      required:
        - hiringDate
        - billingType
        - recurrency
        - product
      properties:
        hiringDate:
          type: string
          format: date
          example: "2024-04-01"
          description: Data da contratação do produto que deverá ser cobrado de forma recorrente.
        billingType:
          type: string
          nullable: true
          description: Tipo de cobrança. Preencha este campo com "" ou com null.
        recurrency:
          $ref: '#/components/schemas/RecurrencyDto'
        user:
          $ref: '#/components/schemas/User'
        product:
          $ref: '#/components/schemas/Product'
      additionalProperties: false
    
    RecurrencyDto:
      type: object
      description: Objeto que contém informações para o registro da recorrência.
      required:
        - mustChargeOnHiringDate
        - frequency
        - quantity
        - amount
        - chargeOptions
      properties:
        postDate:
          type: integer
          format: int32
          nullable: true
          description: Dia em que deverá ser realizada a postagem de recorrência na fatura. Caso este campo não seja preenchido, será considerada a data informada em <code>hiringDate</code>.
        mustChargeOnHiringDate:
          type: boolean
          description: Indica se a cobrança deverá ser realizada no mesmo dia da contratação, sendo TRUE para sim e FALSE para não. Caso este campo seja preenchido com TRUE, o valor informado no campo <code>postDate</code> será desconsiderado.
        frequency:
          type: string
          description: Frequência em que a recorrência deverá ocorrer.
          enum:
            - ANNUALY
            - MONTHLY
            - WEEKLY
        quantity:
          type: integer
          format: int32
          description: Quantidade de cobranças da recorrência. Este campo deverá indicar quantas vezes a cobrança será realizada dentro da frequência informada.
        amount:
          description: Objeto que deverá conter informações sobre o valor da cobrança recorrente.
          $ref: '#/components/schemas/AmountDto'
        discount:
          description: Objeto que deverá conter informações sobre o desconto aplicado na cobrança, caso exista.
          $ref: '#/components/schemas/AmountDto'
          nullable: true
        chargeOptions:
          description: Objeto que deverá conter informações sobre o formato de cobrança.
          $ref: '#/components/schemas/ChargeOptions'
      additionalProperties: false
    
    AmountDto:
      type: object
      required:
        - value
        - currency
      properties:
        value:
          type: number
          format: double
          description: Valor da cobrança recorrente.
        currency:
          type: string
          example: "BRL"
          description: Código da moeda com base na ISO 3361.
      additionalProperties: false
    
    ChargeOptions:
      type: object
      required:
        - forceLimit
        - blockedAccount
      properties:
        forceLimit:
          type: boolean
          description: Indica se a cobrança recorrente deverá ocorrer para cartão sem limite. 
        blockedAccount:
          type: boolean
          description:  Indica se a cobrança recorrente deverá ocorrer para contas bloqueadas. 
      additionalProperties: false
   
    User:
      type: object
      required:
        - documentNumber
      properties:
        documentNumber:
          $ref: '#/components/schemas/DocumentNumber'
        contract:
          $ref: '#/components/schemas/Contract'
      additionalProperties: false
    
    DocumentNumber:
      type: object
      description: Objeto que deverá conter informações sobre o documento do titular.
      required:
        - value
        - type
      properties:
        value:
          type: string
          description: Número do documento.
        type:
          type: string
          description: Tipo de documento.
          enum: 
            - CPF
            - CNPJ
      additionalProperties: false
    
    Contract:
      type: object
      description: Objeto que deverá conter informações sobre o contrato de crédito do titular do cartão.
      required:
        - id
        - type
      properties:
        id:
          type: string
          description: Identificador único do contrato.
        type:
          type: string
          description: Tipo de contrato.
      additionalProperties: false
    
    Product:
      type: object
      description: Objeto que deverá conter informações sobre o produto que será cobrado de forma recorrente.
      required:
        - id
        - type
        - description
        - transactionType
      properties:
        id:
          type: string
          description: Identificador único do contrato do produto.
        type:
          type: string
          description:  Tipo de produto que será cobrado.
        description:
          type: string
          description: Descrição do produto. Essa mensagem será apresentada na postagem da cobrança.
        transactionType:
          type: string
          description: Código da transação.
      additionalProperties: false   

    BaseResult:
      type: object
      properties:
        value:
          type: object
          description: Objeto que contém informações sobre a recorrência agendada.
          properties:
            code:
              type: string
              description: Código personalizado da mensagem de sucesso.
            message:
              type: string
              description: Descrição do código de sucesso.
            recurrencyId:
              type: string
              description: Identificador único da recorrência agendada.
            productType:
              type: string
              description: Descrição do produto enviado na requisição.
          additionalProperties: false
    
  securitySchemes:
    Bearer:
      type: http
      description: Inclua o token de autorização do tipo Bearer.
      scheme: bearer
      
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
