openapi: 3.0.1
info:
  version: 1.0.0
  title: Gestão de Faturas
  description: |
    Gerencie faturas vinculadas ao cartão do seu cliente em poucos
    minutos. Consulte também nossa
    [documentação](https://bankly.readme.io/v1.0/docs/) para mais detalhes sobre
    os fluxos de negócio.
servers:
  - url: 'https://api-mtls.sandbox.bankly.com.br'
paths:
  /cards/invoices/document/{documentNumber}/proxy/{proxy}/open:
    get:
      tags:
        - Consulta de faturas
      summary: Consulta de fatura aberta
      description: |
        <div class="bkly-ref-description">
          <p>Consulte uma fatura aberta por meio do proxy do cartão.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: invoice.read</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Consulta de fatura aberta](/docs/consulta-de-fatura-aberta)."
        }
        [/block]
      parameters:
        - $ref: "#/components/parameters/DocumentNumber"
        - $ref: "#/components/parameters/Proxy"
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Solicitação aceita com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceDto"
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '404':
          $ref: "http://localhost:3320/commons/components#/components/responses/404"

  /cards/invoices/{statementId}:
    get:
      tags:
      - Consulta de faturas
      summary: Consulta de fatura por ID
      description: |
        <div class="bkly-ref-description">
          <p>Consulte uma fatura específica por meio do seu ID, independentemente do seu status. </p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: invoice.read</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Consulta de fatura pelo ID](/docs/consulta-de-fatura-por-id)."
        }
        [/block]
      parameters:
      - $ref: '#/components/parameters/StatementId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/authorization'
      responses:
        '200':
          description: Solicitação aceita com sucesso.
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/InvoiceDto"
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '404':
          $ref: "http://localhost:3320/commons/components#/components/responses/404"

  /cards/invoices/document/{documentNumber}/proxy/{proxy}:
    get:
      tags:
      - Consulta de faturas
      summary: Consulta de fatura por período
      description: |
        <div class="bkly-ref-description">
          <p>Consulte as faturas do cartão de um determinado período.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: invoice.read</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Consulta de fatura por período](/docs/consultas-de-faturas)."
        }
        [/block]
      parameters:
      - $ref: "#/components/parameters/DocumentNumber"
      - $ref: "#/components/parameters/Proxy"
      - name: initialDate
        in: query
        required: true
        schema:
          type: string
          description: Data inicial, referente ao vencimento da fatura, para a consulta (o período máximo a ser informado entre o initialDate e finalDate deverá ser de um ano).
          format: date-time
      - name: finalDate
        in: query
        required: true
        schema:
          type: string
          description: Data final, referente ao vencimento da fatura, para a consulta (o período máximo a ser informado entre o initialDate e finalDate deverá ser de um ano).
          format: date-time
      - $ref: "#/components/parameters/apiVersion"
      - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Solicitação aceita com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviousResumeInvoicesDto"
        '404':
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"

  /cards/invoices/document/{documentNumber}/proxy/{proxy}/limits:
    get:
      tags:
      - Limite de crédito
      summary: Consulta do limite de crédito
      description: |
        <div class="bkly-ref-description">
          <p>Consulte o limite de crédito do cartão.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: invoice.read</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Consulta do limite de crédito](/docs/consulta-de-limite-de-credito)."
        }
        [/block]
      parameters:
      - $ref: "#/components/parameters/DocumentNumber"
      - $ref: "#/components/parameters/Proxy"
      - $ref: "#/components/parameters/apiVersion"
      - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Solicitação aceita com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditLimitDto"
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '404':
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
      
  /cards/invoices/{statementId}/payment:
    post:
      tags:
        - Pagamento de faturas
      summary: Geração de uma forma de pagamento
      description: |
        <div class="bkly-ref-description">
          <p>Gere uma forma de pagamento para uma fatura específica, por meio do seu ID.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: invoice.write</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Geração de uma forma de pagamento](/docs/geracao-forma-pagamento)."
        }
        [/block]
      parameters:
        - $ref: '#/components/parameters/StatementId'
        - $ref: '#/components/parameters/apiVersion'
        - $ref: '#/components/parameters/authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/IdempotencyKey'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id-Optional'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentCommand'
      responses:
        '202':
          description: Solicitação aceita com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentStatusDto"
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '406':
          $ref: "http://localhost:3320/commons/components#/components/responses/406"

  /cards/invoices/{statementId}/payment-options:
    get:
      tags:
      - Pagamento de faturas
      summary: Consulta de opções de pagamento
      description: |
        <div class="bkly-ref-description">
          <p>Consulte as opções de pagamento de uma fatura.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: invoice.read</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Consulta de opções de pagamento](/docs/consulta-de-opcoes-pagamento)."
        }
        [/block]
      parameters:
      - $ref: '#/components/parameters/StatementId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/authorization'
      - $ref: 'http://localhost:3320/commons/components#/components/parameters/IdempotencyKey'
      - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id-Optional'
      responses:
        '200':
          description: Solicitação aceita com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentOptionsDto'
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '406':
          $ref: "http://localhost:3320/commons/components#/components/responses/406"

  /cards/invoices/{statementId}/settlement:
    post:
      tags: 
      - Pagamento de faturas
      summary: Baixa de fatura por meio de pagamentos externos
      description: |
        <div class="bkly-ref-description">
          <p>Realize a baixa total ou parcial de uma fatura emitida por meio de seu próprio sistema financeiro.</p> 
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: invoice.write</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Baixa de fatura por meio de pagamentos externos](/docs/baixa-de-fatura)."
        }
        [/block]
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/Authorization"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/IdempotencyKey_required"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/X-bkly-version"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id"
        - $ref: '#/components/parameters/StatementId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExternalPaymentCommand'
      responses:
        '202':
          $ref: "http://localhost:3320/commons/components#/components/responses/202"
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '406':
          $ref: "http://localhost:3320/commons/components#/components/responses/406"

  /cards/invoices/{statementId}/installments:
    post:
      tags:
      - Refinanciamento de fatura
      summary: Simulação de parcelamentos de uma fatura
      description: |
        <div class="bkly-ref-description">
          <p>Simule os possíveis parcelamentos de uma fatura e seus valores.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: invoice.read</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Simulação de parcelamentos de uma fatura](/docs/simulacao-de-parcelamentos-fatura)."
        }
        [/block]
      parameters:
      - $ref: '#/components/parameters/StatementId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/authorization'
      responses:
        '200':
          description: Solicitação aceita com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PaymentOptionsInstallmentsDto"
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '406':
          $ref: "http://localhost:3320/commons/components#/components/responses/406"
  
  /cards/invoices/{statementId}/item/{statementItemId}/advancement:
    post:
      tags:
        - Refinanciamento de fatura
      summary: Antecipação de parcelas 
      description: |
        <div class="bkly-ref-description">
          <p>Realize o adiantamento de parcelas referentes a um refinancimento.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: invoice.write</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Somente será possível gerar o adiantamento de parcelas cujo <code>transactionType</code> apresente o valor <code>REFINANCE_INSTALLMENT</code> ou <code>CP_REFINANCING_INSTALLMENT</code>. Confira a documentação [Antecipação de parcelas](/docs/antecipacao-de-parcelas) para mais informações."
        }
        [/block]
      parameters:
        - $ref: '#/components/parameters/StatementId'
        - $ref: '#/components/parameters/StatementItemId'
        - $ref: '#/components/parameters/apiVersion'
        - $ref: '#/components/parameters/authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvanceInstallmentsRequest"
      responses:
        '202':
          description: Antecipação de parcelas processada com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvancedItemsDto"
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '406':
          $ref: "http://localhost:3320/commons/components#/components/responses/406"

  /cards/invoices/{statementId}/item/{statementItemId}/installmentsAdvancementSimulation:
    get:
      tags:
        - Refinanciamento de fatura
      summary: Simulação de antecipação de parcelas
      description: |
        <div class="bkly-ref-description">
          <p>Simule o processo de antecipação de parcelas de refinanciamento de forma a saber o valor, sem o juros de financiamento, que a parcela antecipada irá assumir antes de confirmar a operação.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: invoice.read</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Simulação de antecipação de parcelas](/docs/simulacao-de-antecipacao-de-parcelas)."
        }
        [/block]
      parameters:
        - $ref: '#/components/parameters/StatementId'
        - $ref: '#/components/parameters/StatementItemId'
        - $ref: '#/components/parameters/apiVersion'
        - $ref: '#/components/parameters/authorization'
      responses:
        '200':
            description: Simulação de antecipação de parcelas processada com sucesso.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/InstallmentAdvancementSimulationDto"
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '406':
          $ref: "http://localhost:3320/commons/components#/components/responses/406"

  /cards/invoices/adjustments:
    post:
      tags:
        - Ajustes financeiros
      summary: Realização de ajuste financeiro 
      description: |
        <div class="bkly-ref-description">
          <p>Realize um ajuste forçado de débito ou crédito em uma fatura em aberto. </p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: invoice.adjustment </span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Confira a documentação [Realização de ajuste financeiro](/docs/realizacao-ajuste-financeiro) para mais informações."
        }
        [/block]      
      parameters:
        - $ref: '#/components/parameters/apiVersion'
        - $ref: '#/components/parameters/authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-correlation-id'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-version'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/IdempotencyKey'
        - name: x-user-id
          in: header
          schema:
            type: string
            description: Documento associado à conta do usuário.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdjustmentRequestDto"
      responses:
        '201':
          description: Operação de ajuste criada com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdjustmentResponseDto"
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '401':
          $ref: "http://localhost:3320/commons/components#/components/responses/401"
        '404':
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        '409':
          $ref: "http://localhost:3320/commons/components#/components/responses/409"
  
  /cards/invoices/adjustments/{forceOperationId}/cancel:
    post:
      tags:
        - Ajustes financeiros
      summary: Cancelamento de ajuste financeiro 
      description: |
        <div class="bkly-ref-description">
          <p>Realize o cancelamento de um ajuste forçado de débito ou crédito, de forma total ou parcial. </p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: invoice.adjustment </span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Confira a documentação [Cancelamento de ajuste financeiro](/docs/cancelamento-ajuste-financeiro) para mais informações."
        }
        [/block]      
      parameters:
        - $ref: '#/components/parameters/apiVersion'
        - $ref: '#/components/parameters/authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-correlation-id'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-version'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/IdempotencyKey'
        - name: x-user-id
          in: header
          schema:
            type: string
            description: Documento associado à conta do usuário.
        - name: forceOperationId
          in: path
          required: true
          schema:
            type: string
            description: Identificador único do ajuste financeiro retornado no endpoint [Realização de ajuste financeiro](/docs/realizacao-ajuste-financeiro).
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelAdjustmentRequestDto"
      responses:
        '202':
          description: Operação de cancelamento criada com sucesso.
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '401':
          $ref: "http://localhost:3320/commons/components#/components/responses/401"
        '404':
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        '409':
          $ref: "http://localhost:3320/commons/components#/components/responses/409"

  /cards/invoices/adjustments/{forceOperationId}:
    get:
      tags:
        - Ajustes financeiros
      summary: Consulta de ajuste financeiro 
      description: |
        <div class="bkly-ref-description">
          <p>Consulte um ajuste financeiro utilizando o ID retornado no endpoint [Realização de ajuste financeiro](/docs/realizacao-ajuste-financeiro). </p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: invoice.adjustment </span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Confira a documentação [Consulta de ajuste financeiro](/docs/cancelamento-ajuste-financeiro) para mais informações."
        }
        [/block]      
      parameters:
        - $ref: '#/components/parameters/apiVersion'
        - $ref: '#/components/parameters/authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-correlation-id'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-bkly-version'
        - name: forceOperationId
          in: path
          required: true
          schema:
            type: string
            description: Identificador único do ajuste financeiro retornado no endpoint [Realização de ajuste financeiro](/docs/realizacao-ajuste-financeiro).
      responses:
        '201':
          description: A solicitação foi aceita e retornará um objeto contendo informações sobre o ajuste financeiro.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdjustmentQueryResponseDto"
        '400':
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        '401':
          $ref: "http://localhost:3320/commons/components#/components/responses/401"
        '404':
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        '409':
          $ref: "http://localhost:3320/commons/components#/components/responses/409"

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  
  parameters:
    apiVersion:
      name: api-version
      in: header
      required: true
      schema:
        type: string
        description: Versão da API. Atualmente estamos na versão 1.0.
        
    authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string 
        description: Token de autorização do tipo Bearer.

    DocumentNumber:
      name: documentNumber
      in: path
      required: true
      schema:
        type: string
        nullable: true
        description: Número do documento do titular do cartão.

    StatementId:
      name: statementId
      required: true
      in: path
      schema:
        type: integer
        format: int32
        description: Identificador único da fatura em aberto. Insira somente números, sem caracteres especiais.

    StatementItemId:
      name: statementItemId
      required: true
      in: path  
      schema: 
        type: integer
        format: int32
        description: Identificador de uma das parcelas de refinanciamento passíveis de serem antecipadas.

    Proxy:
      name: proxy
      in: path
      required: true
      schema:
        type: string
        nullable: true
        description: Identificador do cartão utilizado na transação.
  
  schemas:
    
    AmountRequestDto:
      type: object
      description: Objeto que deverá conter informações sobre o valor monetário do ajuste.
      required:
        - value
        - currency
      properties:
        value:
          type: number
          format: double
          description: Valor monetário da operação.
          nullable: true
        currency:
          type: string
          description: Código da moeda com base na ISO 4217.
          nullable: true
      additionalProperties: false

    ClientRequestDto:
      type: object
      description: Objeto que deverá conter informações sobre o titular do cartão de crédito.
      required:
        - contractNumber
      properties:
        contractNumber:
          type: string
          description: Número do contrato de crédito vigente.
          nullable: true
      additionalProperties: false

    TransactionRequestDto:
      type: object
      description: Objeto que deverá conter informações sobre a operação que será forçosamente lançada na fatura em aberto.
      required:
        - transactionType
        - descriptor
      properties:
        amount:
          "$ref": "#/components/schemas/AmountRequestDto"
        transactionType:
          description: Código que identifica a transação de crédito ou débito.
          $ref: "#/components/schemas/TransactionType"
        descriptor:
          type: string
          maxLength: 256
          description: Descrição do ajuste financeiro realizado. O valor informado será retornado no campo <code>transactionDescription</code> do evento TRANSACTION_CREATED, que é disparado após a realização do ajuste.
          nullable: true
      additionalProperties: false
    
    CancelAdjustmentRequestDto:
      type: object
      required:
      - client
      - transaction
      properties:
        client:
          type: object
          description: Objeto que deverá conter informações sobre o titular do cartão de crédito.
          required:
            - contractNumber
            - documentNumber
          properties:
            contractNumber:
              type: string
              description: Número do contrato de crédito vigente.
              nullable: true
            documentNumber:
              type: string
              enum:
                - CPF
                - CNPJ
              description: Número do documento.
          additionalProperties: false
        transaction:
          "$ref": "#/components/schemas/CancelTransactionDto"
      additionalProperties: false
    
    CancelTransactionDto:
      type: object
      description: Objeto que deverá conter informações sobre o ajuste que será forçosamente lançado na fatura em aberto.
      required:
        - forceOperationId
        - originalIdempotencyKey
        - authorization_id
        - descriptor
      properties:
        amount:
          type: number
          format: double
          description: "Valor monetário do ajuste. <b>Importante</b>: Caso não informado será cancelado o valor total da operação."
          nullable: true
        originalIdempotencyKey:
          type: string
          description: "<code>IdempotencyKey</code> utilizado no ajuste financeiro."
          nullable: true
        forceOperationId:
          type: string
          description: Identificador único do ajuste financeiro retornado no endpoint de [Realização de ajuste financeiro](/docs/realizacao-ajuste-financeiro).
          nullable: true
        cancelFees:
          type: boolean
          description: "Indica se é desejado o cancelamento das taxas da operação, sendo TRUE para sim e FALSE para não. <b>Importante</b>: As taxas somente poderão ser canceladas uma única vez."
          nullable: true
        authorization_id:
          type: integer
          format: int64
          description: "Identificador da transação gerado pela processadora. <b>Dica</b>: Informe o valor retornado no campo <code>authorizationId</code> do evento TRANSACTION_CREATED, que é disparado após a realização do ajuste."
          nullable: true
        descriptor:
          type: string
          description: Descrição do ajuste financeiro realizado.
          nullable: true
      additionalProperties: false
    
    AdjustmentRequestDto:
      type: object
      properties:
        client:
          "$ref": "#/components/schemas/ClientRequestDto"
        transaction:
          "$ref": "#/components/schemas/TransactionRequestDto"
        metadata:
          type: object
          maxLength: 256
          description: Dados adicionais que podem ser informados para a rastreabilidade da operação.
          additionalProperties:
            type: string
            nullable: true
          nullable: true
      additionalProperties: false
    
    AdjustmentResponseDto:
      type: object
      properties:
        forceOperationId:
          type: string
          maxLength: 32
          description: Identificador único do ajuste financeiro.
    
    AdjustmentQueryResponseDto:
      type: object
      properties:
        correlationId:
          type: string
          description: Identificador da correlação entre transações.
        client:
          type: object
          description: Objeto que contém informações sobre o titular do cartão de crédito.
          properties:
            documentNumber:
              type: string
              enum:
                - CPF
                - CNPJ
              description: Número do documento.
              nullable: true
            contractNumber:
              type: string
              description: Número do contrato de crédito vigente.
              nullable: true
            companyKey:
              type: string
              description: Chave que identifica o parceiro dentro do Bankly.
              nullable: true
        transaction:
          type: object
          description: Objeto que contém informações sobre a operação que será forçosamente lançada na fatura em aberto.
          properties:
            idempotencyKey:
              type: string
              description: A chave de idempotência utilizada na criação do ajuste.
              nullable: true
            amount:
              type: object
              description: Objeto que contém informações sobre o valor monetário do ajuste.
              properties:
                value:
                  type: number
                  format: double
                  description: Valor monetário do ajuste.
                  nullable: true
                currency:
                  type: string
                  description: Código da moeda com base na ISO 4217.
                  nullable: true
            transactionType:
              description: Código que identifica a transação de crédito ou débito.
              $ref: "#/components/schemas/TransactionType"
            descriptor:
              type: string
              description: Descrição do ajuste financeiro realizado.
              nullable: true
            date:
              type: string
              format: date-time
              description: Data e hora da realização do ajuste financeiro, no formato ISO 8601.
              nullable: true
            cancelledTransactions:
              type: array
              description: "Lista de objetos contendo informações sobre os ajustes financeiros cancelados. <b>Importante</b>: Esta lista somente será retornada caso algum ajuste financeiro tenha sido cancelado."
              items:
                type: object
                properties:
                  amount:
                    type: number
                    format: double
                    description: Valor do ajuste cancelado.
                  originalIdempotencyKey:
                    type: string
                    description: Chave de idempotência originada no momento da criação do ajuste.
                  idempotencyKey:
                    type: string
                    description: Chave de idempotência utilizada no cancelamento do ajuste.
                  forceOperationId:
                    type: string
                    description: Identificador do ajuste financeiro realizado.
                  cancelFees:
                    type: boolean
                    description: Indica se as taxas foram canceladas (TRUE) ou não (FALSE).
                  authorization_id:
                    type: integer
                    format: int64
                    description: Código de autorização do ajuste financeiro cancelado.
                  descriptor:
                    type: string
                    description: Descrição do ajuste financeiro cancelado.
                  date:
                    type: string
                    format: date-time
                    description: Data e hora do cancelamento do ajuste financeiro, no formato ISO 8601.
                  
    AdvanceInstallmentsRequest:
      type: object
      required: 
        - installmentAdvanceQuantity
        - removeInterest
      properties:
        installmentAdvanceQuantity:
          type: integer
          format: int32
          description: Quantidade de parcelas a serem antecipadas.
        removeInterest:
          type: boolean
          description: Sinaliza se os encargos das parcelas devem ser removidos (TRUE) ou não (FALSE). Como se trata de parcelas de refinanciamento, preencha este campo com <b>TRUE</b>.
      additionalProperties: false

    AdvancedItemsDto:
      type: object
      properties:
        statementId:
          type: integer
          format: int32
          description: Identificador único da fatura.
        statementItemsId:
          type: array
          items: 
            type: integer
            format: int32
          description: Lista que contém os Ids das parcelas de refinanciamento antecipadas.
      additionalProperties: false

    Amount:
      type: object
      required:
        - value
        - currency
      properties:
        value: 
          type: number
          description: Valor monetário da operação.
        currency:
          type: string
          description: "Sigla da moeda da operação, de acordo com a ISO 4217. Exemplo: BRL."
    
    AmountInvoiceDto:
      type: object
      properties:
        amountType:
          $ref: '#/components/schemas/AmountType'
        value:
          type: number
          format: double
          description: Valor do item da fatura.
        currency:
          type: string
          nullable: true
          description: Código da moeda de acordo com a ISO-4217 (exemplo BRL).
      additionalProperties: false
    
    AmountType:
      enum:
        - NotMapper
        - Local
        - Exchange
        - Billet
      type: string
      description: Indicador do item de fatura.

    CardDto:
      type: object
      properties:
        proxy:
          type: string
          nullable: true
          description: Identificador do cartão utilizado na transação.
        lastFourDigits: 
          type: string
          nullable: true
          description: Quatro últimos dígitos do cartão.
        alias:
          type: string
          nullable: true
          description: Apelido dado ao cartão.
        cardType:
          enum:
            - Physical
            - Virtual
          type: string
          nullable: true
          description: Tipo do cartão.
      additionalProperties: false

    CreateExternalPaymentCommand:
      type: object
      required: 
        - type
        - liquidateDate
        - paymentDate
        - externalId
        - amount
      properties:
        type: 
          $ref: '#/components/schemas/TypeExternalPayment'
        liquidateDate:
          type: string
          description: Data de liquidação do pagamento, que não pode ser superior a seis dias da data do pagamento.
          format: date-time
        paymentDate: 
          type: string
          description: Data do pagamento.
          format: date-time
        externalId: 
          type: string
          description: Identificador único da fatura que está sendo paga.
        amount:
          $ref: '#/components/schemas/Amount'
      additionalProperties: false

    CreatePaymentCommand:
      type: object
      required:
        - paymentType
      properties:
        paymentType:
          $ref: '#/components/schemas/PaymentType'
        value:
          type: number
          format: double
          description: Valor a ser pago. Este campo é obrigatório somente se o tipo de pagamento escolhido tenha sido <code>Partial</code>.
        paymentOptionId:
          type: integer
          format: int32
          description: Identificador da opção de pagamento. Este campo é obrigatório somente se o tipo de pagamento escolhido tenha sido <code>InstallmentWithEntry</code>.
          nullable: true
      additionalProperties: false
    
    CreditLimitDto:
      type: object
      properties:
        totalCreditLimit:
          type: number
          format: double
          description: Total do limite de crédito aprovado.
        limitActive:
          type: number
          format: double
          description: Limite habilitado pelo cliente.
        availableLimit:
          type: number
          format: double
          description: Limite de crédito disponível.
      additionalProperties: false

    CreditOfferDto:
      type: object
      properties:
        creditOfferId:
          type: integer
          format: int32
          description: Identificador único da proposta.
        externalOperationId:
          type: string
          nullable: true
          description: Identificador externo da operação.
        externalOfferId:
          type: string
          nullable: true
          description: Identificador externo da proposta.
        externalOfferType:
          enum:
            - Variable
            - Fixed
          type: string
          nullable: true
          description: Tipo da proposta externa retornada.
        amountCurrency:
          type: string
          nullable: true
          description: Código da moeda de acordo com a ISO-4217 (exemplo BRL).
        amountDue:
          type: number
          format: double
          description: Valor contratado da proposta mais o valor total de juros (pode ou não conter TAC).
        annualCet:
          type: number
          format: double
          description: CET (custo efetivo total) da contratação calculado ao ano.
        annualInterestRate:
          type: number
          format: double
          description: Taxa de juros anual da contratação.
        cet:
          type: number
          format: double
          description: CET (custo efetivo total) da contratação calculado na periodicidade definida das parcelas.
        disbursementDate:
          type: string
          format: date-time
          description: Data prevista para o desembolso da proposta.
        externalCreatedAt:
          type: string
          format: date-time
          description: Data do cálculo da proposta no formato ISO 8601.
        externalExpiresAt:
          type: string
          format: date-time
          description: Data de expiração da proposta no formato ISO 8601.
        firstPaymentDate:
          type: string
          format: date-time
          description: Data do 1º pagamento da proposta no formato ISO 8601.
        graceDays:
          type: integer
          format: int32
          description: Quantidade de dias para a carência do 1º pagamento.
        lastPaymentDate:
          type: string
          format: date-time
          description: Data do último pagamento da proposta.
        loanAmount:
          type: number
          format: double
          description: Valor do crédito solicitado para contratação.
        monthlyInterestRate:
          type: number
          format: double
          description: Taxa de juros mensal da contratação.
        operationCostAmount:
          type: number
          format: double
          description: Custo de processamento da operação.
        retentionRate:
          type: number
          format: double
          description: Indica o percentual de retenção da proposta.
        term:
          type: integer
          format: int32
          description: Quantidade de parcelas da proposta.
        totalInterestAmount:
          type: number
          format: double
          description: Valor total de juros a ser pago na contratação.
        totalPaymentAmount:
          type: number
          format: double
          description: Valor total a ser pago no final do contrato (se aplicável ao produto).
        iofTotalAmount:
          type: number
          format: double
          description: Valor final do cálculo do IOF.
        iofTotalPercentage:
          type: number
          format: double
          description: Valor percentual do IOF, se aplicável.
        confirmedOffer:
          type: boolean
          description: Informa se a oferta está confirmada.
        installments:
          type: array
          items: {$ref: '#/components/schemas/InstallmentDto'}
          nullable: true
      additionalProperties: false
    
    CycleType:
      enum:
        - Open
        - Future
        - Closed
        - DueDate (atrasado)
      type: string
      description: Situação da fatura.

    FeeInvoiceDto:
      type: object
      properties:
        feeType:
          $ref: '#/components/schemas/FeeType'
        value:
          type: number
          format: double
          description: Valor da taxa.
      additionalProperties: false

    FeeType:
      enum:
        - NotMapper
        - Iof
        - Markup
        - DailyIof
        - Interest
      type: string
      description: Tipo da taxa.    
    
    InstallmentAdvancementSimulationDto:
      type: array
      description: Lista de objetos contendo informações sobre <b>todas/b> as parcelas passíveis de serem antecipadas.
      items:
        type: object
        properties:
          statementId:
            type: integer
            format: int32
            description: Identificador único da fatura em aberto.
          statementItemId:
            type: integer
            format: int32
            description: Identificador da parcela de refinanciamento passível de ser antecipada.
          installmentNumber:
            type: integer
            format: int32
            description: Número da parcela.
          paymentAmount:
            type: number
            description: Valor total da parcela.
          interestAmount:
            type: number
            description: Valor dos encargos aplicados à parcela.
          adjustedAmount:
            type: number
            description: Valor ajustado da parcela após a remoção dos encargos.
        additionalProperties: false

    InstallmentDto:
      type: object
      properties:
        creditOfferId:
          type: integer
          format: int32
          description: Identificador único da proposta.
        amortizationAmount:
          type: number
          format: double
          description: Valor da amortização no contrato.
          nullable: true
        dueDate:
          type: string
          format: date-time
          description: Data de vencimento da parcela.
        interestAmount:
          type: number
          format: double
          description: Valor do juros da parcela.
        iofAmount:
          type: number
          format: double
          description: Valor do IOF da parcela.
        paymentAmount:
          type: number
          format: double
          description: Valor da parcela.
        installmentNumber:
          type: integer
          format: int32
          description: Número da parcela.
      additionalProperties: false

    InvoiceDto:
      type: object
      properties:
        statementId:
          type: integer
          format: int32
          description: Identificador único da fatura.
        month:
          type: integer
          format: int32
          description: Representa o mês de vencimento da fatura.
        year:
          type: integer
          format: int32
          description: Representa o ano de vencimento da fatura.
        cycle:
          type: integer
          format: int32
          description: Indicador do ciclo da fatura (por contrato de crédito).
        cycleCloseDate:
          type: string
          format: date-time
          description: Data de fechamento da fatura.
          nullable: true
        dueDateStart:
          type: string
          format: date-time
          description: Data inicial do período da fatura.
        dueDateEnd:
          type: string
          format: date-time
          description: Data final do período da fatura.
          nullable: true
        dueDate:
          type: string
          format: date-time
          description: Data de vencimento da fatura.
        amountMinimal:
          type: number
          format: double
          description: Valor mínimo a ser pago da fatura. Somente é calculado após o fechamento da fatura.
          nullable: true
        balance:
          type: number
          format: double
          description: Valor total da fatura.
          nullable: true
        cycleType:
          $ref: '#/components/schemas/CycleType'
        documentNumber:
          type: string
          nullable: true
          description: Número do documento de CPF ou CNPJ do titular do cartão.
        paymentStatus:
          $ref: '#/components/schemas/StatementPaymentStatus'
        statementItens:
          type: array
          items: {$ref: '#/components/schemas/ItemInvoiceDto'}
          nullable: true
      additionalProperties: false
    
    InvoicePaymentDto:
      type: object
      properties:
        paymentId:
          type: integer
          format: int32
          description: Identificador único do pagamento.
        paymentOptionId:
          type: integer
          format: int32
          description: Identificador único da opção de pagamento.
        paymentBilletId:
          type: string
          nullable: true
          description: Código de registro do boleto.  Este campo somente será retornado caso a forma de pagamento escolhida tenha sido “Billet”.
        amount:
          type: number
          format: double
          description: Valor do pagamento.
        dueDate:
          type: string
          format: date-time
          description: Data de vencimento do pagamento.
        paymentOptionType:
          $ref: '#/components/schemas/PaymentOptionType'
        status:
          $ref: '#/components/schemas/PaymentStatus'
        digitableLine:
          type: string
          nullable: true
          description: Linha digitável do boleto de pagamento.  Este campo somente será retornado caso a forma de pagamento escolhida tenha sido “Billet”.
        paymentDate:
          type: string
          format: date-time
          nullable: true
          description: Data de pagamento.
        liquidatedPaymentDate:
          type: string
          format: date-time
          nullable: true
          description: Data de liquidação do pagamento.
      additionalProperties: false

    InvoiceResumeDto:
      type: object
      properties:
        statementId:
          type: integer
          format: int32
          description: Identificador único da fatura.
        month:
          type: integer
          format: int32
          description: Representa o mês de vencimento da fatura.
        year:
          type: integer
          format: int32
          description: Representa o ano de vencimento da fatura.
        cycle:
          type: integer
          format: int32
          description: Indicador do ciclo da fatura (por contrato de crédito).
        dueDate:
          type: string
          format: date-time
          description: Data de vencimento da fatura.
        amountMinimal:
          type: number
          format: double
          description: Valor mínimo a ser pago da fatura. Somente é calculado após o fechamento da fatura.
        balance:
          type: number
          format: double
          description: Valor total da fatura.
        cycleType:
          $ref: '#/components/schemas/CycleType'
        paymentStatus:
          $ref: '#/components/schemas/StatementPaymentStatus'
        paymentTotalAmount:
          type: number
          format: double
          description: Valor pago.
          nullable: true
      additionalProperties: false
   
    ItemInvoiceDto:
      type: object
      properties:
        statementNumber:
          type: integer
          format: int32
          description: Número da parcela.
        statementTotal:
          type: integer
          format: int32
          description: Total de parcelas.
        isCredit:
          type: boolean
          description: Indica se é uma operação de crédito (true) ou débito (false).
        transactionDate:
          type: string
          format: date-time
          description: Data em que ocorreu a transação.
        transactionType:
          $ref: "#/components/schemas/TransactionType"
        transaction:
          $ref: '#/components/schemas/TransactionInvoiceDto'
        amounts:
          type: array
          items: {$ref: '#/components/schemas/AmountInvoiceDto'}
          nullable: true
        fees:
          type: array
          items: {$ref: '#/components/schemas/FeeInvoiceDto'}
          nullable: true
        statementItemId:
          type: integer
          format: int32
          description: Indicador do item de fatura.
        transactionDescription:
          type: string
          nullable: true
          description: Descritivo do item da fatura.
        summary:
          type: object
          description: Objeto que contém informações resumidas sobre a fatura.
          properties:
            outstandingBalance:
              type: object
              description: Objeto que contém o saldo residual devedor da fatura anterior.
              properties:
                value:
                  type: number
                  description: Valor total do saldo residual.
                currency:
                  type: string
                  description: Código da moeda com base na ISO-4217.
            estimatedCharges:
              type: object
              description: Objeto que contém o valor estimado de encargos caso a fatura seja rotativada.
              properties:
                iof:
                  type: object
                  description: Objeto que contém o valor estimado do IOF caso a fatura seja rotativada.
                  properties:
                    value:
                      type: number
                      description: Valor total estimado do IOF.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                refinance:
                  type: object
                  description: "Objeto que contém o valor que será refinanciado caso a fatura seja rotativada. Observação: o valor a ser refinanciado é a diferença entre o mínimo da fatura e o valor total."
                  properties:
                    value:
                      type: number
                      description: Valor total a ser refinanciado.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                interest:
                  type: object
                  description: Objeto que contém o valor estimado do encargo de refinanciamento caso a fatura seja rotativada.
                  properties:
                    value:
                      type: number
                      description: Valor total estimado dos encargos de refinanciamento.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                trafficValue:
                  type: object
                  description: Objeto que contém o valor estimado da multa caso a fatura seja rotativada.
                  properties:
                    value:
                      type: number
                      description: Valor total estimado da multa.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                annualCet:
                  type: number
                  description: Percentual anual do custo efetivo total da operação de rotativo.
                monthlyCet:
                  type: number
                  description: Percentual mensal do custo efetivo total da operação de rotativo.
            installmentSummary:
              type: object
              description: Objeto que contém o resumo dos itens parcelados a vencer (itens de parcelamento que compõem a fatura aberta e faturas futuras).
              properties:
                interestFree:
                  type: object
                  description: Objeto que contém a soma dos itens de parcela sem juros a vencer.
                  properties:
                    value:
                      type: number
                      description: Valor total dos itens parcelados sem juros a vencer.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                interest:
                  type: object
                  description: Objeto que contém a soma dos itens de parcela com juros a vencer, com desconto dos encargos que compõem a parcela.
                  properties:
                    value:
                      type: number
                      description: Valor total dos itens parcelados com juros a vencer, com desconto dos encargos que compõem a parcela.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                interestWithoutDiscount:
                  type: object
                  description: Objeto que contém a soma dos itens de parcela com juros a vencer, sem o desconto dos encargos que compõem a parcela.
                  properties:
                    value:
                      type: number
                      description: Valor total dos itens parcelados com juros a vencer, sem o desconto dos que compõem a parcela. 
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
            amountMinimalComposition:
              type: object
              description: Objeto que contém os valores que compõem o valor de pagamento mínimo da fatura.
              properties:
                outstandingBalance:
                  type: object
                  description: Objeto que contém o saldo residual devedor da fatura anterior.
                  properties:
                    value:
                      type: number
                      description: Valor total do saldo residual.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                fees:
                  type: object
                  description: Objeto que contém a soma dos valores de transações de encargos lançadas na fatura.
                  properties:
                    value:
                      type: number
                      description: Valor total dos itens de encargos lançados em fatura.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                refinance:
                  type: object
                  description: Objeto que contém a soma dos valores de transações de refinanciamento de fatura lançados na fatura.
                  properties:
                    value:
                      type: number
                      description: Valor total dos itens de refinanciamento de fatura lançados em fatura.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                transactions:
                  type: object
                  description: Objeto que contém a soma dos valores das transações de débito lançadas em fatura.
                  properties:
                    value:
                      type: number
                      description: Valor total das transações de débitos lançadas em fatura.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
            transactionsSummary:
              type: object
              description: Objeto que contém os valores totais das transações na fatura, agrupados por categoria de transação.
              properties:
                nationalPurchasing:
                  type: object 
                  description: Objeto que contém a soma dos valores das transações nacionais na fatura.
                  properties:
                    value:
                      type: number
                      description: Soma dos valores das transações nacionais na fatura.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217. 
                internationalPurchasing:
                  type: array
                  description: Objeto que contém a soma dos valores das transações internacionais na fatura.
                  properties: 
                    value:
                      type: number
                      description: Soma dos valores das transações internacionais na fatura.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                fees:
                  type: object
                  description: Objeto que contém a soma dos valores dos encargos lançados na fatura.
                  properties:
                    value:
                      type: number
                      description: Soma dos valores das transações de encargos lançadas na fatura.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                debtAdjustments:
                  type: object
                  description: Objeto que contém a soma dos valores dos ajustes a débito na fatura.
                  properties:
                    value:
                      type: number
                      description: Soma dos valores das transações de ajustes a débito na fatura.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                creditAdjustments:
                  type: object
                  description: Objeto que contém a soma dos valores das transações de ajustes a crédito na fatura.
                  properties:
                    value:
                      type: number
                      description: Soma dos valores das transações de ajustes a crédito na fatura.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                payments:
                  type: object
                  description: Objeto que contém a soma dos valores de transações de pagamentos realizadas.
                  properties:
                    value:
                      type: number
                      description: Soma dos valores das transações de pagamentos.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                insurance:
                  type: object
                  description: Objeto que contém a soma dos valores de transações de seguro na fatura.
                  properties:
                    value:
                      type: number
                      description: Soma dos valores das transações de seguro na fatura.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                annuity:
                  type: object
                  description: Objeto que contém a soma dos valores de transações de anuidade na fatura.
                  properties:
                    value: 
                      type: number
                      description: Soma dos valores das transações da anuidade na fatura.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                withdraw:
                  type: object
                  description: Objeto que contém a soma dos valores de transações de saque na fatura.
                  properties:
                    value:
                      type: number
                      description: Soma dos valores das transações de saque na fatura.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                internationalWithdraw:
                  type: object
                  description: Objeto que contém a soma dos valores de transações de saques internacionais na fatura.
                  properties:
                    value:
                      type: number
                      description: Soma dos valores de transações de saque internacional na fatura.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                installment:
                  type: object
                  description: Objeto que contém a soma dos valores das transações parceladas na fatura atual.
                  properties:
                    value:
                      type: number
                      description: Soma dos valores das transações parceladas na fatura atual.
                    currency:
                      type: string
                      description: Código da moeda com base na ISO-4217.
                transactionsCardsSummary:
                  type: array
                  description: Lista de objetos que contém os valores totais das transações da fatura, agrupados por cartão e divididos por categoria de transação.
                  items:
                    type: object
                    properties: 
                      card:
                        type: object
                        description: Objeto que contém as informações do cartão atrelado à transação.
                        properties:
                          type:
                            type: string
                            description: Tipo do cartão, o qual pode ser “Virtual” ou “Physical”.
                          lastFourDigitis:
                            type: string
                            description: Últimos 4 dígitos do cartão.
                          name:
                            type: string
                            description: Nome exibido no cartão.
                          proxy:
                            type: string
                            description: Identificador único do cartão.
                      totalDebits:
                        type: object
                        description: Objeto que contém a soma dos valores de transações dos itens de débito na fatura atual.
                        properties: 
                          value:
                            type: number
                            description: Soma dos valores das transações dos itens de débito na fatura atual.
                          currency:
                            type: string
                            description: Código da moeda com base na ISO-4217.
                      nationalPurchasing:   
                        type: object
                        description: Objeto que contém a soma dos valores de transações nacionais na fatura.
                        properties:
                          value:
                            type: number
                            description: Soma dos valores das transações nacionais na fatura.
                          currency:
                            type: string
                            description: Código da moeda com base na ISO-4217.
                      internationalPurchasing:
                        type: array
                        items:
                          type: object
                          description: Lista de objetos que contém a soma dos valores de transações internacionais na fatura.
                          properties:
                            value:
                              type: number
                              description: Soma dos valores das transações internacionais na fatura.
                            currency:
                              type: string
                              description: Código da moeda com base na ISO-4217.
                      fees:
                        type: object
                        description: Objeto que contém a soma dos valores de transações dos encargos na fatura.
                        properties:
                          value:
                            type: number
                            description: Soma dos valores das transações de encargos na fatura.
                          currency:
                            type: string
                            description: Código da moeda com base na ISO-4217.
                      debtAdjustments:
                        type: object
                        description: Objeto que contém a soma dos valores de transações de ajustes a débito na fatura.
                        properties: 
                          value:
                            type: number
                            description: Valor total das transações de ajustes a débito na fatura.
                          currency:
                            type: string
                            description: Código da moeda com base na ISO-4217.
                      creditAdjustments:
                        type: object
                        description: Objeto que contém a soma dos valores de transações de ajustes a crédito na fatura.
                        properties: 
                          value:
                            type: number
                            description: Soma dos valores das transações de ajustes a crédito na fatura.
                          currency:
                            type: string
                            description: Código da moeda com base na ISO-4217.
                      payments:
                        type: object
                        description: Objeto que contém a soma dos valores de transações de pagamentos por cartão.
                        properties:
                          value:
                            type: number
                            description: Soma dos valores das transações de pagamentos por cartão.
                          currency:
                            type: string
                            description: Código da moeda com base na ISO-4217.
                      insurance:
                        type: object
                        description: Objeto que contém a soma dos valores de transações de seguro na fatura.
                        properties:
                          value:
                            type: number
                            description: Soma dos valores das transações de seguro na fatura.
                          currency:
                            type: string
                            description: Código da moeda com base na ISO-4217.
                      annuity:
                        type: object
                        description: Objeto que contém a soma dos valores de transações de anuidade na fatura.
                        properties:
                          value:
                            type: number
                            description: Soma dos valores das transações da anuidade na fatura.
                          currency:
                            type: string
                            description: Código da moeda com base na ISO-4217.
                      withdraw:
                        type: object
                        description: Objeto que contém a soma dos valores de transações de saque na fatura.
                        properties:
                          value:
                            type: number
                            description: Soma dos valores das transações  de saque na fatura.
                          currency:
                            type: string
                            description: Código da moeda com base na ISO-4217.
                      internationalWithdraw:
                        type: object
                        description: Objeto que contém a soma dos valores de transações de saques internacionais na fatura.
                        properties:
                          value:
                            type: number
                            description: Soma dos valores das transações de saques internacionais na fatura.
                          currency:
                            type: string
                            description: Código da moeda com base na ISO-4217.
                      installment:
                          type: object
                          description: Objeto que contém a soma dos valores de transações parceladas na fatura atual.
                          properties:
                            value:
                              type: number
                              description: Soma dos valores das transações parceladas na fatura atual.
                            currency:
                              type: string
                              description: Código da moeda com base na ISO-4217.
      additionalProperties: false
    
    PaymentOptionsDto:
      type: object
      properties:
        paymentOptionId:
          type: integer
          format: int32
          description: Identificador único da opção de pagamento.
        statementId:
          type: integer
          format: int32
          description: Identificador único da fatura.
        paymentType:
          $ref: '#/components/schemas/PaymentType'
        value:
          type: number
          format: double
          description: Valor a ser pago (no caso de parcelamento, será a entrada).
        payment:
          type: array
          items: {$ref: '#/components/schemas/InvoicePaymentDto'}
          nullable: true
        creditOffer:
          $ref: '#/components/schemas/CreditOfferDto'
      additionalProperties: false

    PaymentOptionsInstallmentsDto:
      type: object
      properties:
        paymentOptionId:
          type: integer
          format: int32
          description: Identificador único da opção de pagamento.
        statementId:
          type: integer
          format: int32
          description: Identificador único da fatura.
        paymentType:
          $ref: '#/components/schemas/PaymentType'
        value:
          type: number
          format: double
          description: Valor a ser pago na entrada do parcelamento.
        creditOffer:
          $ref: '#/components/schemas/CreditOfferDto'
      additionalProperties: false

    PaymentOptionType:
      enum:
        - Boleto
      type: string
      description: Forma de pagamento.

    PaymentStatus:
      enum:
        - Pending
        - Paid
      type: string
      description: Situação do pagamento.
    
    PaymentStatusDto:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/PaymentStatus"
        digitableLine:
          type: string
          nullable: true
          description: Linha digitável do boleto de pagamento.
        authenticationCode:
          type: string
          nullable: true
          description: Identificador da forma de pagamento.
      additionalProperties: false

    PaymentType:
      enum:
        - Cash
        - Partial
        - InstallmentWithEntry
        - InstallmentWithoutEntry
      type: string
      description: Opção de pagamento.
    
    PreviousResumeInvoicesDto:
      type: object
      properties:
        statements:
          type: array
          items: {$ref: '#/components/schemas/InvoiceResumeDto'}
          nullable: true
      additionalProperties: false
    
    StatementPaymentStatus:
      enum:
        - Pending
        - Paid
        - PartialPaid
      type: string
      description: Situação do pagamento da fatura.

    TransactionInvoiceDto:
      type: object
      properties:
        merchant:
          type: string
          nullable: true
          description: Informações referentes ao estabelecimento/comerciante que aceitou a transação. Seus campos são baseados na ISO 8583.
        mcc:
          type: string
          nullable: true
          description: Código mcc da transação.
        entrymode:
          type: string
          nullable: true
          description: Código que identifica o tipo da transação.
        mcg:
          type: string
          nullable: true
          description: Descrição do tipo do mcc.
        card:
          $ref: '#/components/schemas/CardDto'
      additionalProperties: false
          
    TransactionType:
      enum:
      - REFINANCE_CHARGES
      - INTEREST_ON_ARREST
      - TRAFFIC_TICKET
      - PURCHASE_BY_SIGHT
      - INSTALLMENT_WITHOUT_INTEREST
      - DEBIT_ADJUSTMENT
      - INSTALLMENTS_WITHOUT_INTEREST
      - INSTALLED_WITH_INTEREST
      - PAYMENT
      - CREDIT_ADJUSTMENT
      - PARTIAL_CANCELLATION_OF_PURCHASE
      - WITHDRAW
      - INTERNATIONAL_PURCHASE
      - INTERNATIONAL_IOF
      - IOF
      - IOF_WITHDRAWAL
      - WITHDRAWAL_CHARGES
      - ANNUITY
      - WITHDRAWAL_RATE
      - RATE_CARD_ISSUANCE
      - REFINANCE_INSTALLMENT
      - CANC_CREDIT_INSTALLMENTS
      - PREPAID_CHARGE
      - MEMBERSHIP_PAYMENT
      - PURCHASE_CANCELLATION
      - CANC_INSTALLMENT_WITHOUT_INTEREST
      - ANNUAL_REVERSAL
      - CREDIT_BY_INSTALLMENT
      - REFINANCE_CONTRACT
      - CANC_PARC_DE_REF
      - EXCHANGE_DIF_DEBIT
      - DIF_EXCHANGE_CREDIT
      - REVERSAL_REFINING_CHARGES
      - REVERSAL_INTEREST
      - FINE_REVERSAL
      - REVERSAL_IOF
      - CANCELLATION_AGREEMENT_REFINANC
      - CREDIT_BY_AGREEMENT
      - INSTALLMENT_OF_AGREEMENT
      - AGREEMENT_CONTRACT
      - CANCELLATION_OF_INSTALLMENT_AGREEMENT
      - CANC_CREDIT_AGREEMENT
      - CANCELLATION_CONTRACT_AGREEMENT
      - CREDIT_BY_INSTALLMENT_CP
      - CP_REFINANCING_INSTALLMENT
      - CP_REFINANCE_CONTRACT
      - CANC_PARC_DE_REF_CP
      - CANC_CREDIT_INSTALLMENT_CP
      - CANCELLATION_CONTRACT_REF_CP
      - DEBIT_PAYMENT
      - CREDIT_VOUCHER
      - CANC_INSTALLMENTS_WITHOUT_INTEREST
      - CANC_IN_INSTALLMENTS_WITH_INTEREST
      - CANC_INSTALLMENT_WITH_INTEREST
      - CANC_INTERNATIONAL_PURCHASE
      - CANC_IOF_INTERNATIONAL
      - REVERSAL_INTERNATIONAL_WITHDRAWAL
      - REVERSAL_DEBIT_PAYMENT
      - REVERSED_WITHDRAWAL
      - REVERSAL_RATE_WITHOUT_WITHDRAWAL
      - INTERNATIONAL_WITHDRAWAL
      - FLAG_PAYMENT
      - TED_CASH_OUT
      - TEF_CASH_OUT
      - TED_CASH_IN
      - DEBIT_REVERSAL
      - REVERSAL_PAYMENT
      - REVERSED_WITHDRAWAL_CHARGES
      - PRE_PAID_RECHARGE_RATE
      - PREPAID_RECHARGE_PERCENTAGE
      - MDR
      - REVERSAL_RATE_WITHDRAWAL
      - REVERSAL_IOF_WITHDRAWAL
      type: string
      nullable: true
      description: Tipo da transação.

    TypeExternalPayment:
      enum:
        - Pix
        - Billet
      type: string
      description: Meio pelo qual a fatura será liquidada.
    