openapi: 3.0.1
info:
  version: 1.0.0
  title: Gestão de cartões
  description: >-
    Solicite e gerencie cartões vinculados à conta do seu cliente em poucos
    minutos. Consulte também nossa
    [documentação](https://bankly.readme.io/v1.0/docs/) para mais detalhes sobre
    os fluxos de negócio.
servers:
  - url: 'https://api-mtls.sandbox.bankly.com.br'
paths:
  /cards/virtual:
    post:
      tags:
      - Criação de cartão
      summary: Cartão virtual
      description:  |
        <div class="bkly-ref-description">
          <p>Crie um cartão virtual que será utilizado em compras não presenciais.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.create</span>
        </div>  
      operationId: cardCreateVirtualCard
      parameters:
      - $ref: "#/components/parameters/apiVersion"
      - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCardRequest"
      responses:
        '202':
          description: A solicitação foi aceita e o cartão está sendo criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardBuildingResponse"
              examples:
                response:
                  value:
                    proxy: "2370021007715002820"
                    activateCode: "A0DDDC0951D1"
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: required, message: [ Card Name must not be empty ], reasons: [] }, { code: conflict, message: [ Alias is not in the correct format ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '406':
            description: Quando a requisição é válida, porém não foi aceita devido a alguma regra de negócio contratada.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 202, message: [ Account does not belong to the customer! ], reasons: [] }]
        '409':
            description: A requisição com os dados enviados já foi realizada e está em processamento.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/virtual
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: POST
        type: http
        requestParameters:
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
        '202':
          statusCode: 202
        '400':
          statusCode: 400
        '401':
          statusCode: 401
        '406':
          statusCode: 406
        '409':
          statusCode: 409
        '500':
          statusCode: 500
  
  /cards/physical:
    post:
      tags:
        - Criação de cartão
      summary: Cartão físico
      description:  |
        <div class="bkly-ref-description">
          <p>Crie um cartão físico que será embossado e entregue no endereço informado.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.create</span>
        </div>
      operationId: cardCreatePhysicalCard
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCardRequest"
      responses:
        '202':
          description: A solicitação foi aceita e o cartão está sendo criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardBuildingResponse"
              examples:
                response:
                  value:
                    proxy: "2370021007715002820"
                    activateCode: "A0DDDC0951D1"
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: required, message: [ Card Name must not be empty ], reasons: [] }, { code: conflict, message: [ Alias is not in the correct format ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '406':
            description: Quando a requisição é válida, porém não foi aceita devido a alguma regra de negócio contratada.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 202, message: [ Account does not belong to the customer! ], reasons: [] }]
        '409':
            description: A requisição com os dados enviados já foi realizada e está em processamento.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/physical
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: POST
        type: http
        requestParameters:
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '406':
            statusCode: 406
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/multiple:
    post:
      tags:
        - Criação de cartão
      summary: Cartão físico múltiplo
      description: |
        <div class="bkly-ref-description">
          <p>Crie um cartão físico múltiplo (pré e pós) que será embossado e entrege no endereço informado pelo cliente.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.create</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "O cartão múltiplo tem como principal característica ter no mesmo plástico um número pré e um pós. Porém, um dos números ficará adormecido enquanto o outro estiver ativo."
        }
        [/block]
      operationId: cardCreateMultipleCard
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCardRequest"
      responses:
        '202':
          description: A solicitação foi aceita e o cartão está sendo criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardBuildingResponse"
              examples:
                response:
                  value:
                    proxy: "2370021007715002820"
                    activateCode: "A0DDDC0951D1"
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: required, message: [ Card Name must not be empty ], reasons: [] }, { code: conflict, message: [ Alias is not in the correct format ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '406':
            description: Quando a requisição é válida, porém não foi aceita devido a alguma regra de negócio contratada.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 202, message: [ Account does not belong to the customer! ], reasons: [] }]
        '409':
            description: A requisição com os dados enviados já foi realizada e está em processamento.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/orders/multiple
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: POST
        type: http
        requestParameters:
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/{proxy}/duplicate:
    post:
      tags:
        - Criação de cartão
      summary: Segunda via de cartão
      description: |
        <div class="bkly-ref-description">
          <p>Crie uma segunda via de um cartão físico com as mesmas características da primeira via.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.create</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Quando a segunda via for emitida, a primeira via será cancelada automaticamente."
        }
        [/block]
      operationId: createDuplicateCard
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createDuplicateCardRequest"
      responses:
        '202':
          description: Cartão
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardBuildingResponse"
              examples:
                response:
                  value:
                    proxy: "2370021007715002820"
                    activateCode: "A0DDDC0951D1"
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: required, message: [ Card Name must not be empty ], reasons: [] }, { code: conflict, message: [ Alias is not in the correct format ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '406':
            description: Quando a requisição é válida, porém não foi aceita devido a alguma regra de negócio contratada.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 202, message: [ Account does not belong to the customer! ], reasons: [] }]
        '409':
            description: A requisição com os dados enviados já foi realizada e está em processamento.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
  
  /cards/{proxy}:
    get:
      tags:
        - Consulta de Cartões
      summary: Por proxy
      description: |
        <div class="bkly-ref-description">
          <p>Consulte os dados de um cartão pelo seu proxy.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: GetCardByProxy
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: A solicitação é recebida e retorna o cartão do proxy correspondente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cardResponse"
              examples:
                response:
                  value:
                    created: "2020-07-20T22:53:12"
                    companyKey: "Acesso"
                    documentNumber: "00000000000"
                    activateCode: "A9991B2E491D"
                    bankAgency: "0001"
                    bankAccount: "0001"
                    lastFourDigits: "4321"
                    proxy: "22999903520114195"
                    name: Jose da Silva
                    alias: Meu Cartão
                    cardType: Virtual
                    status: InTransitLocked
                    physicalBinds: 
                      [{ proxy: "2300199994444111999", created: "2020-07-20T22:54:03" }]               
                    virtualBind: 
                      proxy: "22999903520114195"
                      created: "2020-07-20T22:55:12"            
                    allowContactless: true
                    address:
                      zipCode: "05402100"
                      address: Avenida Rebouças
                      number: "1368"
                      neighborhood: Pinheiros
                      complement: Em frente a Wizard
                      city: São Paulo
                      state: SP
                      country: Brasil
                    historyStatus:
                      [ { modified: "2020-07-20T22:53:12", value: Building }, { modified: "2020-07-20T22:55:12", value: InTransitLocked } ]
                    activatedAt: null
                    lastUpdatedAt: "2020-07-20T22:55:12"
                    isActivated: false
                    isLocked: true
                    isCanceled: false
                    isBuilding: false
                    isFirtual: true
                    isPre: true
                    isPos: false
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: required, message: [ api-version must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Cartão não existente.
        '409':
            description: Requisição em conflito com as regras de negócio contratado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/document/{documentNumber}:
     get:
      tags:
        - Consulta de Cartões
      summary: Por documento (CPF ou CNPJ)
      description: |
        <div class="bkly-ref-description">
          <p>Consulte os cartões vinculados ao número de documento (CPF ou CNPJ) do titular.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: cardGetCardsByDocument
      parameters:
        - name: documentNumber
          in: path
          required: true
          description: Número de documento de CPF ou CNPJ (informe somente os números). Tamanho máximo de 14 caracteres.
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Lista com os cartões pertecentes ao documento.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: "#/components/schemas/cardResponse"
              examples:
                response:
                  value:
                    - created: "2020-07-20T22:53:12"
                      companyKey: "Acesso"
                      documentNumber: "00000000000"
                      activateCode: "A9991B2E491D"
                      bankAgency: "0001"
                      bankAccount: "0001"
                      lastFourDigits: "4321"
                      proxy: "22999903520114195"
                      name: Jose da Silva
                      alias: Meu Cartão
                      cardType: Virtual
                      status: InTransitLocked
                      physicalBinds: 
                        [{ proxy: "2300199994444111999", created: "2020-07-20T22:54:03" }]               
                      virtualBind: 
                        proxy: "22999903520114195"
                        created: "2020-07-20T22:55:12"  
                      allowContactless: true
                      address:
                        zipCode: "05402100"
                        address: Avenida Rebouças
                        number: "1368"
                        neighborhood: Pinheiros
                        complement: Em frente a Wizard
                        city: São Paulo
                        state: SP
                        country: Brasil
                      historyStatus:
                        [ { modified: "2020-07-20T22:53:12", value: Building }, { modified: "2020-07-20T22:55:12", value: InTransitLocked } ]
                      activatedAt: null
                      lastUpdatedAt: "2020-07-20T22:55:12"
                      isActivated: false
                      isLocked: true
                      isCanceled: false
                      isBuilding: false
                      isFirtual: true
                      isPre: true
                      isPos: false
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: required, message: [ api-version must not be empty. ], reasons: [] }]
        '404':
          description: Não há cartões criados para o documento fornecido.
        '401':
          description: Sem autorização para realizar a solicitação.
        '409':
            description: Requisição em conflito com as regras de negócio contratado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/document/{document}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.documentNumber: method.request.path.documentNumber
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '204':
            statusCode: 204
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/activatecode/{activationCode}:
    get:
      tags:
        - Consulta de Cartões
      summary: Por código de ativação
      description: |
        <div class="bkly-ref-description">
          <p>Consulte os cartões através do seu código de ativação.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: cardGetByActivateCode
      parameters:
        - name: activationCode
          in: path
          required: true
          description: Código de ativação do cartão (12 caracteres).
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Lista com os cartões com o código de ativação informado.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: "#/components/schemas/cardResponse"
              examples:
                response:
                  value:
                    - created: "2020-07-20T22:53:12"
                      companyKey: "Acesso"
                      documentNumber: "00000000000"
                      activateCode: "A9991B2E491D"
                      bankAgency: "0001"
                      bankAccount: "0001"
                      lastFourDigits: "4321"
                      proxy: "22999903520114195"
                      name: Jose da Silva
                      alias: Meu Cartão
                      cardType: Virtual
                      status: InTransitLocked
                      physicalBinds: 
                        [{ proxy: "2300199994444111999", created: "2020-07-20T22:54:03" }]               
                      virtualBind: 
                        proxy: "22999903520114195"
                        created: "2020-07-20T22:55:12" 
                      allowContactless: true
                      address:
                        zipCode: "05402100"
                        address: Avenida Rebouças
                        number: "1368"
                        neighborhood: Pinheiros
                        complement: Em frente a Wizard
                        city: São Paulo
                        state: SP
                        country: Brasil
                      historyStatus:
                        [ { modified: "2020-07-20T22:53:12", value: Building }, { modified: "2020-07-20T22:55:12", value: InTransitLocked } ]
                      activatedAt: null
                      lastUpdatedAt: "2020-07-20T22:55:12"
                      isActivated: false
                      isLocked: true
                      isCanceled: false
                      isBuilding: false
                      isFirtual: true
                      isPre: true
                      isPos: false
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: required, message: [ api-version must not be empty. ], reasons: [] }]
        '204':
          description: Não há cartões criados para o código de ativação fornecido.
        '401':
          description: Sem autorização para realizar a solicitação.
        '409':
            description: Requisição em conflito com as regras de negócio contratado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/activatecode/{activatecode}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.activateCode: method.request.path.activateCode
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '204':
            statusCode: 204
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/account/{account}:
    get:
      tags:
        - Consulta de Cartões 
      summary: Por conta
      description: |
        <div class="bkly-ref-description">
          <p>Consulte os cartões vinculados a uma conta de pagamentos.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: cardGetCardsByAccount
      parameters:
        - name: agency
          in: query
          required: false
          description: Número de agência (4 dígitos).
          schema:
            type: string
        - name: account
          in: path
          required: true
          schema:
            type: string
        - name: documentNumber
          in: query
          required: false
          description: Número de documento de CPF ou CNPJ (informe somente os números). Tamanho máximo de 14 caracteres.
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Lista com os cartões pertecentes à conta.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: "#/components/schemas/cardResponse"
              examples:
                response:
                  value:
                    - created: "2020-07-20T22:53:12"
                      companyKey: "Acesso"
                      documentNumber: "00000000000"
                      activateCode: "A9991B2E491D"
                      bankAgency: "0001"
                      bankAccount: "0001"
                      lastFourDigits: "4321"
                      proxy: "22999903520114195"
                      name: Jose da Silva
                      alias: Meu Cartão
                      cardType: Virtual
                      status: InTransitLocked
                      physicalBinds: 
                        [{ proxy: "2300199994444111999", created: "2020-07-20T22:54:03" }]               
                      virtualBind: 
                        proxy: "22999903520114195"
                        created: "2020-07-20T22:55:12" 
                      allowContactless: true
                      address:
                        zipCode: "05402100"
                        address: Avenida Rebouças
                        number: "1368"
                        neighborhood: Pinheiros
                        complement: Em frente a Wizard
                        city: São Paulo
                        state: SP
                        country: Brasil
                      historyStatus:
                        [ { modified: "2020-07-20T22:53:12", value: Building }, { modified: "2020-07-20T22:55:12", value: InTransitLocked } ]
                      activatedAt: null
                      lastUpdatedAt: "2020-07-20T22:55:12"
                      isActivated: false
                      isLocked: true
                      isCanceled: false
                      isBuilding: false
                      isFirtual: true
                      isPre: true
                      isPos: false
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: required, message: [ api-version must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Não há cartões criados para a conta fornecida.
        '409':
            description: Requisição em conflito com as regras de negócio contratado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/account/{account}?agency={agency}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.agency: method.request.path.agency
          integration.request.path.account: method.request.path.account
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '204':
            statusCode: 204
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '409':
            statusCode: 409
          '500':
            statusCode: 500

  /cards/{proxy}/pci:
    post:
      tags:
        - Consulta de Cartões
      summary: Dados de segurança do cartão
      description: |
        <div class="bkly-ref-description">
          <p>Consulte os dados de PCI do cartão (PAN, CVV e data de validade).</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.pci.read</span>
        </div>
      operationId: getDataPci
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
        - name: proxy
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/getDataPciRequest"
      responses:
        '200':
          description: Dados de PCI do cartão.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dataPciResponse"
              examples:
                response:
                  value:
                    cardNumber: "000000000000000"
                    cvv: "000"
                    expirationDate: 05/09
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: length, message: [ Password must be 4 characters in length. You entered 5 characters ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Cartão não existente.
        '409':
            description: Requisição em conflito com as regras de negócio contratado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 029, message: [ The card is in the process of being created ], reasons: [] }]
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/pci
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: POST
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
        '200':
          statusCode: 200
        '400':
          statusCode: 400
        '401':
          statusCode: 401
        '404':
          statusCode: 404
        '409':
          statusCode: 409
        '500':
          statusCode: 500  
  
  /cards/{proxy}/password:
    patch:
      tags:
        - Gestão de senha
      summary: Alterar senha
      description: |
        <div class="bkly-ref-description">
          <p>Altere a senha do cartão.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.pci.password.update</span>
        </div>
      operationId: cardChangeCardPassword
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeCardPasswordRequest"
      responses:
        '200':
          description: Alteração de senha realizada.
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: length, message: [ Password must be 4 characters in length. You entered 6 characters. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Se o cartão não exisitir.
        '409':
            description: Requisição em conflito com as regras de negócio contratado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 029, message: [ The card is in the process of being created ], reasons: [] }]
        '500':
            description:  Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/password
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: PATCH
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.authorization-token: method.request.header.authorization-token
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500
            
  /cards/{proxy}/activate:
    patch:
      tags:
        - Status do cartão
      summary: Ativação de cartão
      description: |
        <div class="bkly-ref-description">
          <p>Realize a ativação do cartão pela primeira vez.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.update</span>
        </div>
      operationId: cardActivateCard
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/activateCardRequest"
      responses:
        '200':
          description: Ativação foi realizada.
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: length, message: [ Password must be 4 characters in length. You entered 5 characters. ], reasons: [] },
                               { code: required, message: [ Activate Code must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Se o cartão não existir.
        '409':
            description: Requisição em conflito com as regras de negócio contratado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/activate
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: PATCH
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500
  
  /cards/{proxy}/status:
    patch:
      tags:
        - Status do cartão
      summary: Alteração do status do cartão
      description: |
        <div class="bkly-ref-description">
          <p>O status do cartão poderá ser alterado para temporário ou definitivo.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.update</span>
        </div>
      operationId: cardChangeCardStatus
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changeCardStatusRequest"
      responses:
        '200':
          description: O status foi alterado com sucesso.
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: conflict, message: [ Error converting value Cancel to type Core.Card.Domain.Shared.Types.CardStatus. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Se o cartão não exisitir.
        '409':
            description: Requisição em conflito com as regras de negócio contratado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/status
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: PATCH
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500 
            
  /cards/{proxy}/contactless:
    patch:
      tags:
      - Status do cartão
      summary: Configuração do contactless
      description: |
        <div class="bkly-ref-description">
          <p>Ative ou desative a função contactless do cartão. Para cartões virtuais, caso o contactless fique desativado, não será possível realizar transações com o uso de carteiras digitais.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.update</span>
        </div>
      operationId: cardContactLess
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - name: allowContactless
          in: query
          schema:
            type: boolean
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Alteração realizada com sucesso.
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: conflict, message: [ The value ok is not valid. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Se o cartão não existir.
        '409':
            description: Requisição em conflito com as regras de negócio contratado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 008, message: [ Card does not belong to this customer! ], reasons: [] }]
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 301, message: [ Internal server error processor ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/contactless?allowContactless={allowContactless}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: PATCH
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.query.allowContactless: method.request.path.allowContactless
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '409':
            statusCode: 409
          '500':
            statusCode: 500 
  
  /cards/{proxy}/nextStatus:
    get:
      tags:
        - Status do cartão
      summary: Consulta dos próximos status
      description: |
        <div class="bkly-ref-description">
          <p>Consulte todos os possíveis próximos status válidos para o cartão. Serão consideradas as permissões concedidas para o token informado na requisição.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: cardGetLots
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Solicitação recebida. O retorno traz os dados dos lotes.
        '204':
          description: Não foram encontrados lotes.              
        '400':
            description: "Existem erros no preenchimento da requisição."
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: required, message: [ api-version must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/lots/
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '204':
            statusCode: 204      
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '500':
            statusCode: 500  
            
  /cards/{proxy}/transactions:
    get:
      tags:
        - Consulta de transações
      summary: Consulta de transações por cartão
      description: |
        <div class="bkly-ref-description">
          <p>Consulte as transações realizadas no cartão de acordo com os filtros informados. <br /> <b>Importante!</b> A diferença entre a data de início e de fim deverá ser de, no máximo, sete dias.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: cardTransactionsByCard
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: string
        - name: pageSize
          in: query
          description: O valor máximo permitido é de 100.
          required: false
          schema:
            type: integer
        - name: startDate
          in: query
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Lista as transações pertencentes ao cartão, além das propriedades referentes à paginação da consulta.
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/resultTransactionResponse"
              examples:
                response:
                  value:
                    - nextPage: "mkzjfhcnnhat84y583hguim49801"
                      hasLastPage: true
                      transactions: 
                        [
                          {
                            account: {
                              number: "000231",
                              agency: "0001"
                            },
                            amount: {
                              value: 138.54,
                              local: 138.54,
                              net: 138.54,
                              iof: 0,
                              markup: 0
                            },
                            merchant: {
                              id: "207001540000011",
                              name: "EC*MERCADOLIVRE",
                              mcc: "0101",
                              city: "SAO PAULO"
                            },  
                            authorizationCode: "823912",
                            countryCode: "BR",
                            currencyCode: "986",
                            entryMode: "Chip",
                            status: "TransactionHoldWasExpired",
                            transactionTimestamp: "2020-09-24T17:21:39.8921566+00:00",
                            transactionType: "Purchase"
                          }
                        ]
        '204':
          description: Não há transações para o cartão fornecido.
        '400':
            description: Existem erros no preenchimento da requisição.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: required, message: [ api-version must not be empty. ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/transactions?startDate={startDate}&endDate={endDate}&pageSize={pageSize}&page={page}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.query.startDate: method.request.query.startDate
          integration.request.query.endDate: method.request.query.endDate
          integration.request.query.page: method.request.query.page
          integration.request.query.pageSize: method.request.query.pageSize
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '202':
            statusCode: 202
          '204':
            statusCode: 204
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '500':
            statusCode: 500

  /cards/{proxy}/tracking:
    get:
      tags:
        - Rastreio de Cartões
      summary: Por proxy
      description: |
        <div class="bkly-ref-description">
          <p>Obtenha o rastreio do cartão pelo seu proxy.</p> 
          <span class="bkly-ref-small-beta-tag">beta</span> 
          <span class="bkly-ref-scope-tag">scope: card.read</span>
        </div>
      operationId: trackingGetByProxy
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Solicitação recebida. O retorno é o rastreio do cartão do proxy correspondente.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trackingResponse"
              examples:
                response:
                  value:
                    createdDate: "2020-07-20T22:53:12"
                    externalTracking:
                      code: "A2327692D592"
                      partner: "CORREIOS"
                    name: Jose da Silva
                    alias: Meu Cartão
                    address:
                      [ { zipCode: "05402100", address: Avenida Rebouças, number: "1368", neighborhood: Pinheiros, complement: Em frente a Wizard, city: São Paulo, state: SP, country: Brasil } ]
                    status:
                      [ { createdDate: "2020-07-20T22:53:12", type: Created, reason: Created  }, { createdDate: "2020-07-20T22:55:12", type: InProgress, reason: In route to delivery } ]
                    finalized:
                      [ { createdDate: "2020-07-20T22:53:12", recipientName: "Maria da Silva", recipientKinship: "Mãe", documentNumber: "1234567", attempts: 1 }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          description: Rastreio de cartão não existente.
        '500':
            description: Ocorrência de erro inesperado.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/trackingErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: 999, message: [ Unidentified error! ], reasons: [] }]
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/tracking
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            $ref: 'http://localhost:3320/commons/components#/components/responses/404'
          '500':
            $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  
  /cards/{proxy}/tracking/address:
    post:
      tags:
        - Rastreio de Cartões
      summary: Atualização de endereço
      description: |
        <div class="bkly-ref-description">
          <p>Atualize o endereço do destinatário para uma nova tentativa de entrega.</p>
          <span class="bkly-ref-small-beta-tag">beta</span>
          <span class="bkly-ref-scope-tag">scope: card.update</span>
        </div>
      operationId: trackingUpdateAddress
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateTrackingAddressRequest"
      responses:
        '201':
          description: Endereço cadastrado com sucesso.
        '400':
            description: Não é possível alterar o endereço, pois o seu cartão não está em custódia.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/cardErrorResponse"
                examples:
                  response:
                    value:
                      reference: https://bankly.readme.io/reference
                      errors: [{ code: required, message: [ Address must not be empty ], reasons: [] }, { code: conflict, message: [ Tracking Status not allowed to update address ], reasons: [] }]
        '401':
          description: Sem autorização para realizar a solicitação.
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'   
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'   

      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards/{proxy}/tracking
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: GET
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '201':
            statusCode: 201
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '404':
            statusCode: 404
          '500':
            statusCode: 500

  /cards-pci/{proxy}/wallet/{wallet}/brand/{brand}:
    post:
      tags:
        - Wallets
      summary: Geração de token
      description: Gere um token com os dados criptografados do cartão para adição do cartão junto a uma carteira digital.
      operationId: GenerateTokenizationForWallet
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
        - name: wallet
          in: path
          required: true
          schema:
            type: string
            $ref: "#/components/schemas/walletTypes"
        - name: brand
          in: path
          required: true
          schema:
            type: string
            $ref: "#/components/schemas/brandTypes"
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      responses:
        '200':
          description: Resultado da geração do token.
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/cardTokenizationResponse"
              examples:
                response:
                  value:
                    - data: "mkzjfhcnnhat84y583hguim49801mkzjfhcnnhat84y583hguim49801mkzjfhcnnhat84y583hguim49801mkzjfhcnnhat84y583hguim49801mkzjfhcnnhat84y583hguim49801mkzjfhcnnhat84y583hguim49801"
                      lastFourDigits: "1534"
                      phoneNumber: "11999999999"
                      address:
                        zipCode: "05402100"
                        address: Avenida Rebouças
                        number: "1368"
                        neighborhood: Pinheiros
                        complement: Em frente a Wizard
                        city: São Paulo
                        state: SP
                        country: Brasil
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '401':
          $ref: 'http://localhost:3320/commons/components#/components/responses/401'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
      x-amazon-apigateway-auth:
        type: NONE
      x-amazon-apigateway-integration:
        uri: http://lb-towner-a26f32e03d8f2933.elb.us-east-1.amazonaws.com:7011/api/cards-pci/{proxy}/wallet/{wallet}/brand/{brand}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        connectionId: m116y5
        httpMethod: POST
        type: http
        requestParameters:
          integration.request.path.proxy: method.request.path.proxy
          integration.request.path.wallet: method.request.path.wallet
          integration.request.path.brand: method.request.path.brand
          integration.request.header.api-version: method.request.header.api-version
          integration.request.header.Authorization: method.request.header.Authorization
        responses:
          '200':
            statusCode: 200
          '400':
            statusCode: 400
          '401':
            statusCode: 401
          '409':
            statusCode: 409
          '500':
            statusCode: 500
security:
  - bearerAuth: []
  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    apiVersion:
      name: api-version
      in: header
      required: true
      schema:
        type: string
        
    authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string        
  schemas:
    createCardRequest:
      type: object
      properties:
        documentNumber:
          type: string
          description: Número de documento de CPF ou CNPJ (informe somente os números). Tamanho máximo de 14 caracteres.
        cardName:
          type: string
          description: Nome que será impresso no cartão (não será permitido o uso de números e caracteres especiais). Tamanho máximo de 19 caracteres.
        alias:
          type: string
          description: Apelido do cartão (não será permitido o uso de caracteres especiais e o tamanho máximo é de 16 caracteres).
        bankAgency:
          type: string
          description: Número de agência (4 dígitos).
        bankAccount:
          type: string
          description: Número de conta que o cartão será vinculado.
        programId:
          type: integer
          description: Identificador do programa que será vinculado ao cartão.
        password:
          type: string
          description: "Senha do cartão para realizar transações (preencha com quatro números. Exemplo: '9348')."
        address:
          type: object
          description: Informações sobre endereço (se não for informado, será utilizado o endereço de cadastro do cliente).
          properties:
            zipCode:
              type: string
              description: CEP (informar somente os números).
            address:
              type: string
              description: Logradouro.
            number:
              type: string
              description: Número.
            neighborhood:
              type: string
              description: Bairro.
            complement:
              type: string
              description: Complemento.
            city:
              type: string
              description: Cidade.
            state:
              type: string
              description: Estado (informar a UF).
            country:
              type: string
              description: País.
          required:
            - zipCode
            - address
            - number
            - neighborhood
            - city
            - state
            - country
      required:
        - documentNumber
        - cardName
        - alias
        - bankAgency
        - bankAccount
        - password
        - programId
        
    cardBuildingResponse:
      type: object
      properties:
        proxy:
          type: string
          description: Proxy do cartão criado.
        activateCode:
          type: string
          description: Código para ativar o cartão.
          
    cardErrorResponse:
      type: object
      properties:
        reference:
          type: string
          description: Link para documentação de integração.
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: Código de erro.
              message:
                type: string
                description: Mensagem explicativa do erro.

    createDuplicateCardRequest:
      type: object
      properties:
        status:
          type: string
          $ref: "#/components/schemas/duplicateCardStatus"
          description: Motivo da segunda via.
        documentNumber:
          type: string
          description: Número de documento de CPF ou CNPJ (informe somente os números).
        description:
          type: string
          description: Detalhes do cancelamento com qualquer informação considerada como relevante.
        password:
          type: string
          description: "Senha do cartão atual (primeira via) para realizar transações (preencha com quatro campos números. Exemplo: '9348')."
        address:
          type: object
          description: Informações sobre endereço (se não for informado será utilizado o endereço de cadastro do cliente).
          properties:
            zipCode:
              type: string
              description: CEP (informar somente os números).
            address:
              type: string
              description: Logradouro.
            number:
              type: string
              description: Número.
            neighborhood:
              type: string
              description: Bairro.
            complement:
              type: string
              description: Complemento.
            city:
              type: string
              description: Cidade.
            state:
              type: string
              description: Estado (informar a UF).
            country:
              type: string
              description: País.
          required:
            - zipCode
            - address
            - number
            - neighborhood
            - city
            - state
            - country
      required:
        - status
        - documentNumber
        - password
        
    duplicateCardStatus:
      type: string
      enum:
        - LostMyCard
        - CardWasStolen
        - CardWasDamaged
        - CardNotDelivered
        - UnrecognizedOnlinePurchase
        
    cardResponse:
      type: object
      properties:
        created:
          type: string
          description: Proxy do cartão criado (formato 'yyyy-MM-ddTHH:mm:ss').
        companyKey:
          type: string
          description: Identificador da companhia.
        documentNumber:
          type: string
          description: Documento do cliente (CPF/CNPJ).
        activateCode:
          type: string
          description: Código de ativação do cartão.
        bankAgency:
          type: string
          description: Agência do cliente.
        bankAccount:
          type: string
          description: Conta do cliente.
        lastFourDigits:
          type: string
          description: Últimos 04 dígitos do cartão.
        proxy:
          type: string
          description: Identificador do cartão.
        name:
          type: string
          description: Nome impresso no cartão.
        alias:
          type: string
          description: Apelido impresso no cartão.
        cardType:
          type: string
          $ref: "#/components/schemas/cardTypes"
          description: Tipo do cartão.
        physicalBinds: 
          type: array
          description: Dados do cartão físico.
          items:
            type: object
            properties:
              proxy: 
                type: string
                description: Identificador do cartão físico.
              created: 
                type: string
                description: Data do cartão criado (formato 'yyyy-MM-ddTHH:mm:ss').
        virtualBind: 
          type: object
          properties:
            proxy: 
              type: string
              description: Identificador do cartão virtual.
            created: 
              type: string
              description: Data do cartão criado (formato 'yyyy-MM-ddTHH:mm:ss').
        status:
          type: string
          $ref: "#/components/schemas/cardStatus"
          description: Status atual do cartão.
        allowContactless:
          type: boolean
          description: Informa status da função contactless.
        address:
          type: object
          properties:
            zipCode:
              type: string
              description: CEP.
            address:
              type: string
              description: Logradouro.
            number:
              type: string
              description: Número.
            neighborhood:
              type: string
              description: Bairro.
            complement:
              type: string
              description: Complemento.
            city:
              type: string
              description: Cidade.
            state:
              type: string
              description: Estado (formato UF).
            country:
              type: string
              description: País.
        historyStatus:
          type: array
          description: Histórico de status.
          items:
            type: object
            properties:
              modified:
                type: string
                description: Data em que o status foi aplicado (formato 'yyyy-MM-ddTHH:mm:ss').
              value:
                type: string
                $ref: "#/components/schemas/cardStatus"
                description: Status aplicado.
        activatedAt:
          type: string
          description: Data da ativação do cartão (formato 'yyyy-MM-ddTHH:mm:ss').
        lastUpdatedAt:
          type: string
          description: Data da última atualização do cartão (formato 'yyyy-MM-ddTHH:mm:ss').
        isActivated:
          type: boolean
          description: Informa se está ativo.
        isLocked:
          type: boolean
          description: Informa se está bloqueado.
        isCanceled:
          type: boolean
          description: Informa se está cancelado.
        isBuilding:
          type: boolean
          description: Informa se o cartão está sendo em construção.
        isFirtual:
          type: boolean
          description: Informa se é um cartão firtual.
        isPre:
          type: boolean
          description: Informa se é um cartão pré-pago.
        isPos:
          type: boolean
          description: Informa se é um cartão pós-pago.
  
    cardStatus:
      type: string
      enum:
        - Building      
        - Undefined
        - Active
        - UpdateRegisterLocked
        - UpdateRegisterCanceled
        - RegisterFraudLocked
        - RegisterFraudCanceled
        - CanceledByCustomer 
        - CanceledByEmitter
        - ReturnedLocked
        - Sleeping
        - InTransitLocked
        - ExpiredCanceled
        - StrayedCanceled
        - Inactive
        - DeathCanceled
        - LockedByPendingPayment 
        - LostOrTheftCanceled
        - WithoutMovementLocked
        - TemporarilyUserLocked
        - WrongPasswordAttemptLocked
        - UseFraudLocked
        - UseFraudCanceled
        - CardCanceledByAccount
        
    cardTypes:
      type: string
      enum:
        - Physical
        - Virtual
   
    getDataPciRequest:
      type: object
      properties:
        password:
          type: string
          description: Senha informada na criação do cartão (4 dígitos).
      required:
        - password
    
    dataPciResponse:
      type: object
      properties:
        cardNumber:
          type: string
          description: Numeração do cartão.
        cvv:
          type: string
          description: Código de segurança do cartão.
        expirationDate:
          type: string
          description: Data de expiração do cartão (formato 'MM/yy').
          
    changeCardPasswordRequest:
      type: object
      properties:
        password:
          type: string
          description: Senha de uso do cartão (4 dígitos).
      required:
        - password
              
    activateCardRequest:
      type: object
      properties:
        activateCode:
          type: string
          description: Código de ativação do cartão (12 caracteres).
        password:
          type: string
          description: Senha de uso do cartão (4 dígitos).
      required:
        - activateCode
        - password
    
    changeCardStatusRequest:
      type: object
      properties:
        status:
          type: string
          $ref: "#/components/schemas/cardStatus"
          description: Status para o qual o cartão será modificado.
        password:
          type: string
          description: Senha de uso do cartão (4 dígitos).
        updateCardBinded:
          type: boolean
          description: Atualizar cartões vinculados.
      required:
        - status
        - password
        - updateCardBinded
   
    resultTransactionResponse:
      type: object
      properties:
        nextPage:
          type: string
          description: Identificador da próxima página.
        hasLastPage:
          type: boolean
          description: Indica se existe a próxima página na consulta.
        transactions:
          type: array
          description: Transações do cartão.
          items:
            type: object
            properties:
              account:
                type: object
                properties:
                  number: 
                    type: string
                    description: Número da conta na qual o cartão foi transacionado.
                  agency: 
                    type: string
                    description: Agencia da conta na qual o cartão foi transacionado.
              amount:
                type: object
                properties:
                  value: 
                    type: number
                    description: Valor total da transação.
                  local: 
                    type: number
                    description: Valor da transação na moeda local.
                  net: 
                    type: number
                    description: Valor líquido da transação.
                  iof: 
                    type: number
                    description: Valor do imposto de operações financeira.
                  markup: 
                    type: number
                    description: Tarifa de conversão de moeda em caso de compras internacional.
              merchant:
                type: object
                properties:
                  id: 
                    type: string
                    description: Identificador do comerciante.
                  name: 
                    type: string
                    description: Nome do comerciante.
                  mcc: 
                    type: string
                    description: Código identificador do ramo de negócio do comerciante.
                  city: 
                    type: string
                    description: Cidade onde ocorreu a transação.
              authorizationCode:
                type: string
                description: Indentificador da transação na adquirente.
              countryCode:
                type: string
                description: Código do país onde ocorreu a transação.
              currencyCode:
                type: string
                description: Códiga da moeda que foi realizada a transação.
              entryMode:
                type: string
                $ref: "#/components/schemas/entryModeTypes"
                description: Identificador da forma que a transação foi realizada.
              status:
                type: string
                $ref: "#/components/schemas/transactionsStatus"
                description: Status da transação.
              transactionTimestamp:
                type: string
                description: Data em que ocorreu a transação (formato 'yyyy-MM-ddTHH:mm:ss+00:00').
              transactionType:
                type: string
                $ref: "#/components/schemas/transactionTypes"
                description: Indica a operação da transação.
                
    entryModeTypes:
      type: string
      enum:
        - Unknown
        - Manual
        - MagneticStripe
        - BarCodeReader
        - OCR
        - Chip
        - ContactlessObsolete
        - ContactlessMChip
        - ContactlessMChipObsolete
        - EletronicCommerce
        - CredentialOnFile
        - HybridTerminalFailedConnection
        - ChipCapableTerminal
        - EletronicCommerceSecureWithUCAF
        - Server
        - MagneticStripeFullTrackData
        - ContactlessMagneticStripe
        - ContactlessInput
        - Visa
        
    transactionsStatus:
      type: string
      enum:
        - TransactionHoldWasReproved
        - TransactionHoldWasApproved
        - TransactionWasReversed
        - TransactionHoldWasExpired
        - TransactionWasConfirmed
        - TransactionWasReversedInSecondInstance
        - TransactionVoucherWasCreated
   
    transactionTypes:
      type: string
      enum:
        - Unknown
        - Purchase
        - Withdrawal
        - Refund
        - Balance
    
    trackingResponse:
      type: object
      properties:
        createdDate:
          type: string
          description: Data de criação do rastreio (formato 'yyyy-MM-ddTHH:mm:ss').
        externalTracking:
          type: object
          description: Objeto para rastreio de serviço externo
          properties:
            code:
              type: string
              description: Código de rastreio junto ao serviço externo.
            partner: 
              type: string
              description: Nome do parceiro do serviço externo.
        name:
          type: string
          description: Nome impresso no cartão.
        alias:
          type: string
          description: Apelido impresso no cartão.
        estimatedDeliveryDate:
          type: string
          description: Data prevista de entrega do cartão (formato 'yyyy-MM-ddTHH:mm:ss').
        address:
          type: array
          description: Lista de endereços do rastreio
          items:
            properties:
              zipCode:
                type: string
                description: CEP.
              address:
                type: string
                description: Logradouro.
              number:
                type: string
                description: Número.
              neighborhood:
                type: string
                description: Bairro.
              complement:
                type: string
                description: Complemento.
              city:
                type: string
                description: Cidade.
              state:
                type: string
                description: Estado (formato UF).
              country:
                type: string
                description: País.
              isActive:
                type: boolean
                description: Situação de endereço de rastreio.
        status:
          type: array
          description: Histórico de status do rastreio.
          items:
            type: object
            properties:
              createdDate:
                type: string
                description: Data em que o status foi aplicado (formato 'yyyy-MM-ddTHH:mm:ss').
              type:
                type: string
                $ref: "#/components/schemas/trackingStatus"
                description: Status aplicado.
              reason:
                type: string
                description: Motivo do status.
        finalized:
          type: array
          description: Histórico de baixa do rastreio.
          items:
            type: object
            properties:
              createdDate:
                type: string
                description: Data em que a baixa foi adicionada (formato 'yyyy-MM-ddTHH:mm:ss').
              recipientName:
                type: string
                description: Nome do recebedor do cartão.
              recipientKinship:
                type: string
                description: Grau de parentesco com o titular do cartão.
              documentNumber:
                type: string
                description: Documento do recebedor do cartão.
              attempts:
                type: number
                description: Quantidade de tentativas de entrega.

    trackingStatus:
      type: string
      enum:
        - Created
        - InProgress
        - NotDelivered
        - Cancelled
        - Custody
        - Delivered
    
    trackingErrorResponse:
      type: object
      properties:
        reference:
          type: string
          description: Link para documentação de integração.
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: Código de erro.
              message:
                type: string
                description: Mensagem explicativa do erro.
    
    walletTypes:
      type: string
      enum:
        - GooglePay
    
    brandTypes:
      type: string
      enum:
        - Mastercard
        
    cardTokenizationResponse:
      type: object
      properties:
        data:
          type: string
          description: Token gerado.
        lastFourDigits:
          type: string
          description: Últimos quatro dígitos do cartão.
        phoneNumber:
          type: string
          description: Número de contato do cliente.
        address:
          type: object
          properties:
            zipCode:
              type: string
              description: CEP do endereço.
    
    updateTrackingAddressRequest: 
          type: object
          description: Informações sobre endereço para nova tentativa de entrega.
          properties:
            zipCode:
              type: string
              description: O CEP deve ser nacional e conter oito dígitos.
            address:
              type: string
              description: Nome do logradouro em que o cliente deseja receber o cartão.
            number:
              type: string
              description: Número do imóvel com até 10 caracteres (se não existir, substitua por “S/N”).
            neighborhood:
              type: string
              description: Bairro para nova entrega.
            complement:
              type: string
              description: Complemento do endereço.
            city:
              type: string
              description: Nome da cidade para a entrega.
            state:
              type: string
              description: "Estado (UF) do novo endereço de entrega. Deve-se respeitar o formato proposto pela ISO 3166-2:BR. Exemplo: SP."
            country:
              type: string
              description: "Serão aceitos apenas endereços em território nacional. Deve-se respeitar o formato proposto pela ISO 3166-1. Exemplo: BR."
          required:
            - zipCode
            - address
            - number
            - neighborhood
            - city
            - state
            - country
    
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
