openapi: 3.0.1
info:
  version: 1.0.0
  title: Gestão de crédito
  description: >-
    Essa API deve ser utilizada para realizar a gestão dos contratos de crédito dos clientes. Consulte também nossa
    [documentação](https://bankly.readme.io/v1.0/docs/) para mais detalhes sobre
    os fluxos de negócio.
servers:
  - url: "https://api-mtls.sandbox.bankly.com.br"
paths:
  /cards/credits/customers:
    post:
      tags:
        - Criar nova análise de crédito
      summary: Análise de crédito
      description: |
        <div class="bkly-ref-description">
          <p>Cria uma nova análise de crédito para o cliente.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span>
        </div>
      operationId: cardCreateVirtualCard
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCustomerRequest"
      responses:
        "202":
          description: A solicitação foi aceita e a análise de crédito foi concluída.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createCustomerResponse"
              examples:
                response:
                  value:
                    companyKey: "ACESSO"
                    document: "10497921065"
                    contract: "000010"
        "401":
          description: Sem autorização para realizar a solicitação.
        "500":
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors:
                      [
                        {
                          code: 301,
                          message: [Internal server error processor],
                          reasons: [],
                        },
                      ]

  /cards/credits/terms-and-conditions/acceptance:
    post:
      tags:
        - Aceitar a proposta do contrato de crédito
      summary: Aceite da proposta de crédito
      description: |
        <div class="bkly-ref-description">
          <p>Aceita uma proposta do contrato de crédito já aprovada.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
        </div>
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/acceptanceContractRequest"
      responses:
        "202":
          description: O contrato de crédito foi aceito.
        "401":
          description: Sem autorização para realizar a solicitação.
        "500":
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors:
                      [
                        {
                          code: 301,
                          message: [Internal server error processor],
                          reasons: [],
                        },
                      ]

  /cards/credits/customers/{documentNumber}/contracts/{contract}:
    get:
      tags:
        - Consultar um contrato de crédito já existente
      summary: Consulta um contrato de crédito já existente de um cliente
      description: |
        <div class="bkly-ref-description">
          <p>Consulta um contrato de crédito já existente de um cliente.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
        </div>
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
        - name: documentNumber
          in: path
          required: true
          description: Número de documento de CPF ou CNPJ do cliente.
          schema:
            type: string
        - name: contract
          in: path
          description: Número do contrato de crédito do cliente.
          required: true
          schema:
            type: string
      responses:
        "202":
          description: Retorna informações do contrato de crédito especificado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getContractCreditResponse"
        "401":
          description: Sem autorização para realizar a solicitação.
        "500":
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors:
                      [
                        {
                          code: 301,
                          message: [Internal server error processor],
                          reasons: [],
                        },
                      ]

  /cards/credits/customers/{documentNumber}/contracts/{contract}/cancel:
    put:
      tags:
        - Cancelar um contrato de crédito já existente
      summary: Cancela um contrato de crédito já existente de um cliente
      description: |
        <div class="bkly-ref-description">
          <p>Cancela um contrato de crédito já existente de um cliente.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
        </div>
      parameters:
        - $ref: "#/components/parameters/apiVersion"
        - $ref: "#/components/parameters/authorization"
        - name: documentNumber
          in: path
          required: true
          description: Número de documento de CPF ou CNPJ do cliente.
          schema:
            type: string
        - name: contract
          in: path
          description: Número do contrato de crédito do cliente.
          required: true
          schema:
            type: string
      responses:
        "202":
          description: A solicitação foi aceita e o contrato de crédito foi cancelado.
        "401":
          description: Sem autorização para realizar a solicitação.
        "500":
          description: Ocorrência de erro inesperado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditErrorResponse"
              examples:
                response:
                  value:
                    reference: https://bankly.readme.io/reference
                    errors:
                      [
                        {
                          code: 301,
                          message: [Internal server error processor],
                          reasons: [],
                        },
                      ]

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    apiVersion:
      name: api-version
      in: header
      required: true
      schema:
        type: string
    authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
  schemas:
    acceptanceTerm:
      type: object
      properties:
        signedAt:
          type: string
          description: Data e hora em que o contrato de crédito foi aceito/assinado.
        creditDetails:
          type: object
          properties:
            diaryIof:
              type: number
            fixedIof:
              type: number
            internationalIof:
              type: number
            daysAdvanceCut:
              type: integer
            futureCalendarMonths:
              type: integer
            daysAccountLockDelay:
              type: integer
            accrualStop:
              type: integer
            delayInvoiceRate:
              type: number
            rotatingRate:
              type: number
            minimumValueOfRefinanceInstallment:
              type: number
            invoiceRefinanceRate:
              type: number
            maximumNumberInstallmentsRefinance:
              type: integer
            annualValue:
              type: number
            annuityInstallments:
              type: integer
            iofFirstDay:
              type: boolean
            minimumAmountInstallmentAgreementInvoice:
              type: number
            minimumEntryInvoiceAgreement:
              type: number
            maximumEntryInvoiceAgreement:
              type: number
            minimumPercentageInvoiceAgreement:
              type: number
            maximumEntryAgreementInvoicePercentage:
              type: number
            deadlineInDaysForNewAnalysisRequest:
              type: integer
            deadlineInDaysForExpirationOfAnalysis:
              type: integer
          required:
            - diaryIof
            - fixedIof
            - internationalIof
            - daysAdvanceCut
            - futureCalendarMonths
            - daysAccountLockDelay
            - accrualStop
            - delayInvoiceRate
            - rotatingRate
            - minimumValueOfRefinanceInstallment
            - invoiceRefinanceRate
            - maximumNumberInstallmentsRefinance
            - annualValue
            - annuityInstallments
            - iofFirstDay
            - minimumAmountInstallmentAgreementInvoice
            - minimumEntryInvoiceAgreement
            - maximumEntryInvoiceAgreement
            - minimumPercentageInvoiceAgreement
            - maximumEntryAgreementInvoicePercentage
            - deadlineInDaysForNewAnalysisRequest
            - deadlineInDaysForExpirationOfAnalysis
        dataHash:
          type: string
          description: Termos e condições aceitos pelo cliente.
      required:
        - signedAt
        - creditDetails
        - dataHash
    address:
      type: object
      description: Endereço do cliente.
      properties:
        zipCode:
          type: string
          description: CEP de endereço.
        addressLine:
          type: string
        buildingNumber:
          type: string
          description: Número do endereço.
        complement:
          type: string
          description: Complemento do endereço.
        neighborhood:
          type: string
          description: Bairro do endereço.
        city:
          type: string
          description: Cidade do endereço.
        state:
          type: string
          description: Estado do endereço.
        country:
          type: string
          description: País do endereço.
      required:
        - zipCode
        - addressLine
        - buildingNumber
        - complements
        - neighborhood
        - city
        - state
        - country
    maritalStatus:
      type: string
      description: Estado civil do cliente.
      enum:
        - Single
        - Married
        - Separated
        - Divorced
        - Widower
    academicDegree:
      type: string
      description: Grau acadêmico do cliente.
      enum:
        - HighSchool
        - Graduated
        - PostGraduate
        - Masters
        - Doctorate
    incomeBracket:
      type: string
      description: Renda salarial do cliente.
      enum:
        - LessThousand
        - FromThousandToTwoThousand
        - FromTwoThousandToThreeThousand
        - FromThreeThousandToFiveThousand
        - FromFiveThousandToTenThousand
        - FromTenThousandToTwentyThousand
        - OverTwentyThousand
    sex:
      type: string
      description: Gênero do cliente.
      enum:
        - Male
        - Female
        - Other
    phoneType:
      type: string
      description: Tipo de telefone do cliente.
      enum:
        - Residential
        - Commercial
        - Mobile
    createCustomerRequest:
      type: object
      properties:
        name:
          type: string
          description: Nome do cliente.
        socialName:
          type: string
          description: Nome social do cliente.
        motherName:
          type: string
          description: Nome da mãe do cliente.
        birthDate:
          type: string
          description: Data de aniversário do cliente.
        programId:
          type: string
          description: Código do programa do cartão.
        documentNumber:
          type: string
          description: Número de documento de CPF ou CNPJ (informe somente os números). Tamanho máximo de 14 caracteres.
        profession:
          type: string
          description: Profissão do cliente.
        maritalStatus:
          $ref: "#/components/schemas/maritalStatus"
        academicDegree:
          $ref: "#/components/schemas/academicDegree"
        incomeBracket:
          $ref: "#/components/schemas/incomeBracket"
        sex:
          $ref: "#/components/schemas/sex"
        email:
          type: string
          description: Email do cliente.
        phone:
          type: object
          description: Telefone do cliente.
          properties:
            type:
              $ref: "#/components/schemas/phoneType"
            value:
              type: string
              description: Número do telefone do cliente.
            countryCode:
              type: string
              description: Código do País do telefone.
          required:
            - type
            - value
            - countryCode
      required:
        - programId
        - documentNumber
        - profession
        - maritalStatus
        - academicDegree
        - incomeBracket
        - sex
        - email
        - phone
    createCustomerResponse:
      type: object
      properties:
        companyKey:
          type: string
          description: Chave da empresa parceira.
        document:
          type: string
          description: Número de documento de CPF ou CNPJ do cliente.
        contract:
          type: string
          description: Número do contrato de crédito.
      required:
        - companyKey
        - document
        - contract
    getContractCreditResponse:
      type: object
      properties:
        name:
          type: string
          description: Nome do cliente.
        socialName:
          type: string
          description: Nome social do cliente.
        motherName:
          type: string
          description: Nome da mãe do cliente.
        birthDate:
          type: string
          description: Data de aniversário do cliente.
        programId:
          type: string
          description: Código do programa do cartão.
        documentNumber:
          type: string
          description: Número de documento de CPF ou CNPJ (informe somente os números). Tamanho máximo de 14 caracteres.
        profession:
          type: string
          description: Profissão do cliente.
        cardProxy:
          type: string
          description: Proxy do cartão.
        status:
          type: integer
          description: Status do contrato de crédito.
        contract:
          type: string
          description: Número do contrato de crédito.
        maritalStatus:
          $ref: "#/components/schemas/maritalStatus"
        academicDegree:
          $ref: "#/components/schemas/academicDegree"
        incomeBracket:
          $ref: "#/components/schemas/incomeBracket"
        incomeBracketRange:
          type: number
          description: Renda salarial informada do cliente.
        expirationDate:
          type: string
          description: Data de expiração da proposta de crédito.
        sex:
          $ref: "#/components/schemas/sex"
        email:
          type: string
          description: Email do cliente.
        address:
          $ref: "#/components/schemas/address"
        phone:
          type: object
          description: Telefone do cliente.
          properties:
            type:
              $ref: "#/components/schemas/phoneType"
            value:
              type: string
              description: Número do telefone do cliente.
            countryCode:
              type: string
              description: Código do País do telefone.
          required:
            - type
            - value
            - countryCode
        creditEvaluation:
          type: object
          properties:
            status:
              type: integer
            evaluatedAt:
              type: string
            reasonRefusal:
              type: string
            policy:
              type: string
          required:
            - status
            - evaluatedAt
            - policy
            - reasonRefusal
        acceptanceTerm:
          $ref: "#/components/schemas/acceptanceTerm"
        acceptanceTermHistory:
          type: array
          items:
            $ref: "#/components/schemas/acceptanceTerm"
      required:
        - programId
        - documentNumber
        - profession
        - maritalStatus
        - academicDegree
        - incomeBracket
        - incomeBracketRange
        - expirationDate
        - sex
        - email
        - address
        - status
        - phone
        - contract
        - creditEvaluation
        - acceptanceTerm
        - acceptanceTermHistory
    acceptanceContractRequest:
      type: object
      properties:
        documentNumber:
          type: string
          description: Número de documento de CPF ou CNPJ (informe somente os números). Tamanho máximo de 14 caracteres.
        contract:
          type: string
          description: Número do contrato de crédito.
        dataHash:
          type: string
          description: Termos e condições aceitos pelo cliente.
      required:
        - documentNumber
        - contract
        - dataHash
    creditErrorResponse:
      type: object
      properties:
        reference:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              reasons:
                type: string

x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
