openapi: 3.0.1
info:
  title: PIX
  description: Gerencie vínculo entre chaves e contas de pagamento e realize pagamentos através do sistema PIX® à qualquer hora do dia ou da noite. Consulte também
    nossa [documentação](https://bankly.readme.io/v1.0/docs/) para mais detalhes
    sobre os fluxos de negócio.
  version: '1.0'
servers:
  - url: https://api.sandbox.bankly.com.br
paths:
  /accounts/{accountNumber}/addressing-keys:
    get:
      tags:
        - Diretório de chaves - DICT
      summary: Consulta de chaves de uma conta
      description: |
        <div class="bkly-ref-description">
          <p>Informa a lista de chaves de endereçamento vinculadas a uma conta de pagamento.</p>
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: pix.account.read</span>
        </div>
      operationId: GetAccountEntriesAsync
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddressingKey'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '503':
          description: O serviço está temporariamente indisponível.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
      security:
        - Bearer: []      

  /pix/entries:
    post:
      tags:
        - Diretório de chaves - DICT
      summary: Cadastro de chaves
      description: |
        <div class="bkly-ref-description">
          <p>Permite vincular até 5 chaves para contas com titular pessoa física e 20 chaves com titular pessoa jurídica.</p>
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: pix.entries.create</span>
        </div>
          
      operationId: CreateEntryAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntryRequest'
      responses:
        '201':
          description: Recurso criado com sucesso.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEntryResponse'
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '503':
          description: O serviço está temporariamente indisponível.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
      security:
        - Bearer: []

  /pix/entries/{addressingKeyValue}:
    get:
      tags:
        - Diretório de chaves - DICT
      summary: Consulta de vínculo de chave com uma conta
      description: |
        <div class="bkly-ref-description">
          <p>Informa os detalhes da conta vinculada a uma chave de endereçamento.</p>
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: pix.entries.read</span>
        </div>
      operationId: GetAsync
      parameters:
        - name: addressingKeyValue
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: x-bkly-pix-user-id
          in: header
          description: Deve informar o número do documento do cliente que solicita a consulta da chave.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
            x-bkly-pix-endtoend-id:
              description: Identificador fim-a-fim do pagamento associado à essa requisição.Esse identificador deve ser fornecido como EndToEndId para confirmar o pagamento ao SPI.Também é utilizado para rate-limiting.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEntryResponse'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '503':
          description: O serviço está temporariamente indisponível.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
      security:
        - Bearer: []
  
    delete:
      tags:
        - Diretório de chaves - DICT
      summary: Exclusão de chaves
      description: |
        <div class="bkly-ref-description">
          <p><b>Importante!</b> A chave não pode estar em um processo de reinvindicação. Caso esteja, é necessário aguardar o encerramento da disputa para realizar a exclusão.</p>
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: pix.entries.delete</span>
        </div>
      operationId: DeleteAsync
      parameters:
        - name: addressingKeyValue
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Recurso excluído com sucesso.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '503':
          description: O serviço está temporariamente indisponível.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
      security:
        - Bearer: []
        
  /pix/cash-out:
    post:
      tags:
        - Pagamentos instantâneos
      summary: Pix cash-out 
      description: |
        <div class="bkly-ref-description">
          <p><b>Importante!</b> Para realizar uma transferência via Pix, é necessário possuir uma conta aberta.</p>
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: pix.cashout.create</span>
        </div>
      operationId: CreatePixCashOutTransactionAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePixCashOutTransactionRequest'
      responses:
        '202':
          description: Success
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePixCashOutTransactionResponse'
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
  
  /pix/cash-out:refund:
    post:
      tags:
        - Pagamentos instantâneos
      summary: Devolução de Pix cash-out
      description: |
        <div class="bkly-ref-description">
          <p><b>Importante!</b> Para realizar uma devolução, é necessário que a transação tenha acontecido dentro dos últimos 90 dias.</p>
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: pix.cashout.create</span>
        </div>
      operationId: CreateRefundAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePixRefundRequest'
      responses:
        '202':
          description: Success
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePixRefundRequest'
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
        
  /pix/cash-out/accounts/{accountNumber}/authenticationcode/{authenticationCode}:
    get:
      tags:
        - Pagamentos instantâneos
      summary: Consulta de Pix cash-out
      description: |
        <div class="bkly-ref-description">
          <p> Para realizar a consulta de Pix cash-out, é necessário ter um <b>AuthenticationCode</b> válido.</p>
          <span class="bkly-ref-small-beta-tag">beta</span>
        </div>
      operationId: GetByAuthenticationCodeAsync
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: authenticationCode
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixTransferResponse'
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
  
  /pix/qrcodes:
    post:
      tags:
        - QR Codes
      summary: Emissão de QR Codes estáticos
      description: |
        <div class="bkly-ref-description">
          <p>Para emitir um QR Code, é necessário possuir uma chave no DICT registrada previamente.</p>
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: pix.qrcode.create</span>
        </div>
      operationId: CreateStaticQRCodeAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStaticQRCodeRequest'
      responses:
        '200':
          description: Recurso criado com sucesso.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []      
  
  /pix/qrcodes/decode:
    post:
      tags:
        - QR Codes
      summary: Decodificação de QR Codes estáticos e dinâmicos 
      description: |
        <div class="bkly-ref-description">
          <p><b>Importante!</b> Para que a leitura possa ser realizada, é obrigatório que o conteúdo do QR Code esteja em base64.</p>
          <span class="bkly-ref-small-beta-tag">beta</span> <span class="bkly-ref-scope-tag">scope: pix.qrcode.read</span>
        </div>
      operationId: DecodeQRCodeAsync
      parameters:
        - name: api-version
          in: header
          description: Versão da API. Atualmente estamos na 1.0.
          required: true
          schema:
            type: string
        - name: x-bkly-pix-user-id
          in: header
          description: Deve informar o número do documento do cliente que solicita a leitura do QR Code.
          required: true
          schema:
            type: string    
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecodeQRCodeRequest'
      responses:
        '200':
          description: Recurso criado com sucesso.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - Bearer: []
components:
  schemas:
    AddressingKeyType:
      enum:
        - CPF
        - CNPJ
        - EMAIL
        - PHONE
        - EVP
      type: string
      description: Tipo de chave de endereçamento do DICT.

    AddressingKey:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AddressingKeyType'
        value:
          type: string
          nullable: true
      additionalProperties: false
    
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        extensions:
          type: object
          additionalProperties:
            type: object
            additionalProperties: false
          nullable: true
          readOnly: true
      additionalProperties: false
    
    AccountType:
      enum:
        - CHECKING
        - SALARY
        - SAVINGS
        - PAYMENT
      type: string
    
    Account:
      required:
        - branch
        - number
      type: object
      properties:
        branch:
          minLength: 1
          type: string
        number:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
      additionalProperties: false

    CreateEntryRequest:
      required:
      - account
      - addressingKey
      type: object
      properties:
        addressingKey: 
          $ref: '#/components/schemas/AddressingKey'
        account: 
          $ref: '#/components/schemas/Account'
      additionalProperties: false

    CreateEntryResponse:
      type: object
      properties:
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        account:
          $ref: '#/components/schemas/PaymentAccount'
        status:
          $ref: '#/components/schemas/EntryStatus'
        createdAt:
          type: string
          format: date-time
        ownedAt:
          type: string
          format: date-time
      additionalProperties: false
      
    PaymentAccount:
      type: object
      properties:
        branch:
          type: string
          nullable: true
        number:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/AccountType'
        holder:
          $ref: '#/components/schemas/Holder'
        bank:
          $ref: '#/components/schemas/Bank'
      additionalProperties: false

    EntryStatus:
      enum:
        - OWNED
        - EXCLUDED
        - LOCKED_BY_CLAIM
      type: string
   
    Holder:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/HolderType'
        socialName:
          type: string
          description: "Nome pelo qual a pessoa deseja ser chamada. [Saiba mais](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)\r\nEsse campo é retornado se foi previamente informado no durante o onboard, quando titular da conta está associado a um parceiro Bankly."
          nullable: true
        tradingName:
          type: string
          description: Nome comercial (nome fantasia) da empresa. Esse campo é retornado apenas quando o Person é Pessoa Jurídica
          nullable: true
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física trata-se do nome de registro e quando pessoa jurídica trata-se da Razão Social da empresa.
          nullable: true
      additionalProperties: false
    
    HolderType:
      enum:
        - CUSTOMER
        - BUSINESS
      type: string

    Bank:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
      additionalProperties: false
    
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
      additionalProperties: false
    
    Error:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false

    GetEntryResponse:
      type: object
      properties:
        endToEndId:
          type: string
          nullable: true
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        account:
          $ref: '#/components/schemas/PaymentAccount'
        status:
          $ref: '#/components/schemas/EntryStatus'
        createdAt:
          type: string
          format: date-time
        ownedAt:
          type: string
          format: date-time
      additionalProperties: false
    
    CreatePixCashOutTransactionRequest:
      type: object
      properties:
        correlationId:
          type: string
          nullable: true
          readOnly: true
        amount:
          type: number
          format: double
        description:
          type: string
          nullable: true
        sender:
          $ref: '#/components/schemas/PersonRequestSender'
        recipient:
          $ref: '#/components/schemas/PersonRequestRecipient'
        initializationType:
          $ref: '#/components/schemas/PixInitializationType'
        endToEndId:
          type: string
          nullable: true
          description: Campo obrigatório para cash-out por <b>chave Pix</b> e <b>Pix QR Code</b>. Só deve ser preenchido nesses casos.
        requestDatetime:
          type: string
          format: date-time
          readOnly: true
      required: 
        - amount
        - description
        - sender
        - initializationType
      additionalProperties: false  
         
    CreatePixCashOutTransactionResponse:
      type: object
      properties:
        amount:
          type: number
          format: double
        description:
          type: string
          nullable: true
        sender:
          $ref: '#/components/schemas/PixPersonSender'
        recipient:
          $ref: '#/components/schemas/PixPersonRecipient'
        authenticationCode:
          type: string
          nullable: true
      additionalProperties: false
      
    PersonRequestSender:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountSender'
        bank:
          $ref: '#/components/schemas/BankRequestSender'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br />nQuando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false
      required:
        - documentNumber
        - name
        - account

    PersonRequestRecipient:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountRecipient'
        bank:
          $ref: '#/components/schemas/BankRequestRecipient'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).<br /> Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta. Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa. <br /> Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
          nullable: true
      additionalProperties: false
  
    PixInitializationType:
      enum:
        - Manual
        - Key
        - StaticQrCode
        - DynamicQrCode
      type: string
      
    PixPersonSender:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountSenderResponse'
        bank:
          $ref: '#/components/schemas/BankSenderResponse'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> nQuando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false
    
    PixPerson:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountSenderResponse'
        bank:
          $ref: '#/components/schemas/Bank'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false
      
    PixPersonRecipient:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/AccountRecipientResponse'
        bank:
          $ref: '#/components/schemas/BankRecipientResponse'
        documentNumber:
          type: string
          description: Número do documento (CPF ou CNPJ).
          nullable: true
        name:
          type: string
          description: Nome de registro conforme consta no cadastro da conta.<br /> Quando pessoa física, trata-se do nome de registro, e quando pessoa jurídica, trata-se da razão social da empresa.
          nullable: true
      additionalProperties: false
    
    AccountSender:
      required:
        - branch
        - number
      type: object
      properties:
        branch:
          minLength: 1
          type: string
        number:
          minLength: 1
          type: string
      additionalProperties: false
      
    AccountSenderResponse:
      type: object
      properties:
        branch:
          minLength: 1
          type: string
        number:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
      additionalProperties: false
      
    AccountRecipient:
      type: object
      properties:
        branch:
          minLength: 1
          type: string
          description: Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
        number:
          minLength: 1
          type: string
          description: Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
    
    AccountRecipientResponse:
      type: object
      properties:
        branch:
          minLength: 1
          type: string
        number:
          minLength: 1
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
          
    BankRequestSender:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
          description: Campo obrigatório para cash-out por <b>chave Pix</b>. Só deve ser preenchido nesse caso.
         
    BankRequestRecipient:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
          description: Campo obrigatório para <b>Pix cash-out Manual</b>. Só deve ser preenchido nesse caso.
    
    BankSenderResponse:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
      additionalProperties: false
      
    BankRecipientResponse:
      type: object
      properties:
        ispb:
          type: string
          nullable: true
        compe:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
      additionalProperties: false
    
    CreatePixRefundRequest:
      type: object
      properties:
        correlationId:
          type: string
          nullable: true
          readOnly: true
        account:
          $ref: '#/components/schemas/AccountSenderResponse'
        authenticationCode:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        refundCode:
          $ref: '#/components/schemas/RefundCode'
        refundReason:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
      additionalProperties: false
    
    RefundCode:
      enum:
        - AM05
        - AM09
        - BE08
        - DS28
        - FOCR
        - FR01
        - MD06
        - RUTA
        - SL11
        - SL12
        - UPAY
        - NARR
        - SL02
      type: string
      
    PixTransferResponse:
      type: object
      properties:
        authenticationCode:
          type: string
          format: uuid
        endToEndId:
          type: string
          nullable: true
        initializationType:
          $ref: '#/components/schemas/PixInitializationType'
        addressingKey:
          type: string
          nullable: true
        receiverReconciliationId:
          type: string
          nullable: true
        amount:
          type: number
          format: double
        description:
          type: string
          nullable: true
        correlationId:
          type: string
          nullable: true
        sender:
          $ref: '#/components/schemas/PixPerson'
        recipient:
          $ref: '#/components/schemas/PixPerson'
        channel:
          $ref: '#/components/schemas/ChannelResponse'
        status:
          $ref: '#/components/schemas/PixTransferStatusResponse'
        type:
          $ref: '#/components/schemas/PixTransferTypeResponse'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    
    ChannelResponse:
      enum:
        - INTERNAL
        - EXTERNAL
      type: string
    
    PixTransferStatusResponse:
      enum:
        - IN_PROCESS
        - DONE
        - UNDONE
        - CANCELED
      type: string
    
    PixTransferTypeResponse:
      enum:
        - CASH_OUT
        - REFUND
      type: string
      
    CreateStaticQRCodeRequest:
      required:
        - addressingKey
        - recipientName
      type: object
      properties:
        addressingKey:
          $ref: '#/components/schemas/AddressingKey'
        amount:
          type: number
          format: double
          nullable: true
        recipientName:
          minLength: 1
          type: string
        location:
          $ref: '#/components/schemas/Location'
        conciliationId:
          type: string
          nullable: true
        categoryCode:
          type: string
          nullable: true
        additionalData:
          type: string
          nullable: true
      additionalProperties: false
      
    Location:
      type: object
      properties:
        city:
          type: string
          nullable: true
        zipCode:
          type: string
          nullable: true
      additionalProperties: false
    
    DecodeQRCodeRequest:
      type: object
      properties:
        encodedValue:
          type: string
          nullable: true
      additionalProperties: false
      
  securitySchemes:
    Bearer:
      type: http
      description: Inclua o token de autorização do tipo Bearer.
      scheme: bearer
      bearerFormat: JWT

x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
