openapi: 3.0.1
info:
  title: Pagamento de contas
  description: API para pagamento de contas de consumo e concessionárias.
  version: '1.0'
servers:
  - url: https://api-mtls.sandbox.bankly.com.br
paths:
  /bill-payment/validate:
    post:
      tags:
        - Pagamento de contas
      summary: Validação por meio da linha digitável
      description: |
        <div class="bkly-ref-description">
          <p>Realize a validação por meio da linha digitável para verificar se o título está apto a ser pago.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: payment.validate</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Validação do título](/docs/validacao-do-pagamento)."
        }
        [/block]
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ValidateBillRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateBillRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ValidateBillRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ValidateBillRequest'
      responses:
        '200':
          description: A linha digitável foi validada.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidateBillResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateBillResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidateBillResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '429':
          $ref: 'http://localhost:3320/commons/components#/components/responses/429'
  
  /bill-payment/confirm:
    post:
      tags:
        - Pagamento de contas
      summary: Confirmação do pagamento
      description: |
        <div class="bkly-ref-description">
          <p>Confirme o pagamento do título para que ele possa ser efetivado.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: payment.confirm</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Confirmação do pagamento](/docs/confirmacao-do-pagamento)."
        }
        [/block]
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'   
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PayBillRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/PayBillRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PayBillRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PayBillRequest'
      responses:
        '200':
          description: O pagamento foi confirmado.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PayBillResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PayBillResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PayBillResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '429':
          $ref: 'http://localhost:3320/commons/components#/components/responses/429'
  
  /bill-payment:
    get:
      tags:
        - Consultas
      summary: Consulta de pagamento por conta
      description: |
        <div class="bkly-ref-description">
          <p>Consulte todos os pagamentos (completados ou não) realizados por uma conta específica.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: payment.read</span>
        </div> 
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Consulta de pagamento por conta](/docs/consulta-pagamento-por-conta)."
        }
        [/block]
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - $ref: "#/components/parameters/BankBranch"
        - $ref: "#/components/parameters/BankAccount"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
      responses:
        '200':
          description: Recurso encontrado.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/QueryAccountResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/QueryAccountResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryAccountResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'

  /bill-payment/detail:
    get:
      tags:
        - Consultas
      summary: Consulta por código de autenticação
      description: |
        <div class="bkly-ref-description">
          <p>Consulte todos os detalhes de um pagamento específico (completado ou não) por meio de seu código de autenticação (<code>authenticationCode</code>).</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: payment.read</span>
        </div>
        [block:callout]
        {
          "type": "info",
          "title": "Nota",
          "body": "Para mais informações, confira a documentação [Consulta por código de autenticação](/docs/consulta-por-codigo-de-autenticacao)."
        }
        [/block]
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/Authorization'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/X-Correlation-Id'
        - $ref: "#/components/parameters/BankBranch"
        - $ref: "#/components/parameters/BankAccount"
        - $ref: "#/components/parameters/AuthenticationCode"
      responses:
        '200':
          description: Recurso encontrado.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/QueryAutenticationCodeResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/QueryAutenticationCodeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryAutenticationCodeResponse'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'

components:
  parameters:
    
    AuthenticationCode:
      name: authenticationCode
      in: query
      required: true
      schema:
        type: string
        description: Código de autenticação do pagamento que se deseja consultar. O valor pode ser obtido no retorno da requisição de confirmação de pagamento.  
    
    BankBranch:
      name: bankBranch
      in: query
      required: true
      schema:
        type: string
        description: Número da agência do banco do pagador.

    BankAccount:
      name: bankAccount
      required: true
      in: query
      schema:
        type: string
        description: Número da conta do pagador. 
      
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        format: int32
        description: Número de itens por página que a consulta deve retornar.

    PageToken:
      name: pageToken
      in: query
      schema:
        type: string
        description: Após a primeira consulta, será retornado um token no campo nextPage, que identifica as páginas retornadas. Caso deseje consultar a próxima página, é preciso informá-lo neste campo (<code>pageToken</code>).
  
  schemas:
    
    BillBusinessHours:
      type: object
      description: Objeto que contém informações sobre a faixa de horário permitida para pagamento. 
      properties:
        start:
          type: string
          nullable: true
          description: Horário mínimo para realizar o pagamento.
        end:
          type: string
          nullable: true
          description: Horário máximo para realizar o pagamento.
      additionalProperties: false
    
    BillCharges:
      type: object
      description: Objeto que contém informações sobre os encargos aplicados na transação. Em caso de pagamentos desfeitos, esse objeto retornará seus campos com valores <b>nulos</b>.
      properties:
        interestAmountCalculated:
          type: number
          format: double
          description: Valor dos juros.
        fineAmountCalculated:
          type: number
          format: double
          description: Valor da multa.
        discountAmount:
          type: number
          format: double
          description: Valor do desconto.
      additionalProperties: false
    
    BillRecipientPerson:
      type: object
      description: Objeto que contém informações sobre o recebedor do pagamento.
      properties:
        name:
          type: string
          nullable: true
          description: Nome do recebedor.
        documentNumber:
          type: string
          nullable: true
          description: Número do documento do recebedor.
      additionalProperties: false
    
    BillPayerPerson:
      type: object
      description: Objeto que contém informações sobre o cedente.
      properties:
        name:
          type: string
          nullable: true
          description: Nome do cedente.
        documentNumber:
          type: string
          nullable: true
          description: Número do documento do cedente.
      additionalProperties: false

    PayBillRequest:
      type: object
      required:
        - id
        - bankBranch
        - bankAccount
        - amount
      properties:
        id:
          type: string
          format: uuid
          description: Código ID gerado na etapa de validação. 
        bankBranch:
          type: string
          nullable: true
          description: Número da agência do banco do pagador.
        bankAccount:
          type: string
          nullable: true
          description: Número da conta do pagador.
        amount:
          type: number
          format: double
          description:  Valor a ser pago.
        description:
          type: string
          nullable: true
          description: Descrição do pagamento.
      additionalProperties: false
    
    PayBillResponse:
      type: object
      properties:
        authenticationCode:
          type: string
          format: uuid
          description: Id de confirmação da transação que será utilizado para realizar consultas sobre o pagamento.
        settleDate:
          type: string
          format: date-time
          description: Data em que o pagamento será liquidado, no formato ISO 8601 - UTC. Caso a data de vencimento coincida com feriados ou finais de semana, esse campo informará a data do próximo dia útil.
      additionalProperties: false

    PayBillStatus:
      description: Situação do pagamento.
      enum:
        - Created
        - Completed
        - Canceled
    
    QueryAccountResponse:
      type: object
      properties:
        nextPage:
          type: string
          nullable: true
          description: Identificador da página retornada. Caso deseje consultar a próxima página, é preciso informá-lo no campo <code>pageToken</code>.
        authenticationCode:
          type: string
          format: uuid
          description: Id de confirmação da transação que poderá ser utilizado para consultar um pagamento específico.
        bankBranch:
          type: string
          nullable: true
          description: Número da agência do banco do pagador.
        bankAccount:
          type: string
          nullable: true
          description: Número da conta do pagador.
        paymentDate:
          type: string
          format: date-time
          description: Data do pagamento.
        status: 
          $ref: '#/components/schemas/PayBillStatus' 
        companyKey:
          type: string
          nullable: true
          description: Chave identificadora da companhia.
        documentNumber:
          type: string
          nullable: true
          description: Número do documento do pagador.
        confirmedAt:
          type: string
          format: date-time
          description: Data da confirmação do pagamento.
        digitable:
          type: string
          nullable: true
          description: Linha digitável.
        amount:
          type: number
          format: double
          description: Valor pago.
        originalAmount:
          type: number
          format: double
          description: Valor original, sem encargos.
        assignor:
          type: string
          nullable: true
          description: Nome do cedente.
        recipientDocument:
          type: string
          nullable: true
          description: Número do documento do recebedor.
        recipientName:
          type: string
          nullable: true
          description: Nome do recebedor do pagamento.
        charges:
          $ref: '#/components/schemas/BillCharges'
        settleDate:
          type: string
          format: date-time
          description: Data de liquidação do título.
        dueDate:
          type: string
          format: date-time
          description: Data de vencimento do título.
        descritpion:
          type: string
          nullable: true
          description: Descrição do pagamento.
      additionalProperties: false

    QueryAutenticationCodeResponse:
      type: object
      properties:
        authenticationCode:
          type: string
          format: uuid
          description: Id de confirmação da transação que poderá ser utilizado para consultar um pagamento específico.
        bankBranch:
          type: string
          nullable: true
          description: Número da agência do banco do pagador.
        bankAccount:
          type: string
          nullable: true
          description: Número da conta do pagador.
        paymentDate:
          type: string
          format: date-time
          description: Data do pagamento.
        status: 
          $ref: '#/components/schemas/PayBillStatus' 
        companyKey:
          type: string
          nullable: true
          description: Chave identificadora da companhia.
        documentNumber:
          type: string
          nullable: true
          description: Número do documento do pagador.
        confirmedAt:
          type: string
          format: date-time
          description: Data da confirmação do pagamento.
        digitable:
          type: string
          nullable: true
          description: Linha digitável.
        amount:
          type: number
          format: double
          description: Valor pago.
        originalAmount:
          type: number
          format: double
          description: Valor original, sem encargos.
        assignor:
          type: string
          nullable: true
          description: Nome do cedente.
        recipientDocument:
          type: string
          nullable: true
          description: Número do documento do recebedor.
        recipientName:
          type: string
          nullable: true
          description: Nome do recebedor do pagamento.
        charges:
          $ref: '#/components/schemas/BillCharges'
        settleDate:
          type: string
          format: date-time
          description: Data de liquidação do título.
        dueDate:
          type: string
          format: date-time
          description: Data de vencimento do título.
        descritpion:
          type: string
          nullable: true
          description: Descrição do pagamento. 
      additionalProperties: false

    ValidateBillRequest:
      required:
        - code
      type: object
      properties:
        code:
          type: string
          description: Linha digitável. 
          nullable: true
      additionalProperties: false
    
    ValidateBillResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Identificador único que será necessário no momento de confirmar o pagamento.
        assignor:
          type: string
          nullable: true
          description: Nome do cedente.
        recipient:
          $ref: '#/components/schemas/BillRecipientPerson'
        payer:
          $ref: '#/components/schemas/BillPayerPerson'
        businessHours:
          $ref: '#/components/schemas/BillBusinessHours'
        dueDate:
          type: string
          format: date-time
          description: Data de vencimento do título.
        settleDate:
          type: string
          format: date-time
          nullable: true
          description: Data em que o pagamento será liquidado.
        nextSettle:
          type: boolean
          description: Informa se o título será liquidado no próximo dia útil.
        originalAmount:
          type: number
          format: double
          nullable: true
          description: Valor original, sem encargos.
        amount:
          type: number
          format: double
          nullable: true
          description: Valor a ser pago.
        charges:
          $ref: '#/components/schemas/BillCharges'
        maxAmount:
          type: number
          format: double
          description: Máximo valor permitido por pagamento.
        minAmount:
          type: number
          format: double
          description: Mínimo valor permitido por pagamento.
        allowChangeAmount:
          type: boolean
          description: Indica se é permitido pagamento parcial.
        digitable:
          type: string
          nullable: true
          description: Linha digitável.
      additionalProperties: false
