openapi: 3.0.1
info:
  title: Gestão de Conta
  description: Abra e gerencie contas para o seu cliente em poucos minutos. Consulte
    também nossa [documentação](https://bankly.readme.io/v1.0/docs/) para mais detalhes
    sobre os fluxos de negócio.
  version: '1.0'
servers:
- url: https://api.sandbox.bankly.com.br
paths:
  "/baas/business/{documentNumber}/accounts":
    post:
      tags:
      - Abertura de conta jurídica (MEI, EI ou EIRELI).
      summary: Crie uma conta de pagamento.
      description: IMPORTANTE! É necessário ter o registro do titular (pessoa jurídica)
        previamente aprovado.
      operationId: CreateBusinessAccountAsync
      parameters:
      - name: documentNumber
        in: path
        description: Número do documento CNPJ da empresa. Informe somente os números.
        required: true
        schema:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CNPJ da empresa. Informe somente os números.
      - name: api-version
        in: header
        description: Versão da API. Atualmente estamos na 1.0.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatePaymentAccountRequest"
      responses:
        '201':
          description: Recurso criado com sucesso
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
            Location:
              description: Localização do recurso recém-criado ou em análise.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentAccountResponse"
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security:
      - Bearer: []
    get:
      tags:
      - Abertura de conta jurídica (MEI, EI ou EIRELI).
      summary: Obtenha as contas de uma empresa.
      description: Retornaremos uma lista com todas as contas dessa empresa, independentemente
        de seus respectivos status.
      operationId: GetBusinessAccountsAsync
      parameters:
      - name: documentNumber
        in: path
        description: Número do documento CNPJ da empresa. Informe somente os números.
        required: true
        schema:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CNPJ da empresa. Informe somente os números.
      - name: api-version
        in: header
        description: Versão da API. Atualmente estamos na 1.0.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/PaymentAccountBasicResponse"
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProblemDetails"
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security:
      - Bearer: []
  "/baas/business/{documentNumber}/cancel":
    patch:
      tags:
      - Abertura de conta jurídica (MEI, EI ou EIRELI).
      summary: Cancelamento do cliente pessoa jurídica
      description: Solicitação de cancelamento do vínculo com o cliente pessoa jurídica.
      operationId: CloseAsync
      parameters:
      - name: documentNumber
        in: path
        description: Número do documento CNPJ da empresa. Informe somente os números.
        required: true
        schema:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CNPJ da empresa. Informe somente os números.
      - name: api-version
        in: header
        description: Versão da API. Atualmente estamos na 1.0.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CancelBusinessHolderRequest"
      responses:
        '202':
          description: Requisição foi aceita e está sendo processada
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
            Location:
              description: Localização do recurso recém-criado ou em análise.
              schema:
                type: string
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProblemDetails"
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security:
      - Bearer: []
  "/baas/document-analysis/{documentNumber}":
    put:
      tags:
      - Análise de documentos.
      summary: Envie documentos (SELFIE, RG ou CNH) para análise.
      description: Essa etapa deve anteceder o pedido de registro do titular da conta
        (pessoa física ou pessoa jurídica).
      operationId: UploadDocumentAsync
      parameters:
      - name: documentNumber
        in: path
        description: Número do documento CPF do cliente pessoal ou representante legal
          da empresa.
        required: true
        schema:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CPF do cliente pessoal ou representante
            legal da empresa.
      - name: api-version
        in: header
        description: Versão da API. Atualmente estamos na 1.0.
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                documentType:
                  "$ref": "#/components/schemas/DocumentType"
                documentSide:
                  "$ref": "#/components/schemas/DocumentSide"
                image:
                  type: string
                  description: Arquivo da imagem. Não deve ser superior à 1 MB. A
                    resolução deve ser compatível com VGA. [Saiba mais](https://en.wikipedia.org/wiki/Video_Graphics_Array).
                  format: binary
                  nullable: true
            encoding:
              documentType:
                style: form
              documentSide:
                style: form
              image:
                style: form
      responses:
        '202':
          description: Requisição foi aceita e está sendo processada
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
            Location:
              description: Localização do recurso recém-criado ou em análise.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UploadDocumentResponse"
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security:
      - Bearer: []
    get:
      tags:
      - Análise de documentos.
      summary: Obtenha o resultado da análise do documento.
      description: Você pode solicitar mais de um resultado, informando os tokens
        correspondentes às análises solicitadas.
      operationId: GetDocumentAnalysisAsync
      parameters:
      - name: documentNumber
        in: path
        description: Número do documento CPF do titular.
        required: true
        schema:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CPF do titular.
      - name: token
        in: query
        description: Lista de tokens de análise do documento.
        schema:
          type: array
          items:
            type: string
          description: Lista de tokens de análise do documento.
          nullable: true
      - name: resultLevel
        in: query
        description: Tipo de resultado a ser retornado (ONLY_STATUS ou DETAILED).
        schema:
          "$ref": "#/components/schemas/ResultLevel"
      - name: api-version
        in: header
        description: Versão da API. Atualmente estamos na 1.0.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DocumentAnalysisResponse"
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security:
      - Bearer: []
  
  "/baas/corporation-business/{documentNumber}":
    put:
      tags:
      - Abertura de conta jurídica (LTDA, SA ou TS).
      summary: Registre (ou substitua) uma nova empresa (LTDA, SA ou TS).
      description: O pedido de registro será analisado e resultado você pode obter
        consultando o registro da empresa. Caso a empresa não exista ela será criada,
        se já existir e o cadastro tenha sido previamente reprovado, seus dados serão
        sobrepostos. Após o registro aprovado considere utilizar o enpoint PATCH (em
        construção) para atualizações cadastrais.
      operationId: RegisterCorporationBusinessAsync
      parameters:
      - name: documentNumber
        in: path
        description: Número do documento CNPJ da empresa. Informe somente os números.
        required: true
        schema:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CNPJ da empresa. Informe somente os números.
      - name: api-version
        in: header
        description: Versão da API. Atualmente estamos na 1.0.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RegisterCorporationBusinessRequest"
      responses:
        '201':
          description: Requisição foi aceita e está sendo processada
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
            Location:
              description: Localização do recurso recém-criado ou em análise.
              schema:
                type: string
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '409':
          description: A solicitação atual conflitou com o recurso existente no servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security:
      - Bearer: []
  "/baas/accounts/{accountNumber}/income-report":
    get:
      tags:
      - Informe de Rendimentos
      summary: Obtenha os dados do Informe de Rendimento de uma conta de pagamento.
      description: Opcionalmente você pode obter informando o ano calendário desejado,
        o padrão é sempre o ano vigente.
      operationId: GetIncomeReportByAccountNumberAsync
      parameters:
      - name: accountNumber
        in: path
        description: Número da conta.
        required: true
        schema:
          type: string
          description: Número da conta.
          nullable: true
      - name: calendar
        in: query
        description: Ano Calendário, por padrão é o ano vigente da declaração do IR.
        schema:
          type: integer
          description: Ano Calendário, por padrão é o ano vigente da declaração do
            IR.
          format: int32
      - name: api-version
        in: header
        description: Versão da API. Atualmente estamos na 1.0.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IncomeReportResponse"
        '204':
          description: Recurso encontrado, mas não existe conteúdo na sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProblemDetails"
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security:
      - Bearer: []
  "/baas/accounts/{accountNumber}/income-report/print":
    get:
      tags:
      - Informe de Rendimentos
      summary: Obtenha o Informe de Rendimento de uma conta de pagamento em formato
        de arquivo.
      description: Opcionalmente você pode obter informando o ano calendário desejado,
        o padrão é sempre o ano vigente.
      operationId: PrintIncomeReportByAccountNumberAsync
      parameters:
      - name: accountNumber
        in: path
        description: Número da conta.
        required: true
        schema:
          type: string
          description: Número da conta.
          nullable: true
      - name: calendar
        in: query
        description: Ano Calendário, por padrão é o ano vigente da declaração do IR.
        schema:
          type: integer
          description: Ano Calendário, por padrão é o ano vigente da declaração do
            IR.
          format: int32
      - name: api-version
        in: header
        description: Versão da API. Atualmente estamos na 1.0.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PrintIncomeReportResponse"
        '204':
          description: Recurso encontrado, mas não existe conteúdo na sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
        '400':
          description: Há algum problema com a sua requisição.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '404':
          description: Recurso não encontrado.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProblemDetails"
        '500':
          description: Ocorreu algum erro inexperado no nosso servidor.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      security:
      - Bearer: []

components:
  schemas:
    Balance:
      type: object
      properties:
        amount:
          type: number
          format: double
        currency:
          type: string
          nullable: true
      additionalProperties: false
    SummarizedBalance:
      type: object
      properties:
        inProcess:
          "$ref": "#/components/schemas/Balance"
        available:
          "$ref": "#/components/schemas/Balance"
        blocked:
          "$ref": "#/components/schemas/Balance"
      additionalProperties: false
    AccountStatus:
      enum:
      - ACTIVE
      - CLOSED
      - CASH_IN_BLOCKED
      - CASH_OUT_BLOCKED
      - BLOCKED
      type: string
      description: Status da conta.
    PaymentAccountResponse:
      type: object
      properties:
        balance:
          "$ref": "#/components/schemas/SummarizedBalance"
        status:
          "$ref": "#/components/schemas/AccountStatus"
        branch:
          type: string
          nullable: true
        number:
          type: string
          nullable: true
      additionalProperties: false
    Error:
      type: object
      properties:
        code:
          type: string
          nullable: true
        propertyName:
          type: string
          nullable: true
        messages:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            "$ref": "#/components/schemas/Error"
          nullable: true
        reference:
          type: integer
          format: int32
      additionalProperties: false
    GetPaymentAccountRequest:
      required:
      - accountNumber
      type: object
      properties:
        accountNumber:
          minLength: 1
          type: string
          description: Número da conta.
        includeBalance:
          type: boolean
          description: Inclua o saldo da conta na pesquisa.
      additionalProperties: false
    ClosureReason:
      enum:
      - HOLDER_REQUEST
      - COMMERCIAL_DISAGREEMENT
      type: string
      description: Motivo da solicitação de cancelamento. Neste momento só é permitido
        HOLDER_REQUEST e COMMERCIAL_DISAGREEMENT
    CloseAccountRequest:
      type: object
      properties:
        reason:
          "$ref": "#/components/schemas/ClosureReason"
        accountNumber:
          type: string
          description: Número da conta do cliente.
          nullable: true
          readOnly: true
      additionalProperties: false
    Phone:
      required:
      - countryCode
      - number
      type: object
      properties:
        countryCode:
          minLength: 1
          type: string
          description: Código DDI do país. Por enquanto é permitido apenas 55 ou +55
            (Brasil).
        number:
          minLength: 1
          type: string
          description: Número de telefone incluindo DDD.
      additionalProperties: false
    Address:
      required:
      - addressLine
      - buildingNumber
      - city
      - country
      - neighborhood
      - state
      - zipCode
      type: object
      properties:
        zipCode:
          minLength: 1
          type: string
          description: O CEP correspondente ao endereço.
        addressLine:
          maxLength: 256
          minLength: 1
          type: string
          description: Logradouro (Nome da rua, avenida, etc).
        buildingNumber:
          maxLength: 10
          minLength: 1
          type: string
          description: Número da residência.
        complement:
          maxLength: 256
          type: string
          description: 'Complemento do endereço. Exemplo: Apto 123, Casa B, etc.'
          nullable: true
        neighborhood:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome do bairro ou distrito.
        city:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome da cidade.
        state:
          minLength: 1
          type: string
          description: Sigla do estado brasileiro conforme a ISO 3166-2:BR.
        country:
          minLength: 1
          type: string
          description: 'Sigla do país (Brasil) conforme a ISO 3166-2. Exemplo: BR.'
      additionalProperties: false
    LegalRepresentative:
      required:
      - motherName
      - birthDate
      - registerName
      - phone
      - address
      - documentNumber
      type: object
      properties:
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. [Saiba mais](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        birthDate:
          minLength: 1
          type: string
          description: Data de nascimento do cliente. O cliente deve possuir no mínimo
            16 anos.
          format: date-time
        motherName:
          type: string
          description: Nome da mãe do cliente conforme consta no documento de identificação.
          nullable: true
        email:
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá
            ser usado por dois clientes.
          nullable: true
        isPoliticallyExposedPerson:
          type: boolean
          description: Pessoal exposta politicamente.
        registerName:
          minLength: 1
          type: string
          description: Nome conforme consta no documento de identificação (RG ou CNH)
            do cliente.
        phone:
          "$ref": "#/components/schemas/Phone"
        address:
          "$ref": "#/components/schemas/Address"
        documentNumber:
          minLength: 1
          type: string
          description: Número do documento CPF. Informe somente os números.
          readOnly: true
      additionalProperties: false
    PersonalBusinessType:
      enum:
      - MEI
      - EI
      - EIRELI
      type: string
    PersonalBusinessSize:
      enum:
      - MEI
      - ME
      - EPP
      type: string
    RegisterPersonalBusinessRequest:
      required:
      - businessAddress
      - businessName
      - businessSize
      - businessType
      - legalRepresentative
      type: object
      properties:
        legalRepresentative:
          "$ref": "#/components/schemas/LegalRepresentative"
        businessType:
          "$ref": "#/components/schemas/PersonalBusinessType"
        businessSize:
          "$ref": "#/components/schemas/PersonalBusinessSize"
        businessName:
          maxLength: 256
          minLength: 1
          type: string
          description: Razão social da empresa.
        tradingName:
          type: string
          description: Nome fantasia da empresa.
          nullable: true
        businessEmail:
          type: string
          description: E-mail comercial da empresa.
          format: email
          nullable: true
        businessAddress:
          "$ref": "#/components/schemas/Address"
      additionalProperties: false
    BusinessIdentification:
      required:
      - documentNumber
      type: object
      properties:
        documentNumber:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CNPJ da empresa. Informe somente os números.
      additionalProperties: false
    ResultLevels:
      enum:
      - BASIC
      - DETAILED
      type: string
      description: Tipo de retorno da API (BASIC ou DETAILED).
    BusinessType:
      enum:
      - Undefined
      - MEI
      - EI
      - EIRELI
      - LTDA
      - SA
      - TS
      type: string
    Owner:
      type: object
      properties:
        incomeDeclared:
          type: number
          description: Renda declarada.
          format: double
          nullable: true
        participationPercentage:
          type: string
          description: Percentual de participação (0 a 100).
          nullable: true
        documentNumber:
          type: string
          description: Número de documento (CPF ou CNPJ). Informe somente números.
          nullable: true
        registerName:
          type: string
          description: Nome conforme consta no documento de identificação (RG ou CNH).
            Apenas para sócio pessoa física.
          nullable: true
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. Apenas para
            sócio pessoa física. [Saiba mais](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        phone:
          "$ref": "#/components/schemas/Phone"
        address:
          "$ref": "#/components/schemas/Address"
        birthDate:
          type: string
          description: Data de nascimento do sócio. Apenas para sócio pessoa física.
          format: date-time
        motherName:
          type: string
          description: Nome da mãe do cliente conforme consta no documento de identificação.
            Apenas para sócio pessoa física.
          nullable: true
        email:
          type: string
          description: Endereço de e-mail do sócio.
          nullable: true
        tradingName:
          type: string
          description: Nome fantasia da empresa. Apenas para sócio pessoa jurídica.
          nullable: true
        businessName:
          type: string
          description: Razão social da empresa. Apenas para sócio pessoa jurídica.
          nullable: true
        businessType:
          "$ref": "#/components/schemas/BusinessType"
        isPoliticallyExposedPerson:
          type: boolean
          description: Pessoa exposta politicamente. Apenas para sócio pessoa física.
        legalRepresentatives:
          type: array
          items:
            "$ref": "#/components/schemas/LegalRepresentative"
          description: Representantes legais da empresa. Apenas para sócio pessoa
            jurídica.
          nullable: true
        owners:
          type: array
          items:
            "$ref": "#/components/schemas/Owner"
          description: Sócios da empresa. Apenas para sócio pessoa jurídica.
          nullable: true
      additionalProperties: false
    PowerOfAttorney:
      type: object
      properties:
        startDate:
          type: string
          description: Data de Início da procuração
          format: date-time
        endDate:
          type: string
          description: Data Fim da procuração
          format: date-time
      additionalProperties: false
    LegalRepresentativePerson:
      type: object
      properties:
        powerOfAttorney:
          "$ref": "#/components/schemas/PowerOfAttorney"
        memberQualification:
          type: string
          description: Qualificação de integrante.
          nullable: true
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. [Saiba mais](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        birthDate:
          type: string
          description: Data de nascimento do cliente. O cliente deve possuir no mínimo
            16 anos.
          format: date-time
        motherName:
          type: string
          description: Nome da mãe do cliente conforme consta no documento de identificação.
          nullable: true
        email:
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá
            ser usado por dois clientes.
          nullable: true
        isPoliticallyExposedPerson:
          type: boolean
          description: Pessoal exposta politicamente.
        registerName:
          type: string
          description: Nome conforme consta no documento de identificação (RG ou CNH)
            do cliente.
          nullable: true
        phone:
          "$ref": "#/components/schemas/Phone"
        address:
          "$ref": "#/components/schemas/Address"
        documentNumber:
          type: string
          description: Número do documento CPF. Informe somente os números.
          nullable: true
          readOnly: true
      additionalProperties: false
    BusinessDetailedResponse:
      type: object
      properties:
        email:
          type: string
          nullable: true
        businessAddress:
          "$ref": "#/components/schemas/Address"
        owners:
          type: array
          items:
            "$ref": "#/components/schemas/Owner"
          nullable: true
        legalRepresentatives:
          type: array
          items:
            "$ref": "#/components/schemas/LegalRepresentativePerson"
          nullable: true
        reasons:
          type: array
          items:
            type: string
          nullable: true
        documentNumber:
          type: string
          nullable: true
        businessName:
          type: string
          nullable: true
        tradingName:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        businessType:
          type: string
          nullable: true
        businessSize:
          type: string
          nullable: true
        cnaeCode:
          type: string
          nullable: true
        legalNature:
          type: string
          nullable: true
        annualBilling:
          type: number
          format: double
        openingDate:
          type: string
          format: date-time
        phone:
          "$ref": "#/components/schemas/Phone"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
        extensions:
          type: object
          additionalProperties:
            type: object
            additionalProperties: false
          nullable: true
          readOnly: true
      additionalProperties: false
    GetBusinessRegistrationRequest:
      required:
      - documentNumber
      type: object
      properties:
        resultLevel:
          "$ref": "#/components/schemas/ResultLevels"
        documentNumber:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CNPJ da empresa. Informe somente os números.
      additionalProperties: false
    AccountType:
      enum:
      - PAYMENT_ACCOUNT
      type: string
      description: Tipo da conta a ser criada. Neste momento só é permitido PAYMENT_ACCOUNT.
    CreatePaymentAccountRequest:
      type: object
      properties:
        accountType:
          "$ref": "#/components/schemas/AccountType"
      additionalProperties: false
    PaymentAccountBasicResponse:
      type: object
      properties:
        status:
          "$ref": "#/components/schemas/AccountStatus"
        branch:
          type: string
          nullable: true
        number:
          type: string
          nullable: true
      additionalProperties: false
    GetBusinessAccountsRequest:
      required:
      - documentNumber
      type: object
      properties:
        documentNumber:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CNPJ da empresa. Informe somente os números.
      additionalProperties: false
    CancelBusinessHolderRequest:
      type: object
      properties:
        reason:
          "$ref": "#/components/schemas/ClosureReason"
      additionalProperties: false
    CorporationBusinessType:
      enum:
      - LTDA
      - SA
      - TS
      type: string
    CorporationBusinessSize:
      enum:
      - SMALL
      - MEDIUM
      - LARGE
      type: string
    RegisterCorporationBusinessRequest:
      required:
      - businessAddress
      - businessName
      - businessSize
      - businessType
      type: object
      properties:
        businessType:
          "$ref": "#/components/schemas/CorporationBusinessType"
        businessSize:
          "$ref": "#/components/schemas/CorporationBusinessSize"
        cnaeCode:
          type: string
          description: Código Cnae.
          nullable: true
        legalNature:
          type: string
          description: Natureza Jurídica da empresa.
          nullable: true
        openingDate:
          type: string
          description: Data de abertura da empresa.
          format: date-time
        annualBilling:
          type: number
          description: Faturamento anual da empresa.
          format: double
        phone:
          "$ref": "#/components/schemas/Phone"
        legalRepresentatives:
          type: array
          items:
            "$ref": "#/components/schemas/LegalRepresentativePerson"
          description: Representantes legais da empresa.
          nullable: true
        owners:
          type: array
          items:
            "$ref": "#/components/schemas/Owner"
          description: Sócios da empresa.
          nullable: true
        businessName:
          maxLength: 256
          minLength: 1
          type: string
          description: Razão social da empresa.
        tradingName:
          type: string
          description: Nome fantasia da empresa.
          nullable: true
        businessEmail:
          type: string
          description: E-mail comercial da empresa.
          format: email
          nullable: true
        businessAddress:
          "$ref": "#/components/schemas/Address"
      additionalProperties: false
    RegisterCustomerRequest:
      required:
      - motherName
      - birthDate
      - registerName
      - phone
      - address
      type: object
      properties:
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. [Saiba mais](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        birthDate:
          minLength: 1
          type: string
          description: Data de nascimento do cliente. O cliente deve possuir no mínimo
            16 anos.
          format: date-time
        motherName:
          type: string
          description: Nome da mãe do cliente conforme consta no documento de identificação.
          nullable: true
        email:
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá
            ser usado por dois clientes.
          nullable: true
        isPoliticallyExposedPerson:
          type: boolean
          description: Pessoal exposta politicamente.
        registerName:
          minLength: 1
          type: string
          description: Nome conforme consta no documento de identificação (RG ou CNH)
            do cliente.
        phone:
          "$ref": "#/components/schemas/Phone"
        address:
          "$ref": "#/components/schemas/Address"
      additionalProperties: false
    CustomerIdentification:
      required:
      - documentNumber
      type: object
      properties:
        documentNumber:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CPF do cliente . Informe somente os números.
      additionalProperties: false
    CustomerDetailedResponse:
      type: object
      properties:
        phone:
          "$ref": "#/components/schemas/Phone"
        address:
          "$ref": "#/components/schemas/Address"
        email:
          type: string
          nullable: true
        motherName:
          type: string
          nullable: true
        birthDate:
          type: string
          format: date-time
        isPoliticallyExposedPerson:
          type: boolean
        reasons:
          type: array
          items:
            type: string
          nullable: true
        documentNumber:
          type: string
          nullable: true
        registerName:
          type: string
          nullable: true
        socialName:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        profile:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
    GetCustomerRegistrationRequest:
      required:
      - documentNumber
      type: object
      properties:
        resultLevel:
          "$ref": "#/components/schemas/ResultLevels"
        documentNumber:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CPF do cliente . Informe somente os números.
      additionalProperties: false
    GetCustomerAccountsRequest:
      required:
      - documentNumber
      type: object
      properties:
        documentNumber:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CPF do cliente . Informe somente os números.
      additionalProperties: false
    CancelCustomerHolderRequest:
      type: object
      properties:
        reason:
          "$ref": "#/components/schemas/ClosureReason"
      additionalProperties: false
    DocumentType:
      enum:
      - RG
      - CNH
      - SELFIE
      - DNI
      - CRNM
      - RNE
      type: string
      description: Tipo do documento (RG, CNH, RNE, CRNM, DNI e SELFIE).
    DocumentSide:
      enum:
      - FRONT
      - BACK
      type: string
      description: Lado do documento (FRONT ou BACK). Quando o tipo do documento for
        selfie, este parâmetro será desprezado.
    UploadDocumentResponse:
      type: object
      properties:
        token:
          type: string
          nullable: true
      additionalProperties: false
    UploadDocumentRequest:
      required:
      - documentNumber
      - documentSide
      - documentType
      - image
      type: object
      properties:
        documentNumber:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CPF do cliente pessoal ou representante
            legal da empresa.
        documentType:
          "$ref": "#/components/schemas/DocumentType"
        documentSide:
          "$ref": "#/components/schemas/DocumentSide"
        image:
          type: string
          description: Arquivo da imagem. Não deve ser superior à 1 MB. A resolução
            deve ser compatível com VGA. [Saiba mais](https://en.wikipedia.org/wiki/Video_Graphics_Array).
          format: binary
      additionalProperties: false
    ResultLevel:
      enum:
      - ONLY_STATUS
      - DETAILED
      type: string
    FaceMatch:
      type: object
      properties:
        status:
          type: string
          nullable: true
        similarity:
          type: number
          format: double
          nullable: true
        confidence:
          type: number
          format: double
          nullable: true
      additionalProperties: false
    AgeRange:
      type: object
      properties:
        low:
          type: integer
          format: int32
          nullable: true
        high:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    FacialDetail:
      type: object
      properties:
        value:
          type: object
          additionalProperties: false
          description: Tipo do detalhe facial identificado
          nullable: true
        confidence:
          type: number
          description: N�vel de confian�a do resultado
          format: float
          nullable: true
      additionalProperties: false
    FaceDetails:
      type: object
      properties:
        status:
          type: string
          nullable: true
        confidence:
          type: number
          format: float
          nullable: true
        ageRange:
          "$ref": "#/components/schemas/AgeRange"
        gender:
          "$ref": "#/components/schemas/FacialDetail"
        sunglasses:
          "$ref": "#/components/schemas/FacialDetail"
        eyesOpen:
          "$ref": "#/components/schemas/FacialDetail"
        emotions:
          type: array
          items:
            "$ref": "#/components/schemas/FacialDetail"
          nullable: true
      additionalProperties: false
    DocumentDetails:
      type: object
      properties:
        status:
          type: string
          nullable: true
        identifiedDocumentType:
          type: string
          nullable: true
        idNumber:
          type: string
          nullable: true
        cpfNumber:
          type: string
          nullable: true
        birthDate:
          type: string
          nullable: true
        fatherName:
          type: string
          nullable: true
        motherName:
          type: string
          nullable: true
        registerName:
          type: string
          nullable: true
        validDate:
          type: string
          nullable: true
        driveLicenseCategory:
          type: string
          nullable: true
        driveLicenseNumber:
          type: string
          nullable: true
        driveLicenseFirstQualifyingDate:
          type: string
          nullable: true
        federativeUnit:
          type: string
          nullable: true
        issuedBy:
          type: string
          nullable: true
        issuePlace:
          type: string
          nullable: true
        issueDate:
          type: string
          nullable: true
        classification:
          type: string
          nullable: true
        entryDate:
          type: string
          nullable: true
        gender:
          type: string
          nullable: true
        nacionality:
          type: string
          nullable: true
        naturality:
          type: string
          nullable: true
        rne:
          type: string
          nullable: true
        surname:
          type: string
          nullable: true
        rnm:
          type: string
          nullable: true
        ctps:
          type: string
          nullable: true
        militaryCertificate:
          type: string
          nullable: true
        nisPisPasep:
          type: string
          nullable: true
        professionalId:
          type: string
          nullable: true
        series:
          type: string
          nullable: true
        uf:
          type: string
          nullable: true
        side:
          type: string
          nullable: true
        placeOfBirth:
          type: string
          nullable: true
        voterCard:
          type: string
          nullable: true
        cns:
          type: string
          nullable: true
      additionalProperties: false
    Liveness:
      type: object
      properties:
        status:
          type: string
          nullable: true
        confidence:
          type: number
          format: double
          nullable: true
      additionalProperties: false
    DocumentAnalysisResponse:
      type: object
      properties:
        token:
          type: string
          nullable: true
        documentType:
          type: string
          nullable: true
        documentSide:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        faceMatch:
          "$ref": "#/components/schemas/FaceMatch"
        faceDetails:
          "$ref": "#/components/schemas/FaceDetails"
        documentDetails:
          "$ref": "#/components/schemas/DocumentDetails"
        liveness:
          "$ref": "#/components/schemas/Liveness"
        analyzedAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    GetDocumentAnalysisRequest:
      required:
      - documentNumber
      type: object
      properties:
        documentNumber:
          minLength: 1
          pattern: "^[0-9]*$"
          type: string
          description: Número do documento CPF do titular.
        token:
          type: array
          items:
            type: string
          description: Lista de tokens de análise do documento.
          nullable: true
        resultLevel:
          "$ref": "#/components/schemas/ResultLevel"
      additionalProperties: false
    Holder:
      type: object
      properties:
        name:
          type: string
          nullable: true
        documentNumber:
          type: string
          nullable: true
      additionalProperties: false
    Account:
      type: object
      properties:
        branch:
          type: string
          nullable: true
        number:
          type: string
          nullable: true
      additionalProperties: false
    IncomeBalance:
      type: object
      properties:
        year:
          type: string
          nullable: true
        amount:
          type: number
          format: double
        currency:
          type: string
          nullable: true
      additionalProperties: false
    Income:
      type: object
      properties:
        amount:
          type: number
          format: double
        currency:
          type: string
          nullable: true
      additionalProperties: false
    IncomeReportResponse:
      type: object
      properties:
        payerSource:
          "$ref": "#/components/schemas/Holder"
        holder:
          "$ref": "#/components/schemas/Holder"
        account:
          "$ref": "#/components/schemas/Account"
        balances:
          type: array
          items:
            "$ref": "#/components/schemas/IncomeBalance"
          nullable: true
        netIncome:
          "$ref": "#/components/schemas/Income"
      additionalProperties: false
    PrintIncomeReportResponse:
      type: object
      properties:
        fileName:
          type: string
          nullable: true
        contentType:
          type: string
          nullable: true
        incomeFile:
          type: string
          nullable: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Inclua o token de autorização do tipo Bearer
      scheme: bearer
      bearerFormat: JWT
x-explorer-enabled: true
x-samples-enabled: true
x-samples-languages:
- csharp
- javascript
- node
- go
- java
- kotlin
- php
- python
- ruby
- swift
- cplusplus
- powershell
- curl
