openapi: 3.0.3
info:
  title: Gestão de Clientes
  description: |
    Registre, atualize, consulte o cadasto de clientes pessoa física ou
    jurídica. Um cliente com cadastro pode se tornar titular de contas de
    pagamento e cartões de crédito (pré-pago).
  version: "1.0"
servers:
  - url: "https://api-mtls.sandbox.bankly.com.br"
paths:
  /customers/{documentNumber}:
    get:
      tags:
        - Pessoa física
      summary: |
        Consulta do registro do cliente
      description: |
        <div class="bkly-ref-description">
          <p>Obtenha um resultado resumido (BASIC) ou detalhado (DETAILED) dos dados de registro de um cliente.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: customer.read</span>
        </div>
      operationId: GetCustomerRegistration
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/CustomerDocument"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ResultLevel"
      responses:
        "200":
          description: Recurso encontrado.
          headers:
            x-bkly-correlation-id:
              $ref: "http://localhost:3320/commons/components#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerResponse"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "403":
          $ref: "http://localhost:3320/commons/components#/components/responses/403"
        "404":
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
    put:
      tags:
        - Pessoa física
      summary: Registro de pessoa física
      description: |
        <div class="bkly-ref-description">
          <p>O pedido de registro será analisado e você pode obter o resultado consultando o registro do cliente. Caso o cadastro não exista, ele será criado. Se já existir, os dados serão sobrepostos.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: customer.write</span>
        </div>      
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Os possíveis status do cliente após essa análise são: PENDING_APPROVAL, APPROVED, REPROVED, BLOCKLISTED. Para mais informações, consulte a documentação [Onboarding Completo](/docs/onboarding-completo)."
        }
        [/block]
      operationId: PutCustomerRegistration
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/CustomerDocument"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterCustomerRequest"
      responses:
        "202":
          $ref: "http://localhost:3320/commons/components#/components/responses/202"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "403":
          $ref: "http://localhost:3320/commons/components#/components/responses/403"
        "409":
          $ref: "http://localhost:3320/commons/components#/components/responses/409"
        "422":
          $ref: "http://localhost:3320/commons/components#/components/responses/422"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"

  /customers/{documentNumber}/cancel:
    patch:
      tags:
        - Pessoa física
      summary: |
        Offboarding de pessoa física
      description: |
        <div class="bkly-ref-description">
          <p>Solicite o o cancelamento de relacionamento do cliente pessoa física.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: customer.cancel</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "É preciso realizar a exclusão de <b> todas as chaves Pix </b> atreladas ao documento antes de solicitar o seu Offboarding."
        }
        [/block]
      operationId: CancelCustomerRegistration
      parameters:
        - $ref: http://localhost:3320/commons/components#/components/parameters/CustomerDocument
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelRequest"
      responses:
        "202":
          $ref: "http://localhost:3320/commons/components#/components/responses/202"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "403":
          $ref: "http://localhost:3320/commons/components#/components/responses/403"
        "409":
          $ref: "http://localhost:3320/commons/components#/components/responses/409"
        "422":
          $ref: "http://localhost:3320/commons/components#/components/responses/422"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"

  /business/{documentNumber}:
    get:
      tags:
        - Pessoa jurídica
      summary: |
        Consulta do registro da empresa
      description: |
        <div class="bkly-ref-description">
          <p>Obtenha um resultado resumido (BASIC) ou detalhado (DETAILED) dos dados de registro de uma empresa.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: business.read</span>
        </div>
      operationId: GetBusinessRegistration
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/BusinessDocument"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ResultLevel"
      responses:
        "200":
          description: Recurso encontrado.
          headers:
            x-bkly-correlation-id:
              $ref: "http://localhost:3320/commons/components#/components/headers/CorrelationId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessResponse"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "403":
          $ref: "http://localhost:3320/commons/components#/components/responses/403"
        "404":
          $ref: "http://localhost:3320/commons/components#/components/responses/404"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
    put:
      tags:
        - Pessoa jurídica
      summary: Registro de pessoa jurídica (MEI, ME, EI, EIRELI ou SLU)
      description: |
        <div class="bkly-ref-description">
          <p>O pedido de registro será analisado e você pode obter o resultado consultando o registro da empresa. Caso o cadastro não exista, ele será criado. Se já existir, os dados serão sobrepostos.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: business.write</span>
        </div>        
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Os possíveis status da empresa após essa análise são: _APPROVED, REPROVED, REVOKED, BLOCKED_."
        }
        [/block]
      operationId: PutBusinessRegistration
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/BusinessDocument"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterBusinessRequest"
      responses:
        "202":
          $ref: "http://localhost:3320/commons/components#/components/responses/202"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "403":
          $ref: "http://localhost:3320/commons/components#/components/responses/403"
        "409":
          $ref: "http://localhost:3320/commons/components#/components/responses/409"
        "422":
          $ref: "http://localhost:3320/commons/components#/components/responses/422"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"

  /business/{documentNumber}/cancel:
    patch:
      tags:
        - Pessoa jurídica
      summary: |
        Offboarding de pessoa jurídica
      description: |
        <div class="bkly-ref-description">
          <p>Solicite o o cancelamento de relacionamento do cliente pessoa jurídica.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> 
          <span class="bkly-ref-scope-tag">scope: business.cancel</span>
        </div>
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "É preciso realizar a exclusão de <b> todas as chaves Pix </b> atreladas ao documento antes de solicitar o seu Offboarding."
        }
        [/block]
      operationId: CancelBusinessRegistration
      parameters:
        - $ref: http://localhost:3320/commons/components#/components/parameters/BusinessDocument
        - $ref: http://localhost:3320/commons/components#/components/parameters/ApiVersion
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelRequest"
      responses:
        "202":
          $ref: "http://localhost:3320/commons/components#/components/responses/202"
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "403":
          $ref: "http://localhost:3320/commons/components#/components/responses/403"
        "409":
          $ref: "http://localhost:3320/commons/components#/components/responses/409"
        "422":
          $ref: "http://localhost:3320/commons/components#/components/responses/422"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"

  /corporation-business/{documentNumber}:
    put:
      tags:
        - Pessoa jurídica
      summary: Registro de pessoa jurídica (LTDA, S.A. ou TS)
      description: |
        <div class="bkly-ref-description">
          <p>
            Registre (ou substitua) uma nova empresa (LTDA, S.A. ou TS).
            O pedido de registro será analisado e você pode obter o resultado consultando o registro da empresa. Caso o cadastro não exista, ele será criado. Se já existir, os dados serão sobrepostos.
          </p>
          <span class="bkly-ref-small-beta-tag">beta</span> 
          <span class="bkly-ref-scope-tag">scope: business.corporation.write</span>
        </div>

      operationId: RegisterCorporationBusinessAsync
      parameters:
        - $ref: "http://localhost:3320/commons/components#/components/parameters/ApiVersion"
        - $ref: "http://localhost:3320/commons/components#/components/parameters/BusinessDocument"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterCorporationBusinessRequest"
      responses:
        "202":
          description: Requisição foi aceita e está sendo processada.
          headers:
            x-bkly-correlation-id:
              description: Id correlação da operação requisitada.
              schema:
                type: string
            Location:
              description: Localização do recurso recém-criado ou em análise.
              schema:
                type: string
        "400":
          $ref: "http://localhost:3320/commons/components#/components/responses/400"
        "409":
          $ref: "http://localhost:3320/commons/components#/components/responses/409"
        "500":
          $ref: "http://localhost:3320/commons/components#/components/responses/500"
      security:
        - Bearer: []

security:
  - Bearer: []

components:
  schemas:
    BusinessTypeMEIEISLURequest:
      description: Tipo da empresa (MEI, EI, EIRELI e SLU).
      type: string
      enum:
        - MEI
        - EI
        - EIRELI
        - SLU

    BusinessType:
      description: Tipo da empresa (MEI, EI, SLU, LTDA, S.A. ou TS).
      type: string
      enum:
        - MEI
        - EI
        - EIRELI
        - SLU
        - LTDA
        - SA
        - TS

    BusinessSize:
      description: Porte da empresa (MEI, ME, EPP).
      type: string
      enum:
        - MEI
        - ME
        - EPP

    LegalRepresentative:
      required:
        - documentNumber
        - registerName
        - birthDate
        - phone
        - address
        - email
        - motherName
        - isPoliticallyExposedPerson
      type: object
      properties:
        documentNumber:
          description: Número do documento CPF do cliente.
          type: string
        registerName:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do representante legal.
        birthDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Data de nascimento do cliente. O representante legal deve possuir no mínimo **16 anos**.
          format: date-time
        phone:
          description: Telefone de contato do representante legal da empresa.
          $ref: "http://localhost:3320/commons/components#/components/schemas/Phone"
        address:
          description: Endereço do representante legal da empresa.
          $ref: "http://localhost:3320/commons/components#/components/schemas/Address"
        motherName:
          type: string
          description: Nome da mãe do representante legal conforme consta no documento de identificação.
          nullable: true
        email:
          maxLength: 256
          minLength: 1
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá ser usado por dois clientes.
          format: email
        participationPercentage:
          type: string
          description: Percentual de participação (0 a 100). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. Para saber mais, consulte a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        tradingName:
          type: string
          description: Nome fantasia da empresa (apenas para sócio pessoa jurídica). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        businessName:
          type: string
          description: Razão social da empresa (apenas para sócio pessoa jurídica). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        businessType:
          $ref: "#/components/schemas/BusinessType"
          description: Somente retornado para clientes do tipo LTDA / S.A. / TS.
        isPoliticallyExposedPerson:
          type: boolean
          description: Pessoa exposta politicamente. Apenas para sócio pessoa física.
        legalRepresentatives:
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentative"
          description: Representantes legais da empresa (apenas para sócio pessoa jurídica). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        owners:
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentative"
          description: Sócios da empresa (apenas para sócio pessoa jurídica). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
      additionalProperties: false
    
    LegalRepresentativeBusinessResponse:
      type: object
      properties:
        documentNumber:
          description: Número do documento CPF do cliente.
          type: string
        document:
          type: object
          description: Objeto que contém informações sobre o documento do cliente.
          properties:
            value:
              type: string
              description: Número do documento.
            type:
              type: string
              description: Tipo do documento (CPF).
        registerName:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do representante legal.
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. Para saber mais, consulte a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        phone:
          $ref: "http://localhost:3320/commons/components#/components/schemas/Phone"
        address:
          $ref: "http://localhost:3320/commons/components#/components/schemas/Address"
        birthDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Data de nascimento do cliente. O representante legal deve possuir no mínimo **16 anos**.
          format: date-time
        motherName:
          type: string
          description: Nome da mãe do proprietário ou representante legal conforme consta no documento de identificação.
          nullable: true
        email:
          maxLength: 256
          minLength: 1
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá ser usado por dois clientes.
          format: email
        participationPercentage:
          type: string
          description: Percentual de participação (0 a 100). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        tradingName:
          type: string
          description: Nome fantasia da empresa (apenas para sócio pessoa jurídica). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        businessName:
          type: string
          description: Razão social da empresa (apenas para sócio pessoa jurídica). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        businessType:
          $ref: "#/components/schemas/BusinessType"
          description: Somente retornado para clientes do tipo LTDA / S.A. / TS.
        declaredIncome:
          $ref: "#/components/schemas/DeclaredIncome"
        occupation:
          $ref: "#/components/schemas/Occupation"
        pep:
          description: Objeto onde deve ser informado o nível de exposição política do cliente.
          $ref: "#/components/schemas/Pep"
        documentation:
          $ref: "#/components/schemas/SendedDocumentationResponse"
        legalRepresentatives:
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentative"
          description: Representantes legais da empresa (apenas para sócio pessoa jurídica). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
        owners:
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentative"
          description: Sócios da empresa (apenas para sócio pessoa jurídica). Campo retornado somente para clientes do tipo LTDA / S.A. / TS.
          nullable: true
      additionalProperties: false
    
    LegalRepresentativeRequest:
      required:
        - documentNumber
        - registerName
        - phone
        - address
        - birthDate
        - motherName
        - email
        - declaredIncome
        - occupation
        - pep
        - documentation
      type: object
      properties:
        documentNumber:
          maxLength: 11
          minLength: 11
          type: string
          description: |
            Número do documento CPF. Informe somente números.
        registerName:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do representante legal.
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. Para saber mais, consulte a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        phone:
          description: Telefone de contato do representante legal da empresa.
          $ref: "http://localhost:3320/commons/components#/components/schemas/Phone"
        address:
          description: Endereço do representante legal da empresa.
          $ref: "http://localhost:3320/commons/components#/components/schemas/Address"
        birthDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Data de nascimento do cliente. O representante legal deve possuir no mínimo **16 anos**.
          format: date-time
        motherName:
          type: string
          description: Nome da mãe do representante legal conforme consta no documento de identificação.
          nullable: true
        email:
          maxLength: 256
          minLength: 1
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá ser usado por dois clientes.
          format: email
        declaredIncome:
          $ref: "#/components/schemas/DeclaredIncome"
        occupation:
          $ref: "#/components/schemas/Occupation"
        pep:
          description: Objeto onde deve ser informado o nível de exposição política do cliente.
          $ref: "#/components/schemas/Pep"
        documentation:
          $ref: "#/components/schemas/SendedDocumentationRequest"

    Status:
      type: string
      description: Status do cliente.
      enum:
        - PENDING_APPROVAL
        - APPROVED
        - REPROVED
        - REVOKED
        - CANCELED
        - BLACKLISTED

    Profile:
      type: string
      description: Perfil do cliente.
      enum:
        - COMPLETE
        - SIMPLE

    Occupation:
      type: string
      description: Código de ocupação do cliente. <b>Importante</b> Caso o cliente possua mais de uma ocupação, esse campo deve ser preenchido com a sua principal fonte de renda.
      enum:
        - OCP0001	- Administrador Iniciativa Privada/Private Enterprise Administrator
        - OCP0002	- Administrador Público/Public Manager
        - OCP0003	- Advogado/Attorney
        - OCP0004	- Agricultor/Farmer
        - OCP0005	- Agrônomo/Agronomist
        - OCP0006	- Agropecuarista/Farmer
        - OCP0007	- Analista e Desenvolvedor de Sistemas/Systems Analyst And Developer
        - OCP0008	- Animador/Animator
        - OCP0009	- Arqueólogo/Archaeologist
        - OCP0010	- Arquiteto/Architect
        - OCP0011	- Arquivologista/Archival
        - OCP0012	- Artes e Design/ Arts And Design
        - OCP0013	- Artista Plástico/Plastic Artist
        - OCP0014	- Astrônomo/Astronomer
        - OCP0015	- Ator/Actor
        - OCP0016	- Biblioteconomista/Librarian
        - OCP0017	- Biomédico/Biomedic
        - OCP0018	- Bioquímico/Biochemical
        - OCP0019 - Biotecnólogo/Biotechnologist
        - OCP0020	- Chefe de Cozinha/Chef
        - OCP0021	- Ciências Sociais e Humanas/Social And Human Sciences
        - OCP0022	- Cientista da Computação/Computer Scientist
        - OCP0023	- Construtor Civil/House-Builder
        - OCP0024	- Construtor Naval/Shipbuilder
        - OCP0025	- Contabilista/Accountant
        - OCP0026	- Cooperativista/Cooperative
        - OCP0027	- Dançarino/Dancer
        - OCP0028	- Dentista/Dentist
        - OCP0029	- Designer/Designer
        - OCP0030	- Designer de Games/Game Designer
        - OCP0031	- Designer de Interiores/Interior Designer
        - OCP0032	- Designer de Moda/Fashion Designer
        - OCP0033	- Ecologista/Environmentalist
        - OCP0034	- Economista/Economist
        - OCP0035	- Educador Físico/Physical Educator
        - OCP0036	- Educomunicador/Educommunicator
        - OCP0037	- Enfermeiro/Nurse
        - OCP0038	- Engenheiro/Engineer
        - OCP0039	- Especialista em Comércio Exterior/Foreign Trade Specialist
        - OCP0040	- Estatístico/Statistical
        - OCP0041	- Esteticista/Beautician
        - OCP0042	- Farmacêutico/Pharmaceutical
        - OCP0043	- Filósofo/Philosopher
        - OCP0044	- Físico/Physicist
        - OCP0045	- Fisioterapeuta/Physiotherapist
        - OCP0046	- Fonoaudiólogo/Speech Therapist
        - OCP0047	- Fotógrafo/Photographer
        - OCP0048	- Geofísico/Geophysical
        - OCP0049	- Geógrafo/Geographer
        - OCP0050	- Geólogo/Geologist
        - OCP0051	- Gerente Comercial/Commercial Manager
        - OCP0052	- Gerontólogo/Gerontologist
        - OCP0053	- Gestor Ambiental/Environmental Manager
        - OCP0054	- Gestor da Qualidade/Quality Manager
        - OCP0055	- Gestor da Tecnologia Da Informação/Information Technology Manager
        - OCP0056	- Gestor de Recursos Humanos/Human Resources Manager
        - OCP0057	- Gestor de Turismo/Tourism Manager
        - OCP0058	- Gestor em Saúde/Health Manager
        - OCP0059	- Gestor Hospitalar/Hospital Manager
        - OCP0060	- Gestor Público/Public Manager
        - OCP0061	- Historiador/Historian
        - OCP0062	- Historiador da Arte/Art Historian
        - OCP0063	- Hoteleiro/Hotelier
        - OCP0064	- Jornalista/Journalist
        - OCP0065	- Linguista/Linguist
        - OCP0066	- Matemático/Mathematical
        - OCP0067	- Médico/Doctor
        - OCP0068	- Meteorologista/Weatherman
        - OCP0069	- Minerador/Miner
        - OCP0070	- Museologista/Museologist
        - OCP0071 - Músico/Musician
        - OCP0072	- Musicoterapeuta/Music Therapist
        - OCP0073	- Nanotecnólogo/Nanotechnologist
        - OCP0074	- Nutricionista/Nutritionist
        - OCP0075	- Oceanógrafo/Oceanographer
        - OCP0076	- Pedagogo/Pedagogue
        - OCP0077	- Piloto de Avião/Airplane Pilot
        - OCP0078	- Produtor Audiovisual/Audiovisual Producer
        - OCP0079	- Produtor Cênico/Scenic Producer
        - OCP0080	- ProdutorCultural/Cultural Producer
        - OCP0081	- Produtor Fonográfico/Record Producer
        - OCP0082	- Professor/Teacher
        - OCP0083	- Psicólogo/Psychologist
        - OCP0084	- Psicopedagogo/Psychopedagogue
        - OCP0085	- Publicitário/Publicist
        - OCP0086	- Químico/Chemical
        - OCP0087	- Radialista/Broadcaster
        - OCP0088	- Radiologista/Radiologist
        - OCP0089	- Relações Internacionais/International Relations
        - OCP0090	- Relações Públicas/Public Relations
        - OCP0091	- Saúde e Bem-estar/Health And Wellness
        - OCP0092	- Secretária/Secretary
        - OCP0093	- Silvicultor/Forester
        - OCP0094	- Sociólogo/Sociologist
        - OCP0095	- Teólogo/Theologian
        - OCP0096	- Terapeuta Ocupacional/Occupational Therapist
        - OCP0097	- Tradutor e Intérprete/ Translator And Interpreter
        - OCP0098	- Turismólogo/Tourismologist
        - OCP0099	- Veterinário/Vet
        - OCP0100	- Zootecnólogo/Zootechnologist
        - OCP0101 - Autônomo/Self-employed
        - OCP0102 - Aposentado/Retired
        - OCP0103 - Sem Ocupação/No Occupation
        - OCP0104 - Estudante/Student
        - OCP0105 - Outros/Others

    Pep:
      type: object
      properties:
        level:
          type: string
          description: Nível de vínculo com a pessoa politicamente exposta, atendendo a Circular nº 3.978.
          enum:
            - NONE
            - SELF
            - FAMILY
            - PARTNERSHIP
            - CLOSE_COLLABORATOR

    DocumentToken:
      type: string
      description: Token retornado no enpoint de Envio e análise de documentos pessoais.

    SendedDocumentationRequest:
      type: object
      required:
        - "selfie"
        - "idCardFront"
        - "idCardBack"
      description: Objeto onde devem ser informadas as referências dos documentos enviados para análise.
      properties:
        selfie:
          $ref: "#/components/schemas/DocumentToken"
        idCardFront:
          $ref: "#/components/schemas/DocumentToken"
        idCardBack:
          $ref: "#/components/schemas/DocumentToken"

    SendedDocumentationResponse:
      type: object
      description: Objeto onde devem ser informadas as referências dos documentos enviados para análise.
      properties:
        selfie:
          $ref: "#/components/schemas/DocumentToken"
        idCardFront:
          $ref: "#/components/schemas/DocumentToken"
        idCardBack:
          $ref: "#/components/schemas/DocumentToken"
    DeclaredIncome:
      type: string
      description: Faixa de renda declarada pelo cliente.
      enum:
        - LESS_THAN_ONE_THOUSAND
        - FROM_ONE_THOUSAND_TO_TWO_THOUSAND
        - FROM_TWO_THOUSAND_TO_THREE_THOUSAND
        - FROM_THREE_THOUSAND_TO_FIVE_THOUSAND
        - FROM_FIVE_THOUSAND_TO_TEN_THOUSAND
        - FROM_TEN_THOUSAND_TO_TWENTY_THOUSAND
        - OVER_TWENTY_THOUSAND

    RegisterCustomerRequest:
      required:
        - registerName
        - birthDate
        - phone
        - address
        - pep
        - email
        - motherName
        - declaredIncome
        - occupation
        - documentation
      type: object
      properties:
        registerName:
          maxLength: 256
          minLength: 1
          type: string
          description: >
            Nome completo conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do cliente. <b>Sem abreviações</b>.
        socialName:
          type: string
          description: >
            Nome pelo qual a pessoa gostaria de ser chamada. Saiba mais consultando a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        birthDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Data de nascimento do cliente.
          format: date-time
        phone:
          description: Objeto onde devem ser informados os dados do telefone do cliente.
          $ref: "#/components/schemas/Phone"
        address:
          description: Objeto onde devem ser informados os dados do endereço do cliente.
          $ref: "http://localhost:3320/commons/components#/components/schemas/Address"
        declaredIncome:
          $ref: "#/components/schemas/DeclaredIncome"
        occupation:
          $ref: "#/components/schemas/Occupation"
        pep:
          description: Objeto onde deve ser informado o nível de exposição política do cliente.
          $ref: "#/components/schemas/Pep"
        motherName:
          type: string
          description: Nome completo da mãe do cliente conforme consta no documento de identificação. <b>Sem abreviações</b>.
          nullable: true
        email:
          maxLength: 256
          minLength: 1
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá ser usado por dois clientes.
          format: email
        documentation:
          $ref: "#/components/schemas/SendedDocumentationRequest"
      additionalProperties: false

    RegisterBusinessRequest:
      required:
        - businessName
        - tradingName
        - businessAddress
        - businessEmail
        - businessSize
        - businessType
        - legalRepresentative
      type: object
      properties:
        businessName:
          maxLength: 256
          minLength: 1
          type: string
          description: Razão social da empresa. <b>Importante:</b> não é possível enviar caracteres especiais neste campo.
        tradingName:
          type: string
          description: Nome fantasia da empresa. <b>Importante:</b> não é possível enviar caracteres especiais neste campo.
          nullable: true
        businessEmail:
          type: string
          description: E-mail comercial da empresa.
          format: email
          nullable: false
        businessType:
          $ref: "#/components/schemas/BusinessTypeMEIEISLURequest"
        businessSize:
          $ref: "#/components/schemas/BusinessSize"
        businessAddress:
          description: Endereço da empresa registrado no cartão CNPJ.
          $ref: "http://localhost:3320/commons/components#/components/schemas/Address"
        annualBilling:
          $ref: "#/components/schemas/DeclaredAnnualBiling"
        legalRepresentative:
          description: Representante legal da empresa, que deve ser maior de 18 anos.
          $ref: "#/components/schemas/LegalRepresentativeRequest"
      additionalProperties: false

    DeclaredAnnualBiling:
      type: string
      description: Faixa de faturamento anual da empresa.
      enum:
        - UP_TO_FIFTY_THOUSAND
        - MORE_THAN_FIFTY_THOUSAND_UP_UP_TO_ONE_HUNDRED_THOUSAND
        - MORE_THAN_ONE_HUNDRED_THOUSAND_UP_UP_TO_TWO_HUNDRED_AND_FIFTY_THOUSAND
        - MORE_THAN_TWO_HUNDRED_AND_FIFTY_THOUSAND_UP_TO_FIVE_HUNDRED_THOUSAND
        - MORE_THAN_FIVE_HUNDRED_THOUSAND_UP_TO_ONE_MILLION
        - MORE_THAN_ONE_MILLION_UP_TO_TWO_MILLION_AND_FIVE_HUNDRED_THOUSAND
        - MORE_THAN_TWO_MILLION_AND_FIVE_HUNDRED_THOUSAND_UP_TO_FIVE_MILLION
        - MORE_THAN_FIVE_MILLION_UP_TO_TEN_MILLION
        - MORE_THAN_TEN_MILLION_UP_TO_TWENTY_FIVE_MILLION
        - MORE_THAN_TWENTY_FIVE_MILLION_UP_TO_FIFTY_MILLION
        - MORE_THAN_FIFTY_MILLION_UP_TO_ONE_HUNDRED_MILLION
        - MORE_THAN_ONE_HUNDRED_MILLION_UP_TO_TWO_HUNDRED_AND_FIFTY_MILLION
        - MORE_THAN_TWO_HUNDRED_AND_FIFTY_MILLION_UP_TO_FIVE_HUNDRED_MILLION
        - MORE_THAN_FIVE_HUNDRED_MILLION
        - NO_DATA
        - EXEMPT_COMPANY
        - INACTIVE_COMPANY

    CorporationBusinessType:
      enum:
        - LTDA
        - SA
        - TS
      type: string

    CorporationBusinessSize:
      enum:
        - SMALL
        - MEDIUM
        - LARGE
      type: string

    Owner:
      type: object
      required:
        - participationPercentage
        - documentNumber
        - address
        - phone
        - email
      properties:
        participationPercentage:
          type: string
          description: Percentual de participação (0 a 100).
          nullable: true
        documentNumber:
          type: string
          description: Número de documento (CPF ou CNPJ). Informe somente números.
          nullable: true
        registerName:
          type: string
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM). Apenas para sócio pessoa física.
          nullable: true
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada, saiba mais consultando a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf). Apenas para sócio pessoa física.
          nullable: true
        phone:
          $ref: "#/components/schemas/Phone"
        address:
          $ref: "#/components/schemas/Address"
        birthDate:
          type: string
          description: Data de nascimento do sócio. Apenas para sócio pessoa física.
          format: date-time
        motherName:
          type: string
          description: Nome da mãe do cliente conforme consta no documento de identificação. Apenas para sócio pessoa física.
          nullable: true
        email:
          type: string
          description: Endereço de e-mail do sócio.
          nullable: true
        tradingName:
          type: string
          description: Nome fantasia da empresa. Apenas para sócio pessoa jurídica.
          nullable: true
        businessName:
          type: string
          description: Razão social da empresa. Apenas para sócio pessoa jurídica.
          nullable: true
        businessType:
          $ref: "#/components/schemas/BusinessType"
        isPoliticallyExposedPerson:
          type: boolean
          description: Pessoa exposta politicamente. Apenas para sócio pessoa física.
        legalRepresentatives:
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentative"
          description: Representantes legais da empresa. Apenas para sócio pessoa jurídica.
          nullable: true
        owners:
          type: array
          items:
            $ref: "#/components/schemas/Owner"
          description: Sócios da empresa. Apenas para sócio pessoa jurídica.
          nullable: true
      additionalProperties: false

    Documentation:
      type: object
      required:
        - articlesOfIncorporation
        - lastContractChange
        - balanceSheet
        - legalRepresentative
      properties:
        articlesOfIncorporation:
          description: Id correspondente do documento do contrato social ou estatuto social da empresa.
          type: string
          nullable: true
        lastContractChange:
          description: Id correspondente do documento da última alteração contratual ou última ata de eleição.
          type: string
          nullable: true
        balanceSheet:
          description: Id correspondente do documento de declaração de faturamento dos últimos 12 meses ou balanço social.
          type: string
          nullable: true
        powerOfAttorney:
          description: Id correspondente do documento de procuração pública legal.
          type: string
          nullable: true
        legalRepresentative:
          $ref: "#/components/schemas/Image"
      additionalProperties: false

    Image:
      type: object
      description: Documentos de ao menos um dos representantes legais, é possível usar o RG, CNH, RNE, DNI e CRNM.
      required:
        - documentNumber
        - selfie
        - idCardFront
        - idCardBack
      properties:
        documentNumber:
          description: Número do documento.
          type: string
          nullable: true
        selfie:
          description: Foto do representante legal.
          type: string
          nullable: true
        idCardFront:
          description: Imagem da frente do documento.
          type: string
          nullable: true
        idCardBack:
          description: Imagem do verso do documento.
          type: string
          nullable: true
      additionalProperties: false

    RegisterCorporationBusinessRequest:
      required:
        - businessAddress
        - businessName
        - businessSize
        - businessType
        - cnaeCode
        - legalNature
        - openingDate
        - annualBilling
        - phone
        - legalRepresentative
      type: object
      properties:
        businessType:
          $ref: "#/components/schemas/CorporationBusinessType"
        businessSize:
          $ref: "#/components/schemas/CorporationBusinessSize"
        cnaeCode:
          type: string
          description: Código Cnae.
          nullable: true
        legalNature:
          type: string
          description: Natureza Jurídica da empresa.
          nullable: true
        openingDate:
          type: string
          description: Data de abertura da empresa.
          format: date-time
        annualBilling:
          type: number
          description: Faturamento anual da empresa.
          format: double
        phone:
          $ref: "#/components/schemas/Phone"
        legalRepresentatives:
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentativePerson"
          description: Representantes legais da empresa.
          nullable: true
        owners:
          type: array
          items:
            $ref: "#/components/schemas/Owner"
          description: Sócios da empresa. Campo obrigatório <b>somente</b> para empresas no formato LTDA (pessoa física);
          nullable: true
        businessName:
          maxLength: 256
          minLength: 1
          type: string
          description: Razão social da empresa.
        tradingName:
          type: string
          description: Nome fantasia da empresa.
          nullable: true
        businessEmail:
          type: string
          description: E-mail comercial da empresa.
          format: email
          nullable: true
        businessAddress:
          $ref: "#/components/schemas/Address"
        documentation:
          $ref: "#/components/schemas/Documentation"
      additionalProperties: false

    PowerOfAttorney:
      type: object
      properties:
        startDate:
          type: string
          description: Data de início da procuração.
          format: date-time
        endDate:
          type: string
          description: Data do fim da procuração.
          format: date-time
      additionalProperties: false

    Address:
      required:
        - addressLine
        - buildingNumber
        - city
        - country
        - neighborhood
        - state
        - zipCode
      type: object
      properties:
        zipCode:
          minLength: 1
          type: string
          description: O CEP correspondente ao endereço.
        addressLine:
          maxLength: 256
          minLength: 1
          type: string
          description: Logradouro (Nome da rua, avenida etc.).
        buildingNumber:
          maxLength: 10
          minLength: 1
          type: string
          description: Número da residência.
        complement:
          maxLength: 256
          type: string
          description: "Complemento do endereço. Exemplo: Apto 123, Casa B etc."
          nullable: true
        neighborhood:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome do bairro ou distrito.
        city:
          maxLength: 256
          minLength: 1
          type: string
          description: Nome da cidade.
        state:
          minLength: 1
          type: string
          description: Sigla do estado brasileiro conforme a ISO 3166-2:BR.
        country:
          minLength: 1
          type: string
          description: "Sigla do país (Brasil) conforme a ISO 3166-2. Exemplo: BR."
      additionalProperties: false

    LegalRepresentativePerson:
      type: object
      required:
        - birthDate
        - motherName
        - email
        - isPoliticallyExposedPerson
        - registerName
        - address
        - documentNumber
      properties:
        powerOfAttorney:
          $ref: "#/components/schemas/PowerOfAttorney"
        memberQualification:
          type: string
          description: Qualificação de integrante.
          nullable: true
        socialName:
          type: string
          description: Nome pelo qual a pessoa gostaria de ser chamada. Saiba mais consultando a [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        birthDate:
          type: string
          description: Data de nascimento do representante legal. O cliente deve possuir no mínimo 16 anos.
          format: date-time
        motherName:
          type: string
          description: Nome da mãe do representante legal conforme consta no documento de identificação.
          nullable: true
        email:
          type: string
          description: Endereço de e-mail. Um mesmo endereço de e-mail não poderá ser usado por dois representante legal.
          nullable: true
        isPoliticallyExposedPerson:
          type: boolean
          description: Pessoa exposta politicamente.
        registerName:
          type: string
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do representante legal.
          nullable: true
        phone:
          $ref: "#/components/schemas/Phone"
        address:
          $ref: "#/components/schemas/Address"
        documentNumber:
          type: string
          description: Número do documento CPF. Informe somente os números.
          nullable: true
          readOnly: true
      additionalProperties: false

    CustomerResponse:
      type: object
      properties:
        documentNumber:
          description: Número do documento CPF do cliente.
          type: string
        document:
          type: object
          description: Objeto que contém informações sobre o documento do cliente.
          properties:
            value:
              type: string
              description: Número do documento.
            type:
              type: string
              description: Tipo do documento, o qual pode ser "CPF" ou "CNPJ".
        phone:
          description: Objeto que contém informações sobre o telefone do cliente.
          $ref: "http://localhost:3320/commons/components#/components/schemas/Phone"
        address:
          description: Objeto que contém informações sobre o endereço informado no registro do cliente.
          $ref: "http://localhost:3320/commons/components#/components/schemas/Address"
        email:
          description: E-mail de contato do cliente.
          type: string
          nullable: true
        motherName:
          description: Nome da mãe informado no registro do cliente.
          type: string
          nullable: true
        birthDate:
          description: Data de nascimento do cliente.
          type: string
          format: date-time
        registerName:
          description: Nome conforme consta no documento de identificação (RG, CNH, RNE, DNI ou CRNM) do cliente.
          type: string
        socialName:
          description: Nome pelo qual a pessoa gostaria de ser chamada. Saiba mais na documentação [Cartilha do nome social](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf).
          type: string
          nullable: true
        status:
          description: Status da análise KYC realizada no registro do cliente.
          $ref: "#/components/schemas/Status"
        profile:
          description: Perfil do cliente, baseado no registro do cliente, o qual pode ser "SIMPLE" ou "COMPLETE".
          $ref: "#/components/schemas/Profile"
        createdAt:
          description: Data do primeiro registro do cliente.
          type: string
          format: date-time
        updatedAt:
          description: Data da atualização do registro do cliente.
          type: string
          format: date-time
          nullable: true
        declaredIncome:
          $ref: "#/components/schemas/DeclaredIncome"
        occupation:
          $ref: "#/components/schemas/Occupation"
        pep:
          description: Objeto que contém o nível de exposição política do cliente.
          $ref: "#/components/schemas/Pep"
        documentation:
          $ref: "#/components/schemas/SendedDocumentationResponse"
      additionalProperties: false

    BusinessResponse:
      type: object
      properties:
        documentNumber:
          description: Número do documento CNPJ da empresa.
          type: string
        document:
          type: object
          description: Objeto que contém informações sobre o documento do cliente.
          properties:
            value:
              type: string
              description: Número do documento.
            type:
              type: string
              description: Tipo do documento, o qual pode ser "CPF" ou "CNPJ".
        businessName:
          description: Razão social da empresa.
          type: string
        tradingName:
          description: Nome fantasia da empresa.
          type: string
        businessEmail:
          type: string
          description: E-mail comercial da empresa.
          format: email
          nullable: false
        businessType:
          description: Tipo da empresa (MEI, EI, SLU, LTDA, S.A.).
          $ref: "#/components/schemas/BusinessType"
        businessSize:
          description: |
            Porte da empresa (MEI, ME, EPP, SMALL, MEDIUM, LARGE).
          $ref: "#/components/schemas/BusinessSize"
        businessAddress:
          description: Endereço da empresa informado no registro.
          $ref: "http://localhost:3320/commons/components#/components/schemas/Address"
        status:
          description: Status da análise KYC realizada no registro da empresa.
          $ref: "#/components/schemas/Status"
        annualBilling:
          type: number
          format: double
          description: Somente retornado para clientes do tipo LTDA / S.A. / TS.
        owners:
          description: Lista de sócios da empresa como consta no Quadro dos Sócios e Administradores (QSA). Somente retornado para clientes do tipo LTDA / S.A. / TS.
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentativeBusinessResponse"
        legalRepresentatives:
          description: Lista de representantes legais da empresa.
          type: array
          items:
            $ref: "#/components/schemas/LegalRepresentativeBusinessResponse"
        createdAt:
          description: Data do primeiro registro da empresa.
          type: string
          format: date-time
        updatedAt:
          description: Data da atualização do registro da empresa.
          type: string
          format: date-time
          nullable: true
        cnaeCode:
          type: string
          nullable: true
          description: Somente retornado para clientes do tipo LTDA / S.A. / TS.
        legalNature:
          type: string
          nullable: true
          description: Somente retornado para clientes do tipo LTDA / S.A. / TS.
        openingDate:
          type: string
          format: date-time
          description: Somente retornado para clientes do tipo LTDA / S.A. / TS.
        phone:
          $ref: "#/components/schemas/Phone"
          description: Somente retornado para clientes do tipo LTDA / S.A. / TS.
        reasons:
          description: Para casos de reprovação, esse campo retorna com os motivos de reprovação do registro da empresa.
          type: array
          nullable: true
          items:
            type: string
      additionalProperties: false

    ReasonType:
      type: string
      description: |
        Motivo do cancelamento. 
        _Default: **HOLDER_REQUEST**_.
      default: HOLDER_REQUEST
      enum:
        - HOLDER_REQUEST
        - COMMERCIAL_DISAGREEMENT
    Phone:
      required:
        - countryCode
        - number
      type: object
      properties:
        countryCode:
          minLength: 1
          type: string
          description:
            Código DDI do país. Por enquanto é permitido apenas 55 ou +55
            (Brasil).
        number:
          minLength: 1
          type: string
          description: Número de telefone incluindo DDD.
      additionalProperties: false
    CancelRequest:
      type: object
      properties:
        reason:
          $ref: "#/components/schemas/ReasonType"
      additionalProperties: false

  securitySchemes:
    Bearer:
      type: http
      description: Inclua o token de autorização do tipo Bearer
      scheme: bearer
      bearerFormat: JWT

x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
