openapi: 3.0.3
info:
  title: Gestão de Clientes
  description: |
    Registre, atualize, consulte o cadasto de clientes pessoa física ou
    jurídica. Um cliente com cadastro pode se tornar titular de contas de
    pagamento e cartões de crédito (pré-pago).
  version: '1.0'
servers:
  - url: 'https://api.sandbox.bankly.com.br'
paths:
  '/customers/{documentNumber}':
    get:
      tags:
        - Pessoa física
      summary: |
        Consulta do registro do cliente
      description: |
        <div class="bkly-ref-description">
          <p>Você pode obter um resultado resumido (BASIC) ou detalhado (DETAILED).</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: customer.read</span>
        </div>
      operationId: GetCustomerRegistration
      parameters:
        - $ref: >-
            http://localhost:3320/commons/components#/components/parameters/CustomerDocument
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ResultLevel'
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              $ref: 'http://localhost:3320/commons/components#/components/headers/CorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
              examples:
                CustomerApproved:
                  value:
                    registerName: Peter Benjamin Parker
                    socialName: Peter Parker
                    birthDate: '1990-10-14'
                    phone:
                      countryCode: '55'
                      number: '11987654321'
                    address:
                      zipcode: '05402100'
                      addressLine: Av. Rebouças
                      buildingNumber: '1368'
                      neighborhood: Pinheiros
                      country: BR
                      state: SP
                      city: Sao Paulo
                      complement: Sala roxa
                    isPoliticallyExposedPerson: false
                    motherName: Mary Parker
                    email: peter.parker@avengers.com
                    status: APPROVED
                    createdAt: '2021-08-31T21:20:58.754Z'
                    updatedAt: '2021-08-31T21:21:58.754Z'
                  summary: Registro da cliente aprovado
                CustomerReproved:
                  value:
                    registerName: Peter Parker
                    socialName: Peter Parker
                    birthDate: '1990-10-14'
                    phone:
                      countryCode: '55'
                      number: '11987654321'
                    address:
                      zipcode: '05402100'
                      addressLine: Av. Rebouças
                      buildingNumber: '1368'
                      neighborhood: Pinheiros
                      country: BR
                      state: SP
                      city: Sao Paulo
                      complement: Sala roxa
                    isPoliticallyExposedPerson: false
                    motherName: Mary Parker
                    email: peter.parker@avengers.com
                    status: REPROVED
                    reasons:
                      - SELFIE_RECUSED
                      - NAME_RECUSED
                    createdAt: '2021-08-31T21:20:58.754Z'
                    updatedAt: '2021-08-31T21:21:58.754Z'
                  summary: Registro do cliente reprovado
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
    put:
      tags:
        - Pessoa física
      summary: |
        Registro dos dados de cliente pessoa física
      description: |
        <div class="bkly-ref-description">
          <p>O pedido de registro será analisado e resultado você pode obter consultando o registro do cliente. Caso o cliente não exista ele será criado, caso contrario seus dados serão sobrepostos.</p>
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: customer.write</span>
        </div>      
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Os possíveis status do cliente após essa análise são: _APPROVED, REPROVED, REVOKED, BLOCKED_."
        }
        [/block]
      operationId: PutCustomerRegistration
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/CustomerDocument'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCustomerRequest'
      responses:
        '202':
          $ref: 'http://localhost:3320/commons/components#/components/responses/202'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  '/customers/{documentNumber}/cancel':
    patch:
      tags:
        - Pessoa física
      summary: |
        Cancelamento de registro pessoa física
      description: |
        <div class="bkly-ref-description">
          <p>Solicite o o cancelamento de relacionamento do cliente pessoa física.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: customer.cancel</span>
        </div>
      operationId: CancelCustomerRegistration
      parameters:
        - $ref: >-
            http://localhost:3320/commons/components#/components/parameters/CustomerDocument
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRequest'
      responses:
        '202':
          $ref: 'http://localhost:3320/commons/components#/components/responses/202'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  '/business/{documentNumber}':
    get:
      tags:
        - Pessoa jurídica
      summary: |
        Cosulta do registro da empresa
      description: |
        <div class="bkly-ref-description">
          <p>Você pode obter um resultado resumido (BASIC) ou detalhado (DETAILED).</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: business.read</span>
        </div>      
      operationId: GetBusinessRegistration
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/BusinessDocument'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ResultLevel'
      responses:
        '200':
          description: Recurso encontrado
          headers:
            x-bkly-correlation-id:
              $ref: 'http://localhost:3320/commons/components#/components/headers/CorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessResponse'
              examples:
                BusinessApproved:
                  value:
                    businessName: Peter Benjamin Parker
                    tradingName: Spider Man
                    businessEmail: spiderman@avengers.com
                    businessType: MEI
                    businessSize: MEI
                    businessAddress:
                      zipCode: '05402100'
                      addressLine: Av. Rebouças
                      buildingNumber: '1368'
                      neighborhood: Pinheiros
                      city: Sao Paulo
                      state: SP
                      country: BR
                      complement: Sala roxa
                    legalRepresentative:
                      registerName: Peter Benjamin Parker
                      socialName: Peter Parker
                      phone:
                        countryCode: '55'
                        number: '11987654321'
                      address:
                        zipCode: '05402100'
                        addressLine: Av. Rebouças
                        buildingNumber: '1368'
                        neighborhood: Pinheiros
                        city: Sao Paulo
                        state: SP
                        country: BR
                        complement: Sala roxa
                      birthDate: '1990-10-14'
                      motherName: Mary Parker
                      email: peter.parker@avengers.com
                    status: APPROVED
                    createdAt: '2021-08-31T21:20:58.754Z'
                    updatedAt: '2021-08-31T21:21:58.754Z'
                  summary: Registro da empresa aprovado
                BusinessRepproved:
                  value:
                    businessName: Peter Benjamin Parker
                    tradingName: Spider Man
                    businessEmail: spiderman@avengers.com
                    businessType: MEI
                    businessSize: MEI
                    businessAddress:
                      zipCode: '05402100'
                      addressLine: Av. Rebouças
                      buildingNumber: '1368'
                      neighborhood: Pinheiros
                      city: Sao Paulo
                      state: SP
                      country: BR
                      complement: Sala roxa
                    legalRepresentative:
                      registerName: Peter Benjamin Parker
                      socialName: Peter Parker
                      phone:
                        countryCode: '55'
                        number: '11987654321'
                      address:
                        zipCode: '05402100'
                        addressLine: Av. Rebouças
                        buildingNumber: '1368'
                        neighborhood: Pinheiros
                        city: Sao Paulo
                        state: SP
                        country: BR
                        complement: Sala roxa
                      birthDate: '1990-10-14'
                      motherName: Mary Parker
                      email: peter.parker@avengers.com
                    status: REPROVED
                    reasons:
                      - SELFIE_RECUSED
                      - STATUS_RECUSED
                    createdAt: '2021-08-31T21:20:58.754Z'
                    updatedAt: '2021-08-31T21:21:58.754Z'
                  summary: Registro da empresa reprovado
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '404':
          $ref: 'http://localhost:3320/commons/components#/components/responses/404'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
    put:
      tags:
        - Pessoa jurídica
      summary: Registro dos dados de cliente pessoa jurídica
      description: |
        <div class="bkly-ref-description">
          <p>O pedido de registro será analisado e resultado você pode obter consultando o registro da empresa. Caso o cliente não exista ele será criado, caso contrario seus dados serão sobrepostos.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: business.write</span>
        </div>        
        [block:callout]
        {
          "type": "warning",
          "title": "Importante",
          "body": "Os possíveis status da empresa após essa análise são: _APPROVED, REPROVED, REVOKED, BLOCKED_."
        }
        [/block]
      operationId: PutBusinessRegistration
      parameters:
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/BusinessDocument'
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterBusinessRequest'
      responses:
        '202':
          $ref: 'http://localhost:3320/commons/components#/components/responses/202'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
  '/business/{documentNumber}/cancel':
    patch:
      tags:
        - Pessoa jurídica
      summary: |
        Cancelamento de registro pessoa jurídica
      description: |
        <div class="bkly-ref-description">
          <p>Solicite o o cancelamento de relacionamento do cliente pessoa jurídica.</p> 
          <span class="bkly-ref-small-stable-tag">stable</span> <span class="bkly-ref-scope-tag">scope: business.cancel</span>
        </div>
      operationId: CancelBusinessRegistration
      parameters:
        - $ref: >-
            http://localhost:3320/commons/components#/components/parameters/BusinessDocument
        - $ref: 'http://localhost:3320/commons/components#/components/parameters/ApiVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRequest'
      responses:
        '202':
          $ref: 'http://localhost:3320/commons/components#/components/responses/202'
        '400':
          $ref: 'http://localhost:3320/commons/components#/components/responses/400'
        '403':
          $ref: 'http://localhost:3320/commons/components#/components/responses/403'
        '409':
          $ref: 'http://localhost:3320/commons/components#/components/responses/409'
        '422':
          $ref: 'http://localhost:3320/commons/components#/components/responses/422'
        '500':
          $ref: 'http://localhost:3320/commons/components#/components/responses/500'
security:
  - Bearer: []
components:
  schemas:
    BusinessType:
      description: |
        Tipo da empresa.
        (MEI, EI, EIRELLI)
      type: string
      enum:
        - MEI
        - EI
        - EIRELI
    BusinessSize:
      description: |
        Porte da empresa.
        (MEI, ME, EPP)
      type: string
      enum:
        - MEI
        - ME
        - EPP
    LegalRepresentative:
      required:
        - documentNumber
        - registerName
        - birthDate
        - phone
        - address
        - email
        - motherName
        - isPoliticallyExposedPerson
      type: object
      properties:
        registerName:
          maxLength: 256
          minLength: 1
          type: string
          description: >
            Nome conforme consta no documento de identificação _(RG, CNH)_ do
            cliente.
        socialName:
          type: string
          description: >
            Nome pelo qual a pessoa gostaria de ser chamada. [Saiba
            mais](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        phone:
          description: Telefone de contato do representante legal da empresa.
          $ref: 'http://localhost:3320/commons/components#/components/schemas/Phone'
        address:
          description: Endereço do representante legal da empresa.
          $ref: 'http://localhost:3320/commons/components#/components/schemas/Address'
        birthDate:
          maxLength: 10
          minLength: 10
          type: string
          description: |
            Data de nascimento do cliente. 
            _O cliente deve possuir no mínimo **16 anos**._
          format: date-time
        motherName:
          type: string
          description: >
            Nome da mãe do cliente conforme consta no documento de
            identificação.
          nullable: true
        email:
          maxLength: 256
          minLength: 1
          type: string
          description: >
            Endereço de e-mail. 

            **_Um mesmo endereço de e-mail não poderá ser usado por dois
            clientes._**
          format: email
        documentNumber:
          maxLength: 11
          minLength: 11
          type: string
          description: |
            Número do documento CPF. 
            **_Informe somente os números._**
          readOnly: true
        isPoliticallyExposedPerson:
          description: Identificação do cliente como pessoa politicamente exposta.
          type: boolean
          default: false
      additionalProperties: false
    Status:
      type: string
      description: Status do cliente.
      enum:
        - PENDING_APPROVAL
        - APPROVED
        - REPROVED
        - REVOKED
        - CANCELED
        - BLACKLISTED
    Profile:
      type: string
      description: Perfil do cliente.
      enum:
        - COMPLETE
        - SIMPLE
    RegisterCustomerRequest:
      required:
        - registerName
        - birthDate
        - phone
        - address
        - email
        - motherName
      type: object
      properties:
        registerName:
          maxLength: 256
          minLength: 1
          type: string
          description: >
            Nome conforme consta no documento de identificação _(RG, CNH)_ do
            cliente.
        socialName:
          type: string
          description: >
            Nome pelo qual a pessoa gostaria de ser chamada. [Saiba
            mais](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          nullable: true
        phone:
          description: Telefone de contato do cliente.
          $ref: 'http://localhost:3320/commons/components#/components/schemas/Phone'
        address:
          description: Endereço do cliente.
          $ref: 'http://localhost:3320/commons/components#/components/schemas/Address'
        birthDate:
          maxLength: 10
          minLength: 10
          type: string
          description: |
            Data de nascimento do cliente. 
            _O cliente deve possuir no mínimo **16 anos**._
          format: date-time
        motherName:
          type: string
          description: >
            Nome da mãe do cliente conforme consta no documento de
            identificação.
          nullable: true
        email:
          maxLength: 256
          minLength: 1
          type: string
          description: >
            Endereço de e-mail. 

            **_Um mesmo endereço de e-mail não poderá ser usado por dois
            clientes._**
          format: email
        isPoliticallyExposedPerson:
          description: Identificação do cliente como pessoa politicamente exposta.
          type: boolean
          default: false
      additionalProperties: false
    RegisterBusinessRequest:
      required:
        - businessName
        - tradingName
        - businessAddress
        - businessEmail
        - businessSize
        - businessType
        - legalRepresentative
      type: object
      properties:
        businessName:
          maxLength: 256
          minLength: 1
          type: string
          description: Razão social da empresa.
        tradingName:
          type: string
          description: Nome fantasia da empresa.
          nullable: true
        businessEmail:
          type: string
          description: E-mail comercial da empresa.
          format: email
          nullable: false
        businessType:
          $ref: '#/components/schemas/BusinessType'
        businessSize:
          $ref: '#/components/schemas/BusinessSize'
        businessAddress:
          description: Endereço da empresa registrado no cartão CNPJ.
          $ref: 'http://localhost:3320/commons/components#/components/schemas/Address'
        legalRepresentative:
          description: Representante legal da empresa.
          $ref: '#/components/schemas/LegalRepresentative'
      additionalProperties: false
    CustomerResponse:
      type: object
      properties:
        documentNumber:
          description: Número do documento CPF do cliente.
          type: string
        registerName:
          description: >-
            Nome conforme consta no documento de identificação _(RG, CNH)_ do
            cliente.
          type: string
        socialName:
          description: >
            Nome pelo qual a pessoa gostaria de ser chamada. [Saiba
            mais](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          type: string
          nullable: true
        phone:
          description: Telefone de contato do cliente.
          $ref: 'http://localhost:3320/commons/components#/components/schemas/Phone'
        address:
          description: Endereço informado no registro do cliente.
          $ref: 'http://localhost:3320/commons/components#/components/schemas/Address'
        birthDate:
          description: Data de nascimento do cliente.
          type: string
          format: date-time
        email:
          description: E-mail de contato do cliente.
          type: string
          nullable: true
        motherName:
          description: Nome da mãe informado no registro do cliente.
          type: string
          nullable: true
        isPoliticallyExposedPerson:
          description: Identificação do cliente como pessoa politicamente exposta.
          type: boolean
        status:
          description: Status da análise KYC realizada no registro do cliente.
          $ref: '#/components/schemas/Status'
        profile:
          description: |
            Perfil do cliente, baseado no registro do cliente.
            _(SIMPLES, COMPLETO)_
          $ref: '#/components/schemas/Profile'
        createdAt:
          description: Data do primeiro registro do cliente.
          type: string
          format: date-time
        updatedAt:
          description: Data da atualização do registro do cliente.
          type: string
          format: date-time
          nullable: true
        reasons:
          description: Motivos de reprovação do registro do cliente.
          type: array
          nullable: true
          items:
            type: string
      additionalProperties: false
    BusinessResponse:
      type: object
      properties:
        documentNumber:
          description: Número do documento CNPJ da empresa.
          type: string
        businessName:
          description: Razão social da empresa.
          type: string
        tradingName:
          description: Nome fantasia da empresa.
          type: string
        email:
          description: E-mail comercial da empresa.
          type: string
        businessAddress:
          description: Endereço da empresa informado no registro.
          $ref: 'http://localhost:3320/commons/components#/components/schemas/Address'
        status:
          description: Status da análise KYC realizada no registro da empresa.
          $ref: '#/components/schemas/Status'
        businessType:
          description: |
            Tipo da empresa.
            _(MEI, EI, EIRELLI, LTDA, SA)_
          $ref: '#/components/schemas/BusinessType'
        businessSize:
          description: |
            Porte da empresa.
            _(MEI, ME, EPP, SMALL, MEDIUM, LARGE)_
          $ref: '#/components/schemas/BusinessSize'
        owners:
          description: >-
            Lista de sócios da empresa como consta no Quadro dos Sócios e
            Administradores (QSA).
          type: array
          items:
            $ref: '#/components/schemas/LegalRepresentative'
        legalRepresentatives:
          description: Lista de representantes legais da empresa.
          type: array
          items:
            $ref: '#/components/schemas/LegalRepresentative'
        createdAt:
          description: Data do primeiro registro da empresa.
          type: string
          format: date-time
        updatedAt:
          description: Data da atualização do registro da empresa.
          type: string
          format: date-time
          nullable: true
        reasons:
          description: Motivos de reprovação do registro da empresa.
          type: array
          nullable: true
          items:
            type: string
      additionalProperties: false
    ReasonType:
      type: string
      description: |
        Motivo do cancelamento. 
        _Default: **HOLDER_REQUEST**_.
      default: HOLDER_REQUEST
      enum:
        - HOLDER_REQUEST
        - COMMERCIAL_DISAGREEMENT
    CancelRequest:
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/ReasonType'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Inclua o token de autorização do tipo Bearer
      scheme: bearer
      bearerFormat: JWT
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
    - curl
